openapi: 3.2.0
info:
  title: Verifiable API Documentation Groups API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Groups
  description: Endpoints related to managing and listing groups. Providers and payers can be associated with groups.
paths:
  /groups:
    post:
      tags:
      - Groups
      summary: Create a new group
      description: Creates a new medical group of providers.
      operationId: CreateGroup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Groups
      summary: List groups
      description: Returns groups
      operationId: ListGroups
      parameters:
      - name: providerId
        in: query
        description: If set, the items will be filtered by `providerId`.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /groups/{groupId}:
    get:
      tags:
      - Groups
      summary: Get an existing group
      description: Returns the data for a specific group.
      operationId: GetGroup
      parameters:
      - name: groupId
        in: path
        description: Identifier of the group to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Groups
      summary: Patch an existing group
      description: Allows you to change a group's name or other data properties.
      operationId: PatchGroup
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - Groups
      summary: Delete an existing group
      description: This will delete the group and all its associations with providers.
      operationId: DeleteGroup
      parameters:
      - name: groupId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /groups/{groupId}/enrollments:
    get:
      tags:
      - Groups
      summary: List enrollments for the group
      description: Returns a page of enrollments for the specified group or generated csv roster if `rosterType` parameter specified.
      operationId: ListGroupEnrollments
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of the group to get enrollments for.
        required: true
        schema:
          type: string
          format: uuid
      - name: payerPlanId
        in: query
        description: If set, the items will be filtered on enrollments with the specified payer plan.
        schema:
          type: string
          format: uuid
      - name: networkStatus
        in: query
        description: If set, the items will be filtered on enrollments with the specified network status.
        schema:
          enum:
          - None
          - Par
          - NonPar
          type: string
      - name: enrollmentStatus
        in: query
        description: If set, the items will be filtered on enrollments with the specified enrollment status.
        schema:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
      - name: specialistType
        in: query
        description: If set, the items will be filtered on enrollments with the specified specialist type.
        schema:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
      - name: submissionDate
        in: query
        schema:
          type: string
          format: date-time
      - name: effectiveDate
        in: query
        schema:
          type: string
          format: date-time
      - name: sortedBy
        in: query
        schema:
          enum:
          - Id
          - NetworkStatus
          - EnrollmentStatus
          - SpecialistType
          - SubmissionDate
          - EffectiveDate
          - PayerPlanName
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - NetworkStatus
              - EnrollmentStatus
              - SpecialistType
              - SubmissionDate
              - EffectiveDate
              - PayerPlanName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      - name: rosterType
        in: query
        description: If set, csv report of specified type will be generated.
        schema:
          enum:
          - Providers
          - Licenses
          - Deas
          - LiabilityInsurances
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEnrollmentPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /groups/{groupId}/providers:
    get:
      tags:
      - Groups
      summary: List providers for the group
      description: Returns a page of providers for the specified group or generated csv roster if `rosterType` parameter specified.
      operationId: ListGroupProviders
      parameters:
      - name: groupId
        in: path
        description: The unique identifier of the group to get providers for.
        required: true
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: If set, the items will be filtered on providers with the specified status.
        schema:
          enum:
          - None
          - NeedsReview
          - ExpiresSoon
          - Expired
          - Monitored
          - NotMonitored
          - NotFoundLicenses
          - DisciplinaryActionLicenses
          - UnableToVerifyLicenses
          type: string
      - name: providerName
        in: query
        schema:
          type: string
      - name: credentialingStatus
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing status.
        schema:
          type: array
          items:
            type: string
      - name: providerTypeId
        in: query
        schema:
          type: string
          format: uuid
      - name: npi
        in: query
        description: If set, the items will be filtered on providers with the specified npi number.
        schema:
          type: integer
          format: int64
      - name: deactivated
        in: query
        schema:
          type: boolean
      - name: nextCredentialingDateOnOrAfter
        in: query
        schema:
          type: string
          format: date
      - name: nextCredentialingDateOnOrBefore
        in: query
        schema:
          type: string
          format: date
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - LastName
          - FirstName
          - CredentialingStatus
          - CredentialedDate
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - LastName
              - FirstName
              - CredentialingStatus
              - CredentialedDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      - name: rosterType
        in: query
        description: If set, csv report of specified type will be generated.
        schema:
          enum:
          - Providers
          - Licenses
          - Deas
          - LiabilityInsurances
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Groups
      summary: Patch providers-group relations
      description: Patch associations between group and providers.
      operationId: PatchGroupProviderRelation
      parameters:
      - name: groupId
        in: path
        description: Identifier of the group.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupProviderRelationPatchModel'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /groups/{groupId}/payer-plans:
    patch:
      tags:
      - Groups
      summary: Patch payer plans-group relations
      description: Patch associations between group and payer plans.
      operationId: PatchGroupPayerPlanRelation
      parameters:
      - name: groupId
        in: path
        description: Identifier of the group.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupPayerRelationPatchModel'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    ProviderModel:
      required:
      - credentialingStatus
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider.
          format: uuid
        firstName:
          minLength: 1
          type: string
          description: The first (given) name associated with this provider.
        lastName:
          minLength: 1
          type: string
          description: The last (family) name associated with this provider.
        dateOfBirth:
          type: string
          description: The date of birth of this provider.
          format: date-time
        ssn:
          type: string
          description: The social security number of this provider.
        credentialingStatus:
          minLength: 1
          type: string
          description: The name of credentialing status. The default value is 'Data Collection'.
        credentialedDate:
          type: string
          description: Date this provider was originally credentialed
          format: date-time
        nextCredentialingDate:
          type: string
          description: Date this provider should be credentialed next
          format: date
        npi:
          type: integer
          description: The 10 digit National Provider Identifiers (NPI) of this provider.
          format: int64
        deactivated:
          type: boolean
          description: If set, the provider is deactivated. Verifications and profile imports can't be triggered for the inactive provider.
        deactivatedAt:
          type: string
          format: date-time
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAliasModel'
          description: A list of aliases that this provider is also known by.
        primaryPracticeState:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The primary practice state of the provider.
        additionalPracticeStates:
          type: array
          items:
            enum:
            - AL
            - AK
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FL
            - GA
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VA
            - WA
            - WV
            - WI
            - WY
            - AS
            - GU
            - MP
            - PR
            - VI
            type: string
          description: Additional practice states of the provider. Cannot include the primary practice state.
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
          description: Provider's gender (optional).
        ethnicity:
          type: array
          items:
            enum:
            - AmericanIndianOrAlaskaNative
            - Asian
            - BlackOrAfricanAmerican
            - HispanicOrLatino
            - NativeHawaiianOrOtherPacificIslander
            - White
            - PreferNotToSay
            - NoInformationToAnswer
            type: string
          description: Provider's ethnicity (optional).
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAddressModel'
          description: If set, the provider's `addresses` will be updated with this value. To remove the addresses pass an empty array.
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProviderEmailModel'
          description: If set, the provider's `emails` will be updated with this value. To remove the emails pass an empty array.
        phone:
          type: string
          description: Primary phone number associated with this provider
        languages:
          type: array
          items:
            type: string
          description: A list of languages, other than English, this provider speaks.
        recredentialedDates:
          type: array
          items:
            type: string
            format: date-time
          description: A list of dates when this provider was re-credentialed.
        providerType:
          $ref: '#/components/schemas/ProviderTypeModel'
        nuccGroup:
          $ref: '#/components/schemas/TaxonomyGroupModel'
        segment:
          $ref: '#/components/schemas/SegmentModel'
        createdAt:
          type: string
          description: Timestamp when this provider was created.
          format: date-time
      additionalProperties: false
    ProviderAliasModel:
      type: object
      properties:
        firstName:
          type: string
          description: The first (given) name of this alias.
        lastName:
          type: string
          description: The last (family) name of this alias.
        id:
          type: string
          description: Unique identifier for this alias.
          format: uuid
      additionalProperties: false
    ProviderEnrollmentPageModel:
      type: object
      properties:
        sort:
          type:
          - object
          - 'null'
          properties:
            Keys:
              enum:
              - Id
              - NetworkStatus
              - EnrollmentStatus
              - SpecialistType
              - SubmissionDate
              - EffectiveDate
              - PayerPlanName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
        previousCursor:
          type:
          - string
          - 'null'
        nextCursor:
          type:
          - string
          - 'null'
        nextOffset:
          type:
          - integer
          - 'null'
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProviderEnrollmentModel'
        sortedBy:
          enum:
          - Id
          - NetworkStatus
          - EnrollmentStatus
          - SpecialistType
          - SubmissionDate
          - EffectiveDate
          - PayerPlanName
          type:
          - string
          - 'null'
        sortDirection:
          enum:
          - Asc
          - Desc
          type:
          - string
          - 'null'
      additionalProperties: false
    TaxonomyGroupModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the taxonomy group.
          format: uuid
        name:
          type: string
          description: Name of the taxonomy group (e.g., "Allopathic & Osteopathic Physicians").
      additionalProperties: false
      example:
        id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        name: Allopathic & Osteopathic Physicians
    GroupRequestModel:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name associated with this group.
        npi:
          type: integer
          description: NPI number associated with this group.
          format: int64
        taxId:
          type: string
          description: Tax ID number associated with this group.
        remitAddress:
          $ref: '#/components/schemas/AddressModel'
      additionalProperties: false
    GroupPayerRelationPatchModel:
      type: object
      properties:
        add:
          type: array
          items:
            type: string
            format: uuid
          description: Collection of unique payer plan identifiers. If set, new relations between the group and specified payer plan in this collection will be created.
        remove:
          type: array
          items:
            type: string
            format: uuid
          description: Collection of unique payer plan identifiers. If set, the existing relations between the group and specified payer plan in this collection will be removed.
      additionalProperties: false
      example:
        add:
        - 5d03a731-b9b5-45b9-b67e-06bb44369102
        - ea82c3cc-9206-4d22-a501-5dd6624457d3
        remove:
        - 2b159576-92f6-453e-aaf6-822402536e02
    ProviderAddressModel:
      required:
      - addressLine1
      - city
      - state
      - zipCode
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: Abbreviation of the state in which the city is located.
        zipCode:
          minLength: 1
          type: string
          description: The postal code associated with the address.
        city:
          minLength: 1
          type: string
          description: The city in which the address is located.
        addressLine1:
          minLength: 1
          type: string
          description: The street address.
        addressLine2:
          type: string
          description: The secondary address information.
        type:
          enum:
          - Unspecified
          - Home
          - Work
          type: string
          description: The type of address.
        id:
          type: string
          description: Unique identifier for this address.
          format: uuid
      additionalProperties: false
    ProviderTypeModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider type.
          format: uuid
        name:
          type: string
          description: Associated provider type name.
      additionalProperties: false
    GroupModel:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this group.
          format: uuid
        name:
          minLength: 1
          type: string
          description: The name associated with this group.
        npi:
          type: integer
          description: NPI number associated with this group.
          format: int64
        taxId:
          type: string
          description: Tax ID number associated with this group.
        remitAddress:
          $ref: '#/components/schemas/AddressModel'
      additionalProperties: false
    SegmentModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the segment.
          format: uuid
        name:
          type: string
          description: Name of the segment. Used for multi-tenant organizations for billing, configuration, and tracking purposes.
      additionalProperties: false
      example:
        id: 3516a6ba-c998-4bfb-9017-322f8cf63674
        name: acme-corp
    GroupProviderRelationPatchModel:
      type: object
      properties:
        add:
          type: array
          items:
            type: string
            format: uuid
          description: Collection of unique provider identifiers. If set, new relations between the group and specified provider in this collection will be created.
        remove:
          type: array
          items:
            type: string
            format: uuid
          description: Collection of unique provider identifiers. If set, the existing relations between the group and specified provider in this collection will be removed.
      additionalProperties: false
      example:
        add:
        - 5d03a731-b9b5-45b9-b67e-06bb44369102
        - ea82c3cc-9206-4d22-a501-5dd6624457d3
        remove:
        - 2b159576-92f6-453e-aaf6-822402536e02
    AddressModel:
      required:
      - addressLine1
      - city
      - state
      - zipCode
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        zipCode:
          minLength: 1
          type: string
        city:
          minLength: 1
          type: string
        addressLine1:
          minLength: 1
          type: string
        addressLine2:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderEnrollmentModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider enrollment.
          format: uuid
        payerPlanId:
          type: string
          description: Payer Plan Id associated with this provider enrollment.
          format: uuid
        groupId:
          type: string
          description: Group Id associated with this provider enrollment.
          format: uuid
        providerId:
          type: string
          description: Provider Id associated with this provider enrollment.
          format: uuid
        enrollmentStatus:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
          description: Status of the enrollment.
        submissionDate:
          type: string
          description: Submission Date associated with this provider enrollment.
          format: date-time
        closedDate:
          type: string
          description: Closed Date associated with this provider enrollment.
          format: date-time
        effectiveDate:
          type: string
          description: Effective Date associated with this provider enrollment.
          format: date-time
        networkStatus:
          enum:
          - None
          - Par
          - NonPar
          type: string
          description: Network Status associated with this provider enrollment.
        specialistType:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
          description: Specialist Type associated with this provider enrollment.
        externalProviderPlanId:
          type: string
          description: '`ProviderId` in external system.'
        comments:
          type: string
        payerPlanModel:
          $ref: '#/components/schemas/PayerPlanModel'
        groupModel:
          $ref: '#/components/schemas/GroupModel'
      additionalProperties: false
    ProviderPageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - LastName
              - FirstName
              - CredentialingStatus
              - CredentialedDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProviderModel'
          description: The providers in the current page.
        sortedBy:
          enum:
          - Id
          - LastName
          - FirstName
          - CredentialingStatus
          - CredentialedDate
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          firstName: string
          lastName: string
          dateOfBirth: '2019-08-24T14:15:22.0000000Z'
          ssn: '***'
          credentialingStatus: string
          credentialedDate: '2019-08-24T14:15:22.0000000Z'
          npi: 0
          aliases:
          - id: 9b4c12e8-02c5-4107-a524-c02416d43079
            firstName: string
            lastName: string
          addresses:
          - id: e57c9ee4-807d-456a-bf32-623280064ca5
            state: AL
            zipCode: string
            city: string
            addressLine1: string
            addressLine2: string
            type: Unspecified
          emails:
          - id: 1d46ecfe-5ce4-4b9c-aaba-3543e15d36d1
            email: string
            type: Unspecified
          phone: string
          languages:
          - string
          recredentialedDates:
          - '2019-08-24T14:15:22.0000000Z'
          providerType:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            name: string
        sortedBy: Id
        sortDirection: Asc
        sort:
          Id: Asc
          FirstName: Asc
          LastName: Asc
          CredentialingStatus: Desc
    PayerPlanModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this payer plan.
          format: uuid
        name:
          type: string
          description: The name associated with this payer plan.
        payerId:
          type: string
          description: Id of the payer assosiated with this plan
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: US state 2-letter code associated with this payer plan.
        displayName:
          type: string
          description: Name displayed in lists in the format of {Payer name} - {Payer plan name}
          readOnly: true
      additionalProperties: false
    ProviderEmailModel:
      type: object
      properties:
        email:
          type: string
          description: The email associated with the provider.
        type:
          enum:
          - Unspecified
          - Personal
          - Work
          type: string
          description: The type of the email.
        id:
          type: string
          description: Unique identifier for this specific email.
          format: uuid
      additionalProperties: false
    GroupPatchModel:
      type: object
      properties:
        name:
          type: string
          description: If set, the group's `name` will be updated with this value.
        npi:
          type: integer
          description: If set, the group's `npi` will be updated with this value.
          format: int64
        taxId:
          type: string
          description: If set, the group's `taxId` will be updated with this value.
        remitAddress:
          $ref: '#/components/schemas/AddressModel'
      additionalProperties: false
      example:
        name: string
        npi: 1234567890
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
