openapi: 3.2.0
info:
  title: Verifiable API Documentation SSO Auth API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: SsoAuth
paths:
  /auth/token/oauth:
    post:
      tags:
      - SsoAuth
      operationId: SsoAuth
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoAuthModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      summary: Sso auth
      x-summary-source: derived
components:
  schemas:
    UserRoleModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          enum:
          - Admin
          - LimitedAdmin
          - Credentialing
          - LimitedCredentialing
          - Reader
          - LimitedReader
          type: string
        permissions:
          type:
          - object
          - 'null'
          additionalProperties:
            enum:
            - None
            - Read
            - Write
            - Allowed
            type: string
      additionalProperties: false
    SsoAuthModel:
      required:
      - accessToken
      type: object
      properties:
        accessToken:
          $ref: '#/components/schemas/SensitiveString'
      additionalProperties: false
    SensitiveString:
      type: object
      additionalProperties: false
      description: If `includeSensitiveInfo` query parameter set to true the value will be shown in the response, otherwise it will be masked with *.
      example: '***'
    AuthResponseModel:
      type: object
      properties:
        tokenId:
          type: string
          description: Unique identifier for this token. This can be used to invalidate a token.
          format: uuid
        token:
          type: string
          description: The access token to be used in following API calls.
        email:
          type: string
          description: The e-mail address of the user. It will either be the same e-mail address used on the password authentication or the e-mail address of the Google account in the case of Google authentication.
        role:
          $ref: '#/components/schemas/UserRoleModel'
        expiresAt:
          type: string
          description: Expiration time of the access token.
          format: date-time
        persistenceHint:
          enum:
          - Persistent
          - Ephemeral
          type: string
      additionalProperties: false
      example:
        tokenId: 0847312d-19fe-49d2-9e21-5825735b511a
        token: MtetyFcIW...xgXXX-Z4yy
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
