openapi: 3.2.0
info:
  title: Verifiable API Documentation Definitions API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Definitions
  description: Definitions for static data
paths:
  /countries:
    get:
      tags:
      - Definitions
      summary: List countries
      description: Returns the list of supported countries
      operationId: ListCountries
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CountryModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /taxonomies:
    get:
      tags:
      - Definitions
      summary: List NUCC taxonomies
      description: 'Returns a paginated list of NUCC (National Uniform Claim Committee) healthcare provider taxonomy codes.


        Taxonomy codes are used to identify healthcare provider types and specializations for credentialing, enrollment, and verification purposes.'
      operationId: ListTaxonomies
      parameters:
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 250
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: 'The property by which the returned data will be sorted. Accepted values: `Id`, `Code`.'
        schema:
          enum:
          - Id
          - Code
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxonomyPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /taxonomies/groups:
    get:
      tags:
      - Definitions
      summary: List NUCC taxonomy groups
      description: Returns a paginated list of NUCC taxonomy groups.
      operationId: ListTaxonomyGroups
      parameters:
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 250
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: 'The property by which the returned data will be sorted. Accepted values: `Id`, `Name`.'
        schema:
          enum:
          - Id
          - Name
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxonomyGroupPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    CountryModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this country.
          format: uuid
          readOnly: true
        name:
          type: string
          description: The name of the country.
          readOnly: true
        isoCode:
          type: string
          description: The 3-letter ISO code of the country.
          readOnly: true
        createdAt:
          type: string
          description: The timestamp of the addition of this country to Verifiable's data.
          format: date-time
          readOnly: true
      additionalProperties: false
    TaxonomyGroupPageModel:
      type: object
      properties:
        previousCursor:
          type: string
          description: Cursor for previous page or null if first page.
        nextCursor:
          type: string
          description: Cursor for next page or null if last page.
        nextOffset:
          type: integer
          format: int32
        pageSize:
          type: integer
          description: Maximum items per page.
          format: int32
        count:
          type: integer
          description: Number of items in current page.
          format: int32
        totalCount:
          type: integer
          description: Total items across all pages.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaxonomyGroupModel'
          description: Taxonomy groups in current page.
        sortedBy:
          enum:
          - Id
          - Name
          type: string
          description: Property by which data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: Sort direction (Asc/Desc).
        sort:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
      additionalProperties: false
      example:
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          name: Allopathic & Osteopathic Physicians
        count: 100
        totalCount: 150
        pageSize: 100
    TaxonomyGroupModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the taxonomy group.
          format: uuid
        name:
          type: string
          description: Name of the taxonomy group (e.g., "Allopathic & Osteopathic Physicians").
      additionalProperties: false
      example:
        id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        name: Allopathic & Osteopathic Physicians
    TaxonomyPageModel:
      type: object
      properties:
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/TaxonomyModel'
          description: The NUCC taxonomy codes in the current page.
        sortedBy:
          enum:
          - Id
          - Code
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
        sort:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
          description: The properties and directions the data is sorted by.
      additionalProperties: false
      example:
        previousCursor: '0'
        nextCursor: '100'
        pageSize: 100
        count: 100
        totalCount: 850
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          code: 207R00000X
          grouping: Allopathic & Osteopathic Physicians
          classification: Internal Medicine
          specialization: Cardiovascular Disease
          section: Section 1
          displayName: Internal Medicine - Cardiovascular Disease
        sortedBy: Code
        sortDirection: Asc
        sort:
          Code: Asc
    TaxonomyModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the taxonomy.
          format: uuid
        code:
          type: string
          description: 10-character NUCC taxonomy code (e.g., "207R00000X").
        grouping:
          type: string
          description: Grouping classification (e.g., "Allopathic & Osteopathic Physicians").
        classification:
          type: string
          description: Classification within the grouping (e.g., "Internal Medicine").
        specialization:
          type: string
          description: Specialization within the classification (e.g., "Cardiovascular Disease").
        section:
          type: string
          description: Section identifier for the taxonomy.
        displayName:
          type: string
          description: Human-readable display name for the taxonomy.
      additionalProperties: false
      example:
        id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        code: 207R00000X
        grouping: Allopathic & Osteopathic Physicians
        classification: Internal Medicine
        specialization: Cardiovascular Disease
        section: Section 1
        displayName: Internal Medicine - Cardiovascular Disease
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
