openapi: 3.2.0
info:
  title: Verifiable API Documentation Users API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Users
  description: Endpoints related to managing and listing users.
paths:
  /users/me/password:
    post:
      tags:
      - Users
      summary: Change the password of the current user
      description: 'Changes the password of the current user.


        **Note:** If the current user does not have a password (e.g. they use Google Authentication) `password` can be empty. Otherwise, `password` must be the current password of the user.'
      operationId: SetCurrentUserPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordUpdateModel'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    PasswordUpdateModel:
      required:
      - newPassword
      type: object
      properties:
        password:
          type: string
          description: The password associated with the current user.
        newPassword:
          minLength: 1
          type: string
          description: A new password to associate with the current user.
      additionalProperties: false
      example:
        password: secret
        newPassword: even-more-secret
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
