openapi: 3.2.0
info:
  title: Verifiable API Documentation Facilities Info API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: FacilitiesInfo
  description: Endpoints related to managing and retrieving detailed Facility Info. These APIs allow you to manage key information associated with a facility, including NPI numbers, DEA registrations, liability insurance policies, licenses, accreditations, CMS certifications, and Medicare enrollments. Most Facility Info types can have multiple entries per facility and support full CRUD operations via standard HTTP methods (POST, PATCH, DELETE, and GET).
paths:
  /facilities/{facilityId}/info:
    get:
      tags:
      - FacilitiesInfo
      summary: Get info for the existing facility
      description: Returns the info for a specific facility.
      operationId: GetFacilityInfo
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilityInfoTypes
        in: query
        description: 'If not specified, will return all data for the facility. Info types can be combined, ex.: `facilityInfoTypes=npi&facilityInfoTypes=dea`.'
        schema:
          type: array
          items:
            enum:
            - Npi
            - Dea
            - LiabilityInsurance
            - License
            - Accreditation
            - CmsCertification
            - MedicareEnrollment
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Accreditation:
                    $ref: '#/components/schemas/FacilityAccreditationModel'
                  CmsCertification:
                    $ref: '#/components/schemas/FacilityCmsCertificationModel'
                  Dea:
                    $ref: '#/components/schemas/FacilityDeaModel'
                  LiabilityInsurance:
                    $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
                  License:
                    $ref: '#/components/schemas/FacilityLicenseModel'
                  MedicareEnrollment:
                    $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
                  Npi:
                    $ref: '#/components/schemas/FacilityNpiModel'
              example:
                Npi: []
                Dea:
                - deaNumber: '123456789'
                  nonVerifiedInfo:
                    state: ME
                    expirationDate: '2025-01-01'
                    paymentIndicator: Paid
                    isActive: true
                  id: b939ccdc-4acf-4b3a-b2d2-40f1e0788821
                  lastUpdatedAt: '2025-06-03T20:49:03.9129760Z'
                  appliesTo: SelfOnly
                  associatedFacilitySpecialtyIds: []
                LiabilityInsurance: []
                License:
                - licenseTypeId: 634f8676-d588-4b4d-8e20-06a6e3c1c435
                  state: AL
                  licenseNumber: LN-12345
                  isPrimary: true
                  nonVerifiedInfo:
                    issueDate: '2010-01-01'
                    expirationDate: '2026-01-01'
                  id: cea8ea8e-7a1e-43d9-87fb-b56d38ed9078
                  lastUpdatedAt: '2025-06-03T20:53:28.7712720Z'
                  appliesTo: SelfOnly
                  associatedFacilitySpecialtyIds: []
                Accreditation: []
                CmsCertification: []
                MedicareEnrollment: []
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      x-codeSamples: []
  /facilities/{facilityId}/info/npis:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a NPI for an existing facility
      description: Add a NPI for the specified facility.
      operationId: CreateFacilityNpiInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityNpiRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityNpiModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's NPIs
      description: Returns all NPIs associated with the specified facility.
      operationId: ListFacilityNpiInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityNpiModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/npis/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get NPI for an existing facility
      description: Returns the NPI for a specific facility.
      operationId: GetFacilityNpiInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityNpiModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's NPI
      description: Change an existing NPI associated with the specified facility.
      operationId: PatchFacilityNpiInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityNpiPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityNpiModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing NPI for a facility
      description: Deletes an existing NPI associated with the specified facility.
      operationId: DeleteFacilityNpiInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/deas:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a DEA for an existing facility
      description: Add a DEA for the specified facility.
      operationId: CreateFacilityDeaInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityDeaRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDeaModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's DEAs
      description: Returns all DEAs associated with the specified facility.
      operationId: ListFacilityDeaInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityDeaModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/deas/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get DEA for an existing facility
      description: Returns the DEA for a specific facility.
      operationId: GetFacilityDeaInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDeaModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's DEA
      description: Change an existing DEA associated with the specified facility.
      operationId: PatchFacilityDeaInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityDeaPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityDeaModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing DEA for a facility
      description: Deletes an existing DEA associated with the specified facility.
      operationId: DeleteFacilityDeaInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/liabilityInsurances:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a Liability Insurance for an existing facility
      description: Add a Liability Insurance for the specified facility.
      operationId: CreateFacilityLiabilityInsuranceInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityLiabilityInsuranceRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's Liability Insurances
      description: Returns all Liability Insurances associated with the specified facility.
      operationId: ListFacilityLiabilityInsuranceInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/liabilityInsurances/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get Liability Insurance for an existing facility
      description: Returns the Liability Insurance for a specific facility.
      operationId: GetFacilityLiabilityInsuranceInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's Liability Insurance
      description: Change an existing Liability Insurance associated with the specified facility.
      operationId: PatchFacilityLiabilityInsuranceInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityLiabilityInsurancePatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing Liability Insurance for a facility
      description: Deletes an existing Liability Insurance associated with the specified facility.
      operationId: DeleteFacilityLiabilityInsuranceInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/licenses:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a License for an existing facility
      description: Add a License for the specified facility.
      operationId: CreateFacilityLicenseInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityLicenseRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's Licenses
      description: Returns all Licenses associated with the specified facility.
      operationId: ListFacilityLicenseInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityLicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/licenses/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get License for an existing facility
      description: Returns the License for a specific facility.
      operationId: GetFacilityLicenseInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's License
      description: Change an existing License associated with the specified facility.
      operationId: PatchFacilityLicenseInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityLicensePatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityLicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing License for a facility
      description: Deletes an existing License associated with the specified facility.
      operationId: DeleteFacilityLicenseInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/accreditations:
    post:
      tags:
      - FacilitiesInfo
      summary: Create an Accreditation for an existing facility
      description: Add an Accreditation for the specified facility.
      operationId: CreateFacilityAccreditationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityAccreditationRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityAccreditationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's Accreditations
      description: Returns all Accreditations associated with the specified facility.
      operationId: ListFacilityAccreditationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityAccreditationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/accreditations/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get Accreditation for an existing facility
      description: Returns the Accreditation for a specific facility.
      operationId: GetFacilityAccreditationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityAccreditationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's Accreditation
      description: Change an existing Accreditation associated with the specified facility.
      operationId: PatchFacilityAccreditationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityAccreditationPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityAccreditationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing Accreditation for a facility
      description: Deletes an existing Accreditation associated with the specified facility.
      operationId: DeleteFacilityAccreditationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/cmsCertifications:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a CMS Certification for an existing facility
      description: Add a CMS Certification for the specified facility.
      operationId: CreateFacilityCmsCertificationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityCmsCertificationRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityCmsCertificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's CMS Certifications
      description: Returns all CMS Certifications associated with the specified facility.
      operationId: ListFacilityCmsCertificationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityCmsCertificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/cmsCertifications/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get CMS Certification for an existing facility
      description: Returns the CMS Certification for a specific facility.
      operationId: GetFacilityCmsCertificationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityCmsCertificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's CMS Certification
      description: Change an existing CMS Certification associated with the specified facility.
      operationId: PatchFacilityCmsCertificationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityCmsCertificationPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityCmsCertificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete existing CMS Certification for a facility
      description: Deletes an existing CMS Certification associated with the specified facility.
      operationId: DeleteFacilityCmsCertificationInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/medicare-enrollments:
    post:
      tags:
      - FacilitiesInfo
      summary: Create a Medicare Enrollment for an existing facility
      description: Add a Medicare Enrollment for the specified facility.
      operationId: CreateFacilityMedicareEnrollmentInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityMedicareEnrollmentRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesInfo
      summary: List facility's Medicare Enrollments
      description: Returns all Medicare Enrollments associated with the specified facility.
      operationId: ListFacilityMedicareEnrollmentInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/info/medicare-enrollments/{id}:
    get:
      tags:
      - FacilitiesInfo
      summary: Get Medicare Enrollment for an existing facility
      description: Returns the Medicare Enrollment Info for a specific facility.
      operationId: GetFacilityMedicareEnrollmentInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesInfo
      summary: Change an existing facility's Medicare Enrollment
      description: Change an existing Medicare Enrollment associated with the specified facility.
      operationId: PatchFacilityMedicareEnrollmentInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilityMedicareEnrollmentPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesInfo
      summary: Delete a Medicare Enrollment from an existing facility
      description: Delete a Medicare Enrollment from the specified facility.
      operationId: DeleteFacilityMedicareEnrollmentInfo
      parameters:
      - name: facilityId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    FacilityAccreditationNonVerifiedInfoRequestModel:
      type: object
      properties:
        decision:
          type: string
          description: The decision for this Accreditation.
        effectiveDate:
          type: string
          description: The effective date of this Accreditation.
          format: date
        expirationDate:
          type: string
          description: The expiration date of this Accreditation.
          format: date
      additionalProperties: false
    FacilityLicenseRequestModel:
      required:
      - appliesTo
      - isPrimary
      - licenseNumber
      - licenseTypeId
      - state
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        licenseTypeId:
          type: string
          description: License type unique identifier of the license.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the license.
        licenseNumber:
          minLength: 1
          type: string
          description: License number of the license.
        isPrimary:
          type: boolean
          description: Flag to indicate if the license will be set as primary.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityLicenseNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityNpiNonVerifiedInfoRequestModel:
      type: object
      properties:
        isActive:
          type: boolean
          description: Indicates if the NPI is active or not.
      additionalProperties: false
    FacilityMedicareEnrollmentNonVerifiedInfoRequestModel:
      type: object
      properties:
        pecosEnrollmentIdentifier:
          type: string
      additionalProperties: false
    FacilityLicenseNonVerifiedInfoPatchModel:
      type: object
      properties:
        issueDate:
          type: string
          description: If set, the `issue date` of the License will be updated with this value.
          format: date
        expirationDate:
          type: string
          description: If set, the `expiration date` of the License will be updated with this value.
          format: date
        licenseStatus:
          type: string
          description: If set, the `license status` of the License will be updated with this value.
      additionalProperties: false
    FacilityAccreditationNonVerifiedInfoModel:
      type: object
      properties:
        decision:
          type: string
          description: The decision for this Accreditation.
        effectiveDate:
          type: string
          description: The effective date of this Accreditation.
          format: date
        expirationDate:
          type: string
          description: The expiration date of this Accreditation.
          format: date
      additionalProperties: false
    FacilityLiabilityInsuranceRequestModel:
      required:
      - appliesTo
      - liabilityInsurer
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        liabilityInsurer:
          minLength: 1
          type: string
          description: The name of the liability insurer.
        policyNumber:
          type: string
          description: Policy number for this Liability Insurance.
        effectiveDate:
          type: string
          description: Effective date associated with this Liability Insurance.
          format: date
        expirationDate:
          type: string
          description: Expiration date associated with this Liability Insurance.
          format: date
        coverageType:
          type: string
          description: Coverage type for this Liability Insurance.
        primaryLimitPerClaim:
          type: number
          description: Primary limit per claim for this Liability Insurance.
          format: double
        excessLimitPerClaim:
          type: number
          description: Excess limit per claim for this Liability Insurance.
          format: double
        primaryLimitAggregate:
          type: number
          description: Primary limit aggregate for this Liability Insurance.
          format: double
        excessLimitAggregate:
          type: number
          description: Excess limit aggregate for this Liability Insurance.
          format: double
      additionalProperties: false
    FacilityMedicareEnrollmentRequestModel:
      required:
      - appliesTo
      - enrollmentTypeId
      - pecosPacIdentifier
      - state
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        pecosPacIdentifier:
          minLength: 1
          type: string
          description: The unique identifier of the Pecos Pac.
        enrollmentTypeId:
          type: string
          description: Medicare Enrollment Type unique identifier of the enrollment.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the Medicare Enrollment.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityMedicareEnrollmentNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityMedicareEnrollmentPatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityMedicareEnrollmentNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityMedicareEnrollmentModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lastUpdatedAt:
          type: string
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        pecosPacIdentifier:
          type: string
          description: The unique identifier of the Pecos Pac.
        enrollmentTypeId:
          type: string
          description: Medicare Enrollment Type unique identifier of the enrollment.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the Medicare Enrollment.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityMedicareEnrollmentNonVerifiedInfoModel'
      additionalProperties: false
    FacilityDeaNonVerifiedInfoPatchModel:
      type: object
      properties:
        drugSchedules:
          type: string
          description: If set, the `drug schedules` of the DEA registration will be updated with this value.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: If set, the `state` of the DEA registration will be updated with this value.
        expirationDate:
          type: string
          description: If set, the `expiration date` of the DEA registration will be updated with this value.
          format: date
        businessActivityCode:
          type: string
          description: If set, the `business activity code` of the DEA registration will be updated with this value.
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
          description: If set, the `payment indicator` of the DEA registration will be updated with this value.
        isActive:
          type: boolean
          description: If set, the `is active` of the DEA registration will be updated with this value.
      additionalProperties: false
    FacilityAccreditationNonVerifiedInfoPatchModel:
      type: object
      properties:
        decision:
          type: string
          description: If set, the `decision` of the Accreditation will be updated with this value.
        effectiveDate:
          type: string
          description: If set, the `effective date` of the Accreditation will be updated with this value.
          format: date
        expirationDate:
          type: string
          description: If set, the `expiration date` of the Accreditation will be updated with this value.
          format: date
      additionalProperties: false
    FacilityCmsCertificationNonVerifiedInfoRequestModel:
      type: object
      properties:
        certificationDate:
          type: string
          description: The date of this CMS Certification.
          format: date
      additionalProperties: false
    FacilityAccreditationPatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        accreditationNumber:
          type: string
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityAccreditationNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityLicenseNonVerifiedInfoRequestModel:
      type: object
      properties:
        issueDate:
          type: string
          description: The date at which this Licence was issued.
          format: date
        expirationDate:
          type: string
          description: The date at which this Licence expires.
          format: date
        licenseStatus:
          type: string
          description: The status of this license.
      additionalProperties: false
    FacilityLicenseNonVerifiedInfoModel:
      type: object
      properties:
        issueDate:
          type: string
          description: The date at which this Licence was issued.
          format: date
        expirationDate:
          type: string
          description: The date at which this Licence expires.
          format: date
        licenseStatus:
          type: string
          description: The status of this license.
      additionalProperties: false
    FacilityAccreditationModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this Accreditation.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the Accreditation was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        accreditationAgencyId:
          type: string
          description: The identifier of the agency for this Accreditation.
          format: uuid
        accreditationProgramId:
          type: string
          description: The identifier of the agency's program for this Accreditation.
          format: uuid
        accreditationNumber:
          type: string
          description: The Accreditation number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityAccreditationNonVerifiedInfoModel'
      additionalProperties: false
    FacilityCmsCertificationPatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityCmsCertificationNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityLiabilityInsurancePatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        liabilityInsurer:
          type: string
          description: If set, the `liability insurer` of the Liability Insurance will be updated with this value.
        policyNumber:
          type: string
          description: If set, the `policy number` of the Liability Insurance will be updated with this value.
        effectiveDate:
          type: string
          description: If set, the `effective date` of the Liability Insurance will be updated with this value.
          format: date
        expirationDate:
          type: string
          description: If set, the `expiration date` of the Liability Insurance will be updated with this value.
          format: date
        coverageType:
          type: string
          description: If set, the `coverage type` of the Liability Insurance will be updated with this value.
        primaryLimitPerClaim:
          type: number
          description: If set, the `primary limit per claim` of the Liability Insurance will be updated with this value.
          format: double
        excessLimitPerClaim:
          type: number
          description: If set, the `excess limit per claim` of the Liability Insurance will be updated with this value.
          format: double
        primaryLimitAggregate:
          type: number
          description: If set, the `primary limit aggregate` of the Liability Insurance will be updated with this value.
          format: double
        excessLimitAggregate:
          type: number
          description: If set, the `excess limit aggregate` of the Liability Insurance will be updated with this value.
          format: double
      additionalProperties: false
    FacilityMedicareEnrollmentNonVerifiedInfoModel:
      type: object
      properties:
        pecosEnrollmentIdentifier:
          type: string
      additionalProperties: false
    FacilityDeaPatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityDeaNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityNpiPatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityNpiNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityLicensePatchModel:
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        isPrimary:
          type: boolean
          description: If set, the `is primary` of the License will be updated with this value.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityLicenseNonVerifiedInfoPatchModel'
      additionalProperties: false
    FacilityDeaNonVerifiedInfoRequestModel:
      type: object
      properties:
        drugSchedules:
          type: string
          description: The drug schedules for the DEA registration.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The state of the DEA registration holder.
        expirationDate:
          type: string
          description: The date at which this DEA registration expires.
          format: date
        businessActivityCode:
          type: string
          description: The business activity code for the DEA registration.
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
          description: The payment indicator for the DEA registration.
        isActive:
          type: boolean
          description: Indicates if the DEA registration is active or not.
      additionalProperties: false
    FacilityNpiRequestModel:
      required:
      - appliesTo
      - npi
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        npi:
          type: integer
          description: The 10 digit NPI number.
          format: int64
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityNpiNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityNpiModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this NPI.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the NPI was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        npi:
          type: integer
          description: The 10 digit NPI number.
          format: int64
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityNpiNonVerifiedInfoModel'
      additionalProperties: false
    FacilityNpiNonVerifiedInfoModel:
      type: object
      properties:
        isActive:
          type: boolean
          description: Indicates if the NPI is active or not.
      additionalProperties: false
    FacilityCmsCertificationRequestModel:
      required:
      - appliesTo
      - certificationNumber
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        certificationNumber:
          minLength: 1
          type: string
          description: The Certification number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityCmsCertificationNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityCmsCertificationNonVerifiedInfoModel:
      type: object
      properties:
        certificationDate:
          type: string
          description: The date of this CMS Certification.
          format: date
      additionalProperties: false
    FacilityCmsCertificationModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this CMS Certification.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the CMS Certification was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        certificationNumber:
          type: string
          description: The number for this CMS Certification.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityCmsCertificationNonVerifiedInfoModel'
      additionalProperties: false
    FacilityDeaNonVerifiedInfoModel:
      type: object
      properties:
        drugSchedules:
          type: string
          description: The drug schedules for the DEA registration.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The state of the DEA registration holder.
        expirationDate:
          type: string
          description: The date at which this DEA registration expires.
          format: date
        businessActivityCode:
          type: string
          description: The business activity code for the DEA registration.
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
          description: The payment indicator for the DEA registration.
        isActive:
          type: boolean
          description: Indicates if the DEA registration is active or not.
      additionalProperties: false
    FacilityLiabilityInsuranceModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this Liability Insurance.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the Liability Insurance was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        liabilityInsurer:
          type: string
          description: The name of the liability insurer.
        policyNumber:
          type: string
          description: Policy number for this Liability Insurance.
        effectiveDate:
          type: string
          description: Effective date associated with this Liability Insurance.
          format: date
        expirationDate:
          type: string
          description: Expiration date associated with this Liability Insurance.
          format: date
        coverageType:
          type: string
          description: Coverage type for this Liability Insurance.
        primaryLimitPerClaim:
          type: number
          description: Primary limit per claim for this Liability Insurance.
          format: double
        excessLimitPerClaim:
          type: number
          description: Excess limit per claim for this Liability Insurance.
          format: double
        primaryLimitAggregate:
          type: number
          description: Primary limit aggregate for this Liability Insurance.
          format: double
        excessLimitAggregate:
          type: number
          description: Excess limit aggregate for this Liability Insurance.
          format: double
      additionalProperties: false
    FacilityMedicareEnrollmentNonVerifiedInfoPatchModel:
      type: object
      properties:
        pecosEnrollmentIdentifier:
          type: string
      additionalProperties: false
    FacilityLicenseModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this License.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the License was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        licenseTypeId:
          type: string
          description: License type unique identifier of the license.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the license.
        licenseNumber:
          type: string
          description: License number of the license.
        isPrimary:
          type: boolean
          description: Flag to indicate if the license will be set as primary.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityLicenseNonVerifiedInfoModel'
      additionalProperties: false
    FacilityNpiNonVerifiedInfoPatchModel:
      type: object
      properties:
        isActive:
          type: boolean
          description: If set, the `is active` of the NPI will be updated with this value.
      additionalProperties: false
    FacilityDeaRequestModel:
      required:
      - appliesTo
      - deaNumber
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        deaNumber:
          minLength: 1
          type: string
          description: The 9 digit DEA number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityDeaNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityDeaModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this DEA.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the DEA was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        deaNumber:
          type: string
          description: The 9 digit DEA number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityDeaNonVerifiedInfoModel'
      additionalProperties: false
    FacilityAccreditationRequestModel:
      required:
      - accreditationAgencyId
      - accreditationProgramId
      - appliesTo
      type: object
      properties:
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        accreditationAgencyId:
          type: string
          description: The identifier of the agency for this Accreditation.
          format: uuid
        accreditationProgramId:
          type: string
          description: The identifier of the agency's program for this Accreditation.
          format: uuid
        accreditationNumber:
          type: string
          description: The Accreditation number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityAccreditationNonVerifiedInfoRequestModel'
      additionalProperties: false
    FacilityCmsCertificationNonVerifiedInfoPatchModel:
      type: object
      properties:
        certificationDate:
          type: string
          description: If set, the `certification date` of the CMS Certification will be updated with this value.
          format: date
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
