openapi: 3.2.0
info:
  title: Verifiable API Documentation Credentialing Requests API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: CredentialingRequests
  description: These endpoints allow you to create and get credentialing requests.
paths:
  /credentialing-requests/aggregations/owners:
    get:
      tags:
      - CredentialingRequests
      summary: Aggregate provider credentialing request owners
      description: Returns an aggregation of all owners assigned to provider credentialing requests
      operationId: AggregateCredentialingRequestOwners
      parameters:
      - name: providerDeactivated
        in: query
        description: If set, the items will be filtered on requests for the providers with the specified deactivated status.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BaseUserModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests:
    post:
      tags:
      - CredentialingRequests
      summary: Create a new credentialing request
      description: Creates a new credentialing request for a provider or facility.
      operationId: CreateCredentialingRequest
      requestBody:
        content:
          application/json:
            schema:
              type: object
              oneOf:
              - $ref: '#/components/schemas/CredentialingRequestProviderRequestModel'
              - $ref: '#/components/schemas/CredentialingRequestFacilityRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - CredentialingRequests
      summary: List credentialing requests
      description: Returns credentialing requests
      operationId: ListCredentialingRequests
      parameters:
      - name: entityType
        in: query
        description: Indicates whether to retrieve credentialing requests for providers or facilities. Defaults to `Providers`.
        schema:
          enum:
          - Provider
          - Facility
          type: string
      - name: currentEventStatus
        in: query
        description: If set, the items will be filtered by the specified current event status.
        schema:
          type: array
          items:
            enum:
            - RequestSubmitted
            - RequestInProgress
            - AdditionalInformationRequested
            - AdditionalInformationSubmitted
            - CancellationRequested
            - Cancelled
            - Completed
            - CompletedWithConcern
            - UnableToComplete
            - SecondAttemptMissingInfo
            - ThirdAttemptMissingInfo
            type: string
      - name: providerCredentialingStatus
        in: query
        description: If set, the items will be filtered by the specified provider credentialing status. Has no effect when querying facilities.
        schema:
          type: array
          items:
            type: string
      - name: priority
        in: query
        description: If set, the items will be filtered by the specified priority.
        schema:
          type: array
          items:
            enum:
            - Low
            - Medium
            - High
            - Urgent
            type: string
      - name: ownerId
        in: query
        description: If set, the items will be filtered by the specified owner.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: includeUnassigned
        in: query
        description: If set, the items will include credentialing requests that are not assigned to any specified owner. Intended to be used together with `ownerId`.
        schema:
          type: boolean
      - name: credentialingRequestType
        in: query
        description: If set, the items will be filtered by the specified credentialing request type.
        schema:
          enum:
          - Initial
          - ReCredentialing
          - OffCycle
          type: string
      - name: entityId
        in: query
        description: If set, the items will be filtered by the specified entity identifier (`providerId` or `facilityId`).
        schema:
          type: string
          format: uuid
      - name: entityName
        in: query
        description: If set, the items will be filtered by the specified entity name (provider name/alias or facility name).
        schema:
          type: string
      - name: entityNpi
        in: query
        description: If set, the items will be filtered by the specified entity NPI number.
        schema:
          type: integer
          format: int64
      - name: entityDeactivated
        in: query
        description: If set, the items will be filtered by the specified entity deactivated status.
        schema:
          type: boolean
      - name: facilitySpecialtyId
        in: query
        description: If set, the items will be filtered by the specified specialty.
        schema:
          type: string
          format: uuid
      - name: providerId
        in: query
        description: See `entityId`.
        deprecated: true
        schema:
          type: string
          format: uuid
          deprecated: true
      - name: providerName
        in: query
        description: See `entityName`.
        deprecated: true
        schema:
          type: string
          deprecated: true
      - name: providerNpi
        in: query
        description: See `entityNpi`.
        deprecated: true
        schema:
          type: integer
          format: int64
          deprecated: true
      - name: providerDeactivated
        in: query
        description: See `entityDeactivated`.
        deprecated: true
        schema:
          type: boolean
          deprecated: true
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - CreatedAt
          - Priority
          - CurrentEventStatus
          - CurrentEventDate
          - ProviderId
          - ProviderFirstName
          - ProviderLastName
          - ProviderCredentialingStatus
          - FacilityId
          - FacilityName
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - CreatedAt
              - Priority
              - CurrentEventStatus
              - CurrentEventDate
              - ProviderId
              - ProviderFirstName
              - ProviderLastName
              - ProviderCredentialingStatus
              - FacilityId
              - FacilityName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests/{requestId}/events:
    post:
      tags:
      - CredentialingRequests
      summary: Create a new credentialing request event
      description: Creates a new event for a credentialing request event.
      operationId: CreateCredentialingRequestEvent
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialingRequestEventRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestEventModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests/{requestId}:
    get:
      tags:
      - CredentialingRequests
      summary: Get a specific credentialing request
      description: Returns the data for a specific credentialing request.
      operationId: GetCredentialingRequest
      parameters:
      - name: requestId
        in: path
        description: Identifier of the credentialing request to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - CredentialingRequests
      summary: Patch an existing credentialing request
      description: Changes properties for an existing credentialing request.
      operationId: PatchCredentialingRequest
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialingRequestPatchModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests/aggregations:
    get:
      tags:
      - CredentialingRequests
      summary: Get credentialing requests aggregations
      description: Returns aggregated counts for provider or facility credentialing requests.
      operationId: GetCredentialingRequestAggregations
      parameters:
      - name: entityDeactivated
        in: query
        description: If set, the items will be filtered based on the deactivated status of entities. If not specified, all entities are included regardless of deactivation status.
        schema:
          type: boolean
      - name: entityType
        in: query
        description: The entity type to be used for filtering items. Valid values are `Practitioner` or `Facility`. Default is `Practitioner`.
        schema:
          enum:
          - Practitioner
          - Facility
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestAggregationModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests/{requestId}/events/{eventId}:
    get:
      tags:
      - CredentialingRequests
      summary: Get a specific credentialing request event
      description: Returns the data for a specific credentialing request event.
      operationId: GetCredentialingRequestEvent
      parameters:
      - name: requestId
        in: path
        description: Identifier of the credentialing request to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: eventId
        in: path
        description: Identifier of the credentialing request event to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CredentialingRequestEventModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/credentialing-data:
    get:
      tags:
      - CredentialingRequests
      summary: Get the credentialing data for a facility
      description: Returns the credentialing data for a facility.
      operationId: GetFacilityCredentialingData
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: credentialingRequestId
        in: query
        description: Identifier of the credentialing request associated to the facility.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilityCredentialingDataModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/credentialing-data:
    get:
      tags:
      - CredentialingRequests
      summary: Get the credentialing data for a provider
      description: Returns the credentialing data for a provider.
      operationId: GetProviderCredentialingData
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: credentialingRequestId
        in: query
        description: Identifier of the credentialing request associated to the provider.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderCredentialingDataModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /credentialing-requests/{requestId}/checklist:
    put:
      tags:
      - CredentialingRequests
      summary: Create or replace a credentialing request checklist
      description: Creates or replaces a checklist for a credentialing request.
      operationId: CreateCredentialingRequestChecklist
      parameters:
      - name: requestId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CredentialingRequestChecklistRequestModel'
      responses:
        '204':
          description: No Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NoContentResult'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    ProviderProfileImportModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider profile import.
          format: uuid
        providerId:
          type: string
          description: The provider unique identifier associated with this profile import.
          format: uuid
        source:
          enum:
          - Npi
          - CaqhPo
          - AmericanMedicalAssociationPhysician
          - AmericanMedicalAssociationPhysicianAssistant
          type: string
          description: Source of the import.
          example: CaqhPo
        started:
          type: string
          description: TimeStamp of this import when started
          format: date-time
        completed:
          type: string
          description: TimeStamp of this import when completed or `null` if is still in progress.
          format: date-time
        status:
          enum:
          - Pending
          - Working
          - Completed
          - Failed
          type: string
          description: Status of the import. If it is `Pending` or `Working` it means that we are busy performing the import. Once the status is `Completed` or `Failed` the import is done.
        trigger:
          enum:
          - Manual
          - Automated
          type: string
          description: Type of trigger for this import.
        failureCode:
          enum:
          - DatabaseError
          - InvalidImportSourceError
          - UnknownError
          - ParseError
          - NpiSourceError
          - ImportError
          - ImportRequestError
          - SourceError
          - NoContent
          - BadRequest
          - Unauthorized
          - Forbidden
          - NotFound
          - NotAcceptable
          - RequestTimeout
          - TooManyRequests
          - InternalServerError
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          type: string
          description: If set it means there was an error during the import or `null` when no errors happened.
        failureReason:
          $ref: '#/components/schemas/FailureModel'
        profile:
          $ref: '#/components/schemas/ProviderProfileModel'
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/IProviderParameter'
      additionalProperties: false
    LicenseVerificationResultModel:
      type: object
      properties:
        name:
          type: string
          description: Name of the provider as indicated by the source.
        licenseType:
          type: string
          description: Textual description of the license type as indicated by the source.
        licenseStatus:
          type: string
          description: Textual description of the license status as indicated by the source.
        licenseNumber:
          type: string
          description: License number as indicated by the source.
        address:
          type: string
          description: Address of the license holder as indicated by the source.
        issued:
          type: string
          description: Timestamp when the license was issued as indicated by the source.
          format: date-time
        expires:
          type: string
          description: Timestamp when the license expires as indicated by the source.
          format: date-time
        screenshots:
          type: array
          items:
            type: string
          description: Array of paths to screenshots that were taken as proof of the license verification.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationAttachmentModel'
          description: Array of attachments related to the verification that were taken from the source.
        disciplinaryActions:
          $ref: '#/components/schemas/FlexibleDataModel'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        problems:
          type: array
          items:
            enum:
            - NameMismatch
            - LicenseTypeMismatch
            type: string
          description: Array of problems that resulted in a `NeedsReview` status for the license verification.
        prescriptiveAuthority:
          type: string
          description: Indicates whether the provider is legally authorized to prescribe medications, as reported by the licensing authority.
        compactStatus:
          type: string
          description: Indicates whether the provider holds a multistate/interstate practice privilege under an applicable compact, as reported by the licensing authority.
      additionalProperties: false
    NpdbAffiliation:
      type: object
      properties:
        entityName:
          type:
          - string
          - 'null'
        entityAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        natureOfRelationship:
          type:
          - string
          - 'null'
        otherNatureOfRelationship:
          type:
          - string
          - 'null'
      additionalProperties: false
    CredentialingRequestFacilityRequestModel:
      required:
      - facilityId
      - facilitySpecialtyIds
      type: object
      properties:
        facilityId:
          type: string
          description: The unique identifier of the facility associated with this credentialing request.
          format: uuid
        facilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
          description: List of facility specialties. Required for facility credentialing request.
        type:
          enum:
          - Initial
          - ReCredentialing
          - OffCycle
          type: string
          description: The type of credentialing request. If not specified, this will default to `Initial`.
        priority:
          enum:
          - Low
          - Medium
          - High
          - Urgent
          type: string
          description: The priority of credentialing request. If not specified, this will default to `Medium`.
        isSelfManaged:
          type: boolean
          description: If the flag is set, self-managed credentialing request will be created.
        applicationReceivedDate:
          type: string
          format: date
      additionalProperties: false
      example:
        facilityId: d7244f5b-52c1-4d27-b4f5-43b1113fc304
        facilitySpecialtyIds:
        - 497f6eca-6276-4993-bfeb-53cbbbba6f08
        type: Initial
        priority: Low
        isSelfManaged: true
    OfacAddressRecord:
      type: object
      properties:
        addressRemarks:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsPersonalInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        physicalStatus:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        dateOfBirthAccuracy:
          type:
          - string
          - 'null'
        dateOfBirthRestriction:
          type:
          - string
          - 'null'
        deceasedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    CaqhProfile.NonAdmittingAffiliation:
      type: object
      properties:
        hospitalName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        phone:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        reasonForDiscontinuance:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.ProviderIdentifier:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        isParticipatingProvider:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    PersonName:
      type: object
      properties:
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMetadata:
      type: object
      properties:
        importDate:
          type: string
          description: The date of the import file that the dataset scan was compared against.
          format: date
        importFileName:
          type: string
          description: The original file name of the dataset source.
      additionalProperties: false
    Enrollment:
      type: object
      properties:
        enrollments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnrollmentInfo'
        studentAddress:
          $ref: '#/components/schemas/NscAddress'
      additionalProperties: false
    ProviderDateOfBirthParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        dateOfBirth:
          type: string
          format: date-time
      additionalProperties: false
    CertificateDatasetRecord:
      type: object
      properties:
        certificateType:
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        certifyingOrganization:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.MilitaryService:
      type: object
      properties:
        isOnActiveMilitaryDuty:
          type:
          - boolean
          - 'null'
        isInReservesOrNationalGuard:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    ProviderAliasModel:
      type: object
      properties:
        firstName:
          type: string
          description: The first (given) name of this alias.
        lastName:
          type: string
          description: The last (family) name of this alias.
        id:
          type: string
          description: Unique identifier for this alias.
          format: uuid
      additionalProperties: false
    CaqhProfile.Specialty:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        boardCertificationNumber:
          type:
          - string
          - 'null'
        boardCertificationExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        boardCertificationInitialCertificationDate:
          type:
          - string
          - 'null'
          format: date-time
        boardCertificationLastCertificationDate:
          type:
          - string
          - 'null'
          format: date-time
        boardCertificationName:
          type:
          - string
          - 'null'
        subSpecialtyName:
          type:
          - string
          - 'null'
        isBoardCertified:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    AbmsCertificateIssuanceNotice:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbProfessionalSchoolInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the school
        yearOfGraduation:
          type: string
          description: Year subject graduated on this school.
      additionalProperties: false
      example:
        name: UC Davis
        yearOfGraduation: '2008'
    CaqhProfile.CulturalCompetencyTraining:
      type: object
      properties:
        hasCompletedCulturalCompetencyTraining:
          type:
          - boolean
          - 'null'
        programs:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.CulturalCompetencyProgram'
      additionalProperties: false
    CaqhProfile.License:
      type: object
      properties:
        state:
          type:
          - string
          - 'null'
        isCurrentlyPracticingInState:
          type:
          - boolean
          - 'null'
        licenseNumber:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        isUnlimited:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    CaqhProfile.InsuranceInfo:
      type: object
      properties:
        policyNumber:
          type:
          - string
          - 'null'
        originalEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        currentEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        currentExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        carrierName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        phone:
          type:
          - string
          - 'null'
        phoneExtension:
          type:
          - string
          - 'null'
        isUnlimitedCoverage:
          type:
          - boolean
          - 'null'
        coverageType:
          type:
          - string
          - 'null'
        occurrenceCoverageAmount:
          type:
          - string
          - 'null'
        aggregateCoverageAmount:
          type:
          - string
          - 'null'
        includesTailCoverage:
          type:
          - boolean
          - 'null'
        isIndividualCoverage:
          type:
          - boolean
          - 'null'
        isSelfInsured:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    TricareDatasetRecord:
      type: object
      properties:
        addresses:
          type:
          - string
          - 'null'
        companies:
          type:
          - string
          - 'null'
        excludeDate:
          type:
          - string
          - 'null'
          format: date-time
        summary:
          type:
          - string
          - 'null'
        term:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.Name:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    CredentialingRequestChecklistFacilityInfoReference:
      type: object
      properties:
        facilityInfoId:
          type: string
          description: Unique identifier of the facility info. This info must be linked to one or more specialties on the credentialing request.
          format: uuid
        facilityInfoType:
          enum:
          - Npi
          - Dea
          - LiabilityInsurance
          - License
          - Accreditation
          - CmsCertification
          - MedicareEnrollment
          type: string
          description: Type of facility info.
      additionalProperties: false
    NpdbOccupationAndLicensure:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        number:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        noLicense:
          type:
          - boolean
          - 'null'
        specialty:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.TrainingInfo:
      type: object
      properties:
        cme:
          $ref: '#/components/schemas/CaqhProfile.Cme'
        facultyPositions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Training'
        fellowship:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Training'
        internship:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Training'
        otherTraining:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Training'
        residency:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Training'
        trainingGaps:
          $ref: '#/components/schemas/CaqhProfile.TrainingGap'
        culturalCompetencyTraining:
          $ref: '#/components/schemas/CaqhProfile.CulturalCompetencyTraining'
      additionalProperties: false
    CredentialingRequestEventRequestModel:
      required:
      - status
      type: object
      properties:
        note:
          type: string
          description: The note of this credentialing request event.
        status:
          enum:
          - RequestSubmitted
          - RequestInProgress
          - AdditionalInformationRequested
          - AdditionalInformationSubmitted
          - CancellationRequested
          - Cancelled
          - Completed
          - CompletedWithConcern
          - UnableToComplete
          - SecondAttemptMissingInfo
          - ThirdAttemptMissingInfo
          type: string
          description: 'The status of this credentialing request event. Only the following statuses are available for self-managed requests: `"RequestInProgress"`, `"Cancelled"` and `"Completed"`.'
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestEventFileModel'
        nextCredentialingDate:
          type: string
          description: The date that the provider should be re-credentialed. Can only be set when completing a credentialing request. Only applies to providers, not facilities.
          format: date
      additionalProperties: false
    CaqhProfile.PhoneNumbers:
      type: object
      properties:
        homePhone:
          type:
          - string
          - 'null'
        personalCellPhone:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
        appointmentPhone:
          type:
          - string
          - 'null'
        phoneExtension:
          type:
          - string
          - 'null'
        backOfficePhone:
          type:
          - string
          - 'null'
        has24HourPhoneCoverage:
          type:
          - boolean
          - 'null'
        phoneCoverageType:
          type:
          - string
          - 'null'
        otherCoverageSpecify:
          type:
          - string
          - 'null'
      additionalProperties: false
    CredentialingRequestChecklistFileReference:
      type: object
      properties:
        filePath:
          type: string
          description: File path to a provider file, this path must be linked to the provider of the credentialing request.
      additionalProperties: false
    ProviderEducationParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        graduationYear:
          type:
          - integer
          - 'null'
          format: int32
        schoolName:
          type:
          - string
          - 'null'
        schoolCode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.Alias:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    CredentialingRequestChecklistDatasetScanReference:
      type: object
      properties:
        datasetScanId:
          type: string
          description: Unique identifier of the dataset scan id, this id must be linked to the provider of the credentialing request.
          format: uuid
      additionalProperties: false
    FacilityAccreditationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        accreditationNumber:
          type:
          - string
          - 'null'
        accreditationProgram:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        maintenance:
          type:
          - string
          - 'null'
        maintenanceRequired:
          type:
          - string
          - 'null'
        issuance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuance'
        recognition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateRecognition'
      additionalProperties: false
    JointCommissionDatasetRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        accreditationProgramName:
          type:
          - string
          - 'null'
        accreditationDecision:
          type:
          - string
          - 'null'
        accreditationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        facilityDba:
          type:
          - string
          - 'null'
        facilityAccreditationNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        accreditationBody:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    AbmsMemberId:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        domain:
          type:
          - string
          - 'null'
      additionalProperties: false
    CredentialingRequestPageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - CreatedAt
              - Priority
              - CurrentEventStatus
              - CurrentEventDate
              - ProviderId
              - ProviderFirstName
              - ProviderLastName
              - ProviderCredentialingStatus
              - FacilityId
              - FacilityName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestModel'
          description: The entries in the current page.
        sortedBy:
          enum:
          - Id
          - CreatedAt
          - Priority
          - CurrentEventStatus
          - CurrentEventDate
          - ProviderId
          - ProviderFirstName
          - ProviderLastName
          - ProviderCredentialingStatus
          - FacilityId
          - FacilityName
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          provider:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            firstName: string
            lastName: string
            dateOfBirth: '2019-08-24T14:15:22.0000000Z'
            ssn: '***'
            credentialingStatus: string
            credentialedDate: '2019-08-24T14:15:22.0000000Z'
            npi: 0
          type: Initial
          createdAt: '2019-08-24T14:15:22.0000000Z'
          currentEvent:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            description: string
            note: string
            timestamp: '2019-08-24T14:15:22.0000000Z'
            status: RequestSubmitted
            attachments:
            - path: string
              type: CredentialingPacket
            user:
              id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              email: string
          allEvents:
          - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            description: string
            note: string
            timestamp: '2019-08-24T14:15:22.0000000Z'
            status: RequestSubmitted
            attachments:
            - path: string
              type: CredentialingPacket
            user:
              id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              email: string
          priority: Low
          isSelfManaged: true
          applicationReceivedDate: '2024-06-15'
        sortedBy: Id
        sortDirection: Asc
        sort:
          Id: Asc
          CreatedAt: Desc
          Priority: Asc
    CredentialingRequestChecklistItemRequestModel:
      required:
      - name
      - status
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name of this credentialing request checklist item.
        status:
          minLength: 1
          type: string
          description: The status of this credentialing request checklist item.
        confirmedAt:
          type: string
          description: The timestamp at which this credentialing request checklist item was confirmed at.
          format: date-time
        confirmedBy:
          type: string
          description: The name of the user/entity that confirmed this credentialing request checklist item.
        verifiedAt:
          type: string
          description: The timestamp at which this credentialing request checklist item was verified at.
          format: date-time
        source:
          type: string
          description: The source of this credentialing request checklist item.
        references:
          $ref: '#/components/schemas/CredentialingRequestChecklistReference'
      additionalProperties: false
    CaqhProfile.Malpractice:
      type: object
      properties:
        liabilityActions:
          type:
          - boolean
          - 'null'
        liabilityActionsExplanation:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        claimResolutionDate:
          type:
          - string
          - 'null'
          format: date-time
        claimStatus:
          type:
          - string
          - 'null'
        dateClaimFiled:
          type:
          - string
          - 'null'
          format: date-time
        dateOfOccurrence:
          type:
          - string
          - 'null'
          format: date-time
        descriptionOfAllegations:
          type:
          - string
          - 'null'
        descriptionOfInjury:
          type:
          - string
          - 'null'
        resultedInDeath:
          type:
          - string
          - 'null'
        insuranceCarrierName:
          type:
          - string
          - 'null'
        numberOfCodefendants:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        policyNumber:
          type:
          - string
          - 'null'
        resolutionMethod:
          type:
          - string
          - 'null'
        settlementAmount:
          type:
          - string
          - 'null'
        isIncludedInNpdb:
          type:
          - boolean
          - 'null'
        primaryDefendant:
          type:
          - string
          - 'null'
        yourInvolvement:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityCmsCertificationDatasetRecord:
      type: object
      properties:
        certificationType:
          type:
          - string
          - 'null'
        certificationNumber:
          type:
          - string
          - 'null'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
      additionalProperties: false
    CaqhProfile.TrainingGap:
      type: object
      properties:
        explanation:
          type:
          - string
          - 'null'
      additionalProperties: false
    StateSanctionsAndExclusionsRecord:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsSource'
        providerType:
          type:
          - string
          - 'null'
        aliases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StateSanctionsAndExclusionsProviderAlias'
        exclusionDetails:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsExclusionDetails'
        additionalInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    FacilitySpecialtyModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of this specialty.
          format: uuid
        facilityId:
          type: string
          description: The facility unique identifier related to this specialty.
          format: uuid
        taxonomyId:
          type: string
          description: The taxonomy unique identifier related to this specialty.
          format: uuid
        credentialedDate:
          type: string
          description: Date this facility specialty was originally credentialed.
          format: date
        nextCredentialingDate:
          type: string
          description: Date this facility specialty should be credentialed next.
          format: date
        recredentialedDates:
          type: array
          items:
            type: string
            format: date
          description: A list of dates when this facility specialty was re-credentialed.
      additionalProperties: false
      example:
        credentialedDate: '2024-01-15'
        recredentialedDates:
        - '2025-01-15'
        nextCredentialingDate: '2026-01-15'
    NpdbSubjectInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the subject / provider.
        otherNames:
          type: array
          items:
            type: string
        gender:
          type: string
        dateOfBirth:
          type: string
          description: Date of birth of the subject / provider.
          format: date-time
        organizationName:
          type: string
          description: Organization name of the subject / provider.
        organizationTypeCode:
          type: string
          description: The NPDB's organization type code.
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
          description: The license type as described by NPDB.
        organizationType:
          type: string
          description: Organization type as described by NPDB.
        ssn:
          type: array
          items:
            type: string
        npi:
          type: array
          items:
            type: string
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
    CredentialingRequestChecklistReference:
      type: object
      properties:
        providerInfo:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistProviderInfoReference'
          description: If set, array with pairs of provider information ids and provider information types linked to the provider of the credentialing request.
        facilityInfo:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistFacilityInfoReference'
          description: If set, array with sets of facility info ids and facility info types that are linked to the credentialing request.
        licenseVerifications:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistLicenseVerificationReference'
          description: If set, array with pairs of license ids and license verifications ids linked to the provider of the credentialing request.
        datasetScans:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistDatasetScanReference'
          description: If set, array with dataset scan ids linked to the provider of the credentialing request.
        files:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistFileReference'
          description: If set, array with file paths linked to the provider of the credentialing request.
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistProfileReference'
          description: If set, array with profiles linked to the provider of the credentialing request.
        facilitySpecialties:
          type: array
          items:
            $ref: '#/components/schemas/CredentialingRequestChecklistFacilitySpecialtyReference'
          description: If set, array with facility specialty ids that this credentialing request item applies to.
      additionalProperties: false
    SamDatasetRecord:
      type: object
      properties:
        classification:
          enum:
          - Unknown
          - Firm
          - Individual
          - SpecialEntityDesignation
          - Vessel
          type: string
        openDataFlag:
          type: boolean
        duns:
          type:
          - string
          - 'null'
        uei:
          type:
          - string
          - 'null'
        exclusionProgram:
          enum:
          - Unknown
          - Reciprocal
          - Nonreciprocal
          - Procurement
          - NonProcurement
          type: string
        excludingAgency:
          type:
          - string
          - 'null'
        ctCode:
          type:
          - string
          - 'null'
        exclusionType:
          type:
          - string
          - 'null'
        additionalComments:
          type:
          - string
          - 'null'
        activeDate:
          type:
          - string
          - 'null'
          format: date-time
        terminationDate:
          type:
          - string
          - 'null'
          format: date-time
        recordStatus:
          enum:
          - Active
          - Inactive
          type: string
        crossReference:
          type:
          - string
          - 'null'
        samNumber:
          type:
          - string
          - 'null'
        cage:
          type:
          - string
          - 'null'
        creationDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    CaqhProfile.OtherSanctions:
      type: object
      properties:
        subjectOfInvestigation:
          type:
          - boolean
          - 'null'
        subjectOfInvestigationExplanation:
          type:
          - string
          - 'null'
        reportedToNpdb:
          type:
          - boolean
          - 'null'
        reportedToNpdbExplanation:
          type:
          - string
          - 'null'
        sanctions:
          type:
          - boolean
          - 'null'
        sanctionsExplanation:
          type:
          - string
          - 'null'
        illegalMisconduct:
          type:
          - boolean
          - 'null'
        illegalMisconductExplanation:
          type:
          - string
          - 'null'
        militaryAgencyLimitations:
          type:
          - boolean
          - 'null'
        militaryAgencyLimitationsExplanation:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.PersonalInfo:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/CaqhProfile.Name'
        otherName:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Alias'
        homeAddress:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        mailingAddress:
          $ref: '#/components/schemas/CaqhProfile.MailingAddress'
        primaryMethodOfContact:
          $ref: '#/components/schemas/CaqhProfile.Emails'
        phoneNumbers:
          $ref: '#/components/schemas/CaqhProfile.PhoneNumbers'
        personalIdentificationNumbers:
          $ref: '#/components/schemas/CaqhProfile.Identifiers'
        demographics:
          $ref: '#/components/schemas/CaqhProfile.DemographicInfo'
        emergencyContact:
          $ref: '#/components/schemas/CaqhProfile.ContactInfo'
        languages:
          type:
          - string
          - 'null'
        otherLanguages:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.PracticeLimitations:
      type: object
      properties:
        ageMax:
          type:
          - string
          - 'null'
        ageMin:
          type:
          - string
          - 'null'
        gender:
          type:
          - string
          - 'null'
        hasPracticeLimitations:
          type:
          - boolean
          - 'null'
        hasAgeLimitations:
          type:
          - boolean
          - 'null'
        onlyNativeAmericans:
          type:
          - string
          - 'null'
        onlyEnrolledStudents:
          type:
          - string
          - 'null'
        otherLimitations:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.CertificationInfo:
      type: object
      properties:
        hasCertifications:
          type:
          - boolean
          - 'null'
        qasp:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        cpr:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        bls:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        acls:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        also:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        coreC:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        atls:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        nals:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        nrp:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        pals:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        other:
          $ref: '#/components/schemas/CaqhProfile.CertInfo'
        hasAnesthesiaPermit:
          type:
          - boolean
          - 'null'
        therapeuticsClassificationNumber:
          type:
          - string
          - 'null'
        otherInterests:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.Education:
      type: object
      properties:
        schoolName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        phone:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        areaOfTraining:
          type:
          - string
          - 'null'
        completed:
          type:
          - boolean
          - 'null'
        graduationDate:
          type:
          - string
          - 'null'
          format: date-time
        disciplinaryAction:
          type:
          - string
          - 'null'
        certificateAwarded:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpiProfile.NpiProviderProfileModel:
      type: object
      properties:
        type:
          enum:
          - Npi
          - CaqhPo
          - AmericanMedicalAssociationPhysician
          - AmericanMedicalAssociationPhysicianAssistant
          type: string
          readOnly: true
          example: CaqhPo
        npiNumber:
          type: integer
          format: int64
        enumerationType:
          type:
          - string
          - 'null'
        basic:
          $ref: '#/components/schemas/NpiProfile.NpiBasicModel'
        otherNames:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.OtherName'
        addresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Address'
        practiceLocations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Address'
        taxonomies:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Taxonomy'
        identifiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Identifier'
        isDeactivated:
          type: boolean
        deactivationReason:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateRecognition:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbReportSubjectInformation:
      type: object
      properties:
        name:
          type: string
        otherNames:
          type: array
          items:
            type: string
          description: Other names used by the subject.
        gender:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        organizationName:
          type: string
        organizationTypeCode:
          type: string
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
        organizationType:
          type: string
        ssn:
          type: array
          items:
            type: string
          description: Social Security Number (SSN) of subject.
        npi:
          type: array
          items:
            type: string
          description: National Provider Identifiers (NPI).
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
          description: Professional school attended by the subject.
        deceased:
          type: boolean
          description: True or false indicating if subject is deceased.
        dea:
          type: array
          items:
            type: string
          description: Drug Enforcement Administration (DEA) Numbers.
        upin:
          type: array
          items:
            type: string
        fein:
          type: array
          items:
            type: string
        healthCareEntities:
          type: array
          items:
            type: string
          description: Name of health care entities with which subject is affiliated or associated.
        hospitalAffiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbHospitalAffiliation'
        affiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbAffiliation'
        occupationFieldOfLicensure:
          type: string
        stateLicenseNumber:
          type: string
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
        otherNames: ''
        deceased: ''
        ssn: '*****4057'
        npi: '1234567890'
        professionalSchools:
        - name: UC Davis
          yearOfGraduation: '2008'
        specialty: ''
        dea: '123456789012'
        healthCareEntities: []
        businessAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        natureOfRelationship: Subject is Owner/Partner of Affiliate or Associate
    StateSanctionsAndExclusionsProviderAlias:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    Transaction:
      type: object
      properties:
        orderId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
        transactionStatus:
          type:
          - string
          - 'null'
        transactionDescription:
          type:
          - string
          - 'null'
        dateRequested:
          type:
          - string
          - 'null'
          format: date-time
        dateNotified:
          type:
          - string
          - 'null'
          format: date-time
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbEnrollmentStatus:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    AbmsAddressRecord:
      type: object
      properties:
        city:
          type:
          - string
          - 'null'
        stateOrProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        restrictions:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.ClinicalServicesInfo:
      type: object
      properties:
        hasLaboratoryServices:
          type:
          - boolean
          - 'null'
        labAccreditingProgram:
          type:
          - string
          - 'null'
        hasRadiologyServices:
          type:
          - boolean
          - 'null'
        hasXray:
          type:
          - boolean
          - 'null'
        xrayCertificationType:
          type:
          - string
          - 'null'
        hasEkg:
          type:
          - boolean
          - 'null'
        hasMinorLacerations:
          type:
          - boolean
          - 'null'
        hasPulmonaryFunctionTesting:
          type:
          - boolean
          - 'null'
        hasAllergyInjections:
          type:
          - boolean
          - 'null'
        hasAllergySkinTesting:
          type:
          - boolean
          - 'null'
        hasOfficeGynecology:
          type:
          - boolean
          - 'null'
        hasDrawingBlood:
          type:
          - boolean
          - 'null'
        hasAsthmaTreatment:
          type:
          - boolean
          - 'null'
        hasImmunizations:
          type:
          - boolean
          - 'null'
        hasFlexibleSigmoidoscopy:
          type:
          - boolean
          - 'null'
        hasTympanometryAudiometry:
          type:
          - boolean
          - 'null'
        hasOsteopathicManipulation:
          type:
          - boolean
          - 'null'
        hasIvHydration:
          type:
          - boolean
          - 'null'
        hasCardiacStressTest:
          type:
          - boolean
          - 'null'
        hasPhysicalTherapy:
          type:
          - boolean
          - 'null'
        hasTreadmill:
          type:
          - boolean
          - 'null'
        isAnesthesiaAdministered:
          type:
          - boolean
          - 'null'
        anesthesiaClass:
          type:
          - string
          - 'null'
        anesthesiaAdministeredByFirstName:
          type:
          - string
          - 'null'
        anesthesiaAdministeredByLastName:
          type:
          - string
          - 'null'
        otherServices:
          type:
          - string
          - 'null'
        specialSkillsByPractitioner:
          type:
          - string
          - 'null'
        specialSkillsByStaff:
          type:
          - string
          - 'null'
        nonEnglishLanguages:
          type:
          - string
          - 'null'
        nonEnglishLanguagesEmployeeType:
          type:
          - string
          - 'null'
        hasInterpreters:
          type:
          - boolean
          - 'null'
        interpreterLanguages:
          type:
          - string
          - 'null'
        interpreterEmployeeType:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.DocumentInfo:
      type: object
      properties:
        downloadFolder:
          type:
          - string
          - 'null'
        documents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Document'
      additionalProperties: false
    NpdbInformationReported:
      type: object
      properties:
        type:
          enum:
          - Aar
          - Mmpr
          - Jocr
          - LegacyMmpr
          - LegacyAar
          type: string
          readOnly: true
      additionalProperties: false
    CredentialingRequestEventFileModel:
      type: object
      properties:
        path:
          type: string
          description: The path to the file.
        type:
          enum:
          - CredentialingPacket
          type: string
          description: The type of the attachment.
      additionalProperties: false
    NpiProfile.Identifier:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        issuer:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.EducationInfo:
      type: object
      properties:
        graduateType:
          type:
          - string
          - 'null'
        professionalSchoolInformation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Education'
        undergraduateEducation:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Education'
      additionalProperties: false
    BoardCertification:
      type: object
      properties:
        boardName:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        isExpired:
          type:
          - boolean
          - 'null'
        issued:
          type:
          - string
          - 'null'
          format: date-time
        expires:
          type:
          - string
          - 'null'
          format: date-time
        mocParticipation:
          type:
          - boolean
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
      additionalProperties: false
    ProviderSsnParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseVerificationModel:
      type: object
      properties:
        originalStatus:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The original status as our license verification process determined. Unlike `status` the `originalStatus` can never change.
        status:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The current status for this license verification. If you patch the license verification status (in case the status is `NeedsReview`) this property will be updated, but `originalStatus` will remain the same.
        trigger:
          enum:
          - Manual
          - Monitor
          type: string
          description: Set to `Manual` if the verification is triggered by a user or `Monitor` if the verification was triggered by the monitoring system.
        started:
          type: string
          description: Timestamp of when the license verification started processing.
          format: date-time
        processingTime:
          type: integer
          description: The duration in milliseconds it took to process the license verification from start to end.
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationResultModel'
          description: Array of verification records returned by the source that match the license number.
        additionalVerificationParameters:
          type: array
          items:
            $ref: '#/components/schemas/IProviderParameter'
          description: List of additional parameters required for a select number of sources. Missing data for select sources will result in a failed verification.
        verificationSource:
          $ref: '#/components/schemas/VerificationSourceModel'
        failureReason:
          $ref: '#/components/schemas/FailureModel'
        correctResultIndex:
          type: integer
          description: In case there is more than 1 result you can patch the verification and specify which of the records is the correct match by setting `correctResultIndex` to the appropriate index matching the index in the `results` array.
          format: int32
        export:
          type: string
          description: Once a license verification is in an 'end state' a PDF export will be generated. Once the PDF is generated this property will contain the path to that export. That path can be used to [download the file](/references/api/files/downloadfile). Please note that the process to generate an export is asynchronous and it can take several seconds after a verification is completed before the export is ready.
        exportSuccess:
          type: boolean
          description: Flag to indicate the success or failure of a verification export. If not set, the export is still in progress or has not been requested.
        exportError:
          type: string
          description: Export failure reason. if the export has failed, this field will have a short explanation.
        id:
          type: string
          description: Unique identifier for this license verification.
          format: uuid
        monitoringMetadata:
          $ref: '#/components/schemas/MonitoringMetadata'
      additionalProperties: false
    CredentialingRequestChecklistProfileReference:
      type: object
      properties:
        profileId:
          type: string
          description: Unique identifier of the provider profile id, this id must be linked to the provider of the credentialing request.
          format: uuid
      additionalProperties: false
    AmericanMedicalAssociationPhysicianAssistantProviderProfileModel:
      type: object
      properties:
        type:
          enum:
          - Npi
          - CaqhPo
          - AmericanMedicalAssociationPhysician
          - AmericanMedicalAssociationPhysicianAssistant
          type: string
          readOnly: true
          example: CaqhPo
        name:
          type:
          - string
          - 'null'
        npi:
          type:
          - string
          - 'null'
        nccpa:
          type:
          - string
          - 'null'
        educationRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AmaEducation'
        trainingRecords:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AmaTraining'
        profileDocumentFilePath:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbLatestReportingEntityInformation:
      type: object
      properties:
        statusDescription:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        additionalName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/NormalizedAddress'
        officeOrName:
          type:
          - string
          - 'null'
        titleOrDepartment:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        lastUpdateDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    MedicareOptOutDatasetRecord:
      type: object
      properties:
        speciality:
          type:
          - string
          - 'null'
        effectiveDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        eligibleToOrderAndRefer:
          type: boolean
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ProviderGenderParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
      additionalProperties: false
    FlexibleDataModel:
      type: object
      properties:
        type:
          enum:
          - Form
          - Table
          - Section
          type: string
          description: The schema type for `data`.
        data:
          description: The actual data for this property. The schema can change depending on `type`. See the [Flexible Data Model](/references/api/section/common-concepts/flexible-data-model) for more information.
      additionalProperties: false
    AbmsNameRecord:
      type: object
      properties:
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        familyName:
          type:
          - string
          - 'null'
        generationIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsDisclaimerInfo:
      type: object
      properties:
        certificationBoard:
          type:
          - string
          - 'null'
        disclaimer:
          type:
          - string
          - 'null'
      additionalProperties: false
    CaqhProfile.StateDisclosureSection:
      type: object
      properties:
        sectionName:
          type:
          - string
          - 'null'
        questions:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
      additionalProperties: false
    NpdbCodeDescription:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        specifiedValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMatchModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        datasetTimestamp:
          type: string
          description: The timestamp when the dataset was last updated in our system at the time of this scan.
          format: date-time
        recordTimestamp:
          type: string
          description: The timestamp when this record was last updated in our system at the time of this scan.
          format: date-time
        data:
          $ref: '#/components/schemas/DatasetMatchData'
        scanId:
          type: string
          description: The identifier of the scan to which this match belongs. Not set if `scan` is populated.
          format: uuid
        scan:
          $ref: '#/components/schemas/DatasetScanModel'
        userActionNeeded:
          type: boolean
          description: Boolean indicating if action is needed for this match.
        isIgnored:
          type: boolean
          description: Set to true if this match was ignored for the associated provider.
        userActionResolution:
          enum:
          - Accept
          - Reject
          type: string
        userActionResolutionNote:
          type: string
        matchRelevance:
          enum:
          - Low
          - Medium
          - High
          type: string
        matchScore:
          description: Indicates a score from 0.0 to 1.0 where 1.0 is the maximum possible score indicating the quality of the match. Note that this feature is in beta and subject to change without notice.
          deprecated: true
        createdTimestamp:
          type: string
          description: Indicates the time that the match was added to the scan. Only populated for matches on or after January 25th 2024.
          format: date-time
        obsoleteTimestamp:
          type: string
          description: Indicates the time that the match became obsolete. This only occurs when a scan with a `status` of `Active` determines that the match is now obsolete due to changes in primary source data.
          format: date-time
      additionalProperties: false
    AbmsOccupationInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        startDateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    OigFugitivesDatasetRecord:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ChecklistDetailsModel:
      type: object
      properties:
        organization:
          type: string
          description: The organization of this credentialing request checklist.
        providerType:
          type: string
          description: The type of provider of this credentialing request checklist.
        providerName:
          type: string
          description: The name of the provider of this credentialing request checklist.
        started:
          type: string
          description: The timestamp at which this credentialing request checklist was started at.
          format: date-time
        completed:
          type: string
          description: The timestamp at which this credentialing request checklist was completed at.
          format: date-time
      additionalProperties: false
    CaqhProfile.TelehealthInfo:
      type: object
      properties:
        hasTelehealthServices:
          type:
          - boolean
          - 'null'
        isHipaaCompliant:
          type:
          - boolean
          - 'null'
        hasAudio:
          type:
          - boolean
          - 'null'
        hasAudioVideo:
          type:
          - boolean
          - 'null'
        hasAdaptiveInterviews:
          type:
          - boolean
          - 'null'
        hasSecureTexting:
          type:
          - boolean
          - 'null'
        hasRemoteMonitoring:
          type:
          - boolean
          - 'null'
        hasStoreAndForward:
          type:
          - boolean
          - 'null'
        supportsFamilyCaregivers:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    CaqhProfile.RemittanceInfo:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        fax:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/CaqhProfile.CaqhAddress'
        isSameAsOfficeManager:
          type:
          - boolean
          - 'null'
        billingDepartmentName:
          type:
          - string
          - 'null'
        checkPayableTo:
          type:
          - string
          - 'null'
        hasElectronicBillingCapabilities:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    CaqhProfile.SpecialtyInfo:
      type: object
      properties:
        primarySpecialty:
          $ref: '#/components/schemas/CaqhProfile.Specialty'
        secondarySpecialty:
          $ref: '#/components/schemas/CaqhProfile.Specialty'
        additionalSpecialty:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/CaqhProfile.Specialty'
        specialSkills:
          $ref: '#/components/schemas/CaqhProfile.SpecialSkillsInfo'
      additionalProperties: false
    CaqhProfile.CriminalHistory:
      type: object
      properties:
        felony:
          type:
          - boolean
          - 'null'
        felonyExplanation:
[...]
