openapi: 3.2.0
info:
  title: Verifiable API Documentation Audit API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Audit
  description: Each API call that results in data being created, updated or deleted will result in one or more entries in the audit log. Using the endpoints provided in this section it is possible to list entries in this log.
paths:
  /log/events:
    get:
      tags:
      - Audit
      summary: List event log entries
      description: Returns a page of event log entries. Events can occur either system or user initiated. In case an event is user initiated the event context contains information on the user that triggered it and the associated HTTP request is captured.
      operationId: ListEventLogEntries
      parameters:
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      - name: type
        in: query
        description: If set, only returns events with the specified type. More than 1 type can be specified.
        schema:
          type: array
          items:
            enum:
            - System
            - Request
            - Legacy
            type: string
      - name: includeFailedRequests
        in: query
        description: If set to `true`, also includes failed request events (these are filtered out by default). Note that not all failed requests can be captured or assigned to your organization, depending on the nature of the failure.
        schema:
          type: boolean
      - name: entityId
        in: query
        description: If set, only returns events related to the specified identifier. For example, to filter on events for a given provider, set this parameter to the identifier of that provider. More than 1 entity identifier can be specified.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: category
        in: query
        description: If set, only returns events related to the specified category. More than 1 category can be specified.
        schema:
          type: array
          items:
            enum:
            - Verifications
            - ProviderInfo
            - ProviderManagement
            - Organization
            - Integrations
            - Groups
            - ProviderProfile
            - Beta
            - Mpd
            - Console
            - FacilityManagement
            - FacilityInfo
            type: string
      - name: subcategory
        in: query
        description: If set, only returns events related to the specified subcategory. The subcategories differ per `category`. More than 1 subcategory can be specified.
        schema:
          type: array
          items:
            type: string
      - name: before
        in: query
        description: If set, only returns events from before this date.
        schema:
          type: string
          format: date-time
      - name: beforeInclusive
        in: query
        description: If set to `true`, will include events created exactly at `before` date and time too.
        schema:
          type: boolean
      - name: after
        in: query
        description: If set, only returns events from after this date.
        schema:
          type: string
          format: date-time
      - name: afterInclusive
        in: query
        description: If set to `true`, will include events created exactly at `after` date and time too.
        schema:
          type: boolean
      - name: correlationId
        in: query
        description: If set, only returns events related to the specified correlation identifier.
        schema:
          type: string
          format: uuid
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Timestamp
          - Type
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Timestamp
              - Type
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventLogPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    EventLogModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the event.
          format: uuid
        timestamp:
          type: string
          description: The date & time of the event.
          format: date-time
        type:
          enum:
          - System
          - Request
          - Legacy
          type: string
          description: The type of the event indicating if it was system or user initiated.
        messageTemplate:
          type: string
          description: Human readable description of the event that occurred. To be used in conjunction with `messageParameters`.
        messageParameters:
          description: If the `messageTemplate` contains parameters, this object will contain the values to be used to replace those parameters.
        correlationId:
          type: string
          description: The correlation identifier associated with the request. Verifiable staff can use this for further troubleshooting.
          format: uuid
        context:
          description: Any relevant contextual data for the event. For events of type `Request` this will contain `request` and `user` data. In addition most events will include  an array of `relatedEntities` with identifiers of objects that are related to this specific event.
      additionalProperties: false
    EventLogPageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - Timestamp
              - Type
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/EventLogModel'
          description: The event log entries in the current page.
        sortedBy:
          enum:
          - Timestamp
          - Type
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 20
        count: 1
        totalCount: 1
        items:
        - id: 50587ba5-ed48-4430-b9fd-6b4518979a84
          timestamp: '2021-10-04T14:21:45.6433130Z'
          type: Request
          messageTemplate: Viewed event log
          context:
            user:
              id: 40b87c94-e279-4412-933b-6dc87980bc31
              role: admin
              email: john.doe@verifiable.com
            request:
              route: log/events
              method: GET
              operation: ListEventLogEntries
              timeTaken: 6
              userAgent: PostmanRuntime/7.28.4
              queryString: includeReadEvents=true
              userTokenId: defbffb0-861e-4b4b-b899-b9452ef0089b
              responseType: application/json; charset=utf-8
              routeTemplate: log/events
              userIpAddress: 0.0.0.1
              responseStatusCode: 200
            relatedEntities: []
        sortedBy: Timestamp
        sortDirection: Desc
        sort:
          Timestamp: Desc
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
