openapi: 3.2.0
info:
  title: Verifiable API Documentation Monitoring API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Monitoring
  description: Endpoints to allow you to enable/disable monitoring or update monitoring settings for monitorable data.
paths:
  /monitors:
    post:
      tags:
      - Monitoring
      summary: Initiate monitoring for a provider or facility
      description: Initiate monitoring for a dataset or license for a provider or facility. Please note that not all dataset types support monitoring. Please refer to dataset endpoint to get the capabilities of a dataset.
      operationId: CreateMonitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Monitoring
      summary: Lists all the monitored items
      description: Lists all the monitors and monitoring settings for monitors that are enabled.
      operationId: ListMonitors
      parameters:
      - name: type
        in: query
        description: If set, the items will be filtered on monitor type.
        schema:
          enum:
          - Dataset
          - License
          type: string
      - name: datasetTypes
        in: query
        description: If set, the items will be filtered on datasets with the specified types.
        schema:
          type: array
          items:
            enum:
            - Sam
            - MedicareOptOut
            - OigFugitives
            - OfacSdn
            - OfacConsolidated
            - OigExclusions
            - StateSanctionsAndExclusions
            - Npdb
            - Dmf
            - Npi
            - Nsc
            - Dea
            - CmsPreclusion
            - Tricare
            - AmericanBoardofInternalMedicine
            - NationalCommissiononCertificationofPhysicianAssistants
            - Abms
            - NationalBoardforCertifiedCounselors
            - AmericanAcademyofNursePractitioners
            - NationalBoardofCertificationandRecertificationforNurseAnesthetists
            - AmericanOsteopathicAssociation
            - AmericanNursesCredentialingCenter
            - NationalBoardforCertificationinOccupationalTherapy
            - AmericanSpeechLanguageHearingAssociation
            - AmericanBoardofFamilyMedicine
            - AmericanBoardofPsychiatryandNeurology
            - InternationalBoardofLactationConsultantExaminers
            - AmericanMidwiferyCertificationBoard
            - AmericanDentalBoardofAnesthesiology
            - AmericanBoardofClinicalSocialWork
            - BoardOfPharmacySpecialties
            - AmericanBoardofAllergyandImmunology
            - AmericanBoardofOrthodontics
            - AmericanBoardofOralMedicine
            - AmericanBoardofPediatricDentistry
            - AmericanBoardofOralandMaxillofacialSurgery
            - AmericanBoardofOralandMaxillofacialRadiology
            - AmericanBoardofProsthodontics
            - AmericanBoardofOralandMaxillofacialPathology
            - AmericanBoardofEndodontics
            - AmericanBoardofPeriodontology
            - AmericanBoardofOralImplantology
            - AmericanBoardofPodiatricMedicine
            - AmericanBoardofDentalPublicHealth
            - BehaviorAnalystCertificationBoard
            - AmericanBoardofGeneralDentistry
            - NationalAssociationofSchoolPsychologists
            - AmericanBoardofAddictionMedicine
            - AmericanBoardofMultipleSpecialtiesinPodiatry
            - CommissionOnDieteticRegistration
            - AmericanBoardOfObesityMedicine
            - NationalCertificationCorporation
            - NationalCommissionForCertificationOfAnesthesiologistAssistants
            - AmericanRegistryOfRadiologyTechnologists
            - AmericanBoardOfAnesthesiology
            - AmericanRegistryForDiagnosticMedicalSonography
            - NationalBoardOfPhysiciansAndSurgeons
            - CardiovascularCredentialingInternational
            - NationalCenterForCompetencyTesting
            - NationalAssociationOfPhlebotomyTechnicians
            - AmericanAlliedHealth
            - NationalRegistryOfAlliedHealthProfessionals
            - AmericanMedicalTechnologists
            - NationalHealthCareerAssociation
            - DentalAssistingNationalBoard
            - PediatricNursingCertification
            - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
            - CertificationBoardForMusicTherapists
            - AmericanBoardOfChiropracticInternists
            - AmericanBoardofPhysicalTherapySpecialties
            - AmericanBoardofPhysicianSpecialties
            - AmericanAcademyofOptometry
            - AmericanBoardofNeurologicalSurgery
            - AmericanBoardofObstetricsandGynecology
            - AmericanBoardofOphthalmology
            - AmericanBoardofOtolaryngologyHeadandNeckSurgery
            - AmericanBoardofPediatrics
            - AmericanBoardofOrthopaedicSurgery
            - AmericanBoardofPhysicalMedicineandRehabilitation
            - AmericanBoardofPlasticSurgery
            - AmericanBoardofRadiology
            - AmericanBoardofSurgery
            - AmericanBoardofUrology
            - AmericanBoardofColonandRectalSurgery
            - AmericanAssociationofCriticalCareNurses
            - AmericanBoardofFootandAnkleSurgery
            - PharmacyTechnicianCertificationBoard
            - NationalBoardofSurgicalTechnologyandSurgicalAssisting
            - AmericanBoardofPainMedicine
            - AmericanBoardofOrofacialPain
            - NuclearMedicineTechnologyCertificationBoard
            - AmericanBoardofEmergencyMedicine
            - ArtTherapyCredentialsBoard
            - AmericanBoardofProfessionalPsychology
            - NationalRegistryofEmergencyMedicalTechnicians
            - AmericanBoardofOptometry
            - BehavioralInterventionCertificationCouncil
            - AmericanHeartAssociation
            - InternationalBoardCertifiedLactationConsultant
            - MedicaidEnrollmentCalifornia
            - JointCommission
            - FacilityCmsCertification
            type: string
      - name: licenseIds
        in: query
        description: If set, the items will be filtered on licenses with the specified ids.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: entityType
        in: query
        description: Indicates whether to retrieve monitors for practitioners or facilities. Defaults to `Practitioners`.
        schema:
          enum:
          - Practitioner
          - Facility
          type: string
      - name: entityIds
        in: query
        description: If set, the items will be filtered on entities with the specified ids and type specified in 'entityType'.<br/>If 'entityType' is 'Practitioner', the ids here should be ids of providers.<br/>If 'entityType' is 'Facility', the ids here should be ids of facilities.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: providerIds
        in: query
        description: If set, the items will be filtered on providers with the specified ids.
        schema:
          type: array
          items:
            type: string
            format: uuid
          deprecated: true
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Type
          - NextMonitoringDate
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Type
              - NextMonitoringDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /monitors/bulk/sanctions-and-exclusions:
    post:
      tags:
      - Monitoring
      summary: Initiates monitoring for the specified Sanctions and Exclusions datasets for…
      description: Initiate monitoring for the specified Sanctions and Exclusions datasets, for the specified list of providers. Immediate verification is not supported with this endpoint. If a next monitoring date is omitted or specified with a past date or within the closest 10 minutes, the monitor will execute within the next hour. Only Sanctions and Exclusions datasets are supported by this endpoint. Up to 100 provider IDs may be specified in one bulk.
      operationId: BulkCreateSanctionsAndExclusionsMonitors
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkSanctionsAndExclusionsMonitorsRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkSanctionsAndExclusionsMonitorsModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /monitors/{id}:
    get:
      tags:
      - Monitoring
      summary: Returns a specified monitored item
      description: Returns all the info for a specified monitored item.
      operationId: GetMonitor
      parameters:
      - name: id
        in: path
        description: The identifier describing the monitored item.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Monitoring
      summary: Patch an existing monitored item
      description: Change existing monitoring for a specified item. Use this endpoint to update the monitoring frequency and next monitoring date.
      operationId: PatchMonitor
      parameters:
      - name: id
        in: path
        description: The identifier describing the monitored item.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonitorPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonitorModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - Monitoring
      summary: Stop monitoring an item
      description: Stops existing monitoring for a specified dataset or license for a provider.
      operationId: DeleteMonitor
      parameters:
      - name: id
        in: path
        description: The identifier describing the monitored item.
        required: true
        schema:
          type: string
          format: uuid
      - name: propagateToPrimarySource
        in: query
        schema:
          type: boolean
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    LicenseVerificationResultModel:
      type: object
      properties:
        name:
          type: string
          description: Name of the provider as indicated by the source.
        licenseType:
          type: string
          description: Textual description of the license type as indicated by the source.
        licenseStatus:
          type: string
          description: Textual description of the license status as indicated by the source.
        licenseNumber:
          type: string
          description: License number as indicated by the source.
        address:
          type: string
          description: Address of the license holder as indicated by the source.
        issued:
          type: string
          description: Timestamp when the license was issued as indicated by the source.
          format: date-time
        expires:
          type: string
          description: Timestamp when the license expires as indicated by the source.
          format: date-time
        screenshots:
          type: array
          items:
            type: string
          description: Array of paths to screenshots that were taken as proof of the license verification.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationAttachmentModel'
          description: Array of attachments related to the verification that were taken from the source.
        disciplinaryActions:
          $ref: '#/components/schemas/FlexibleDataModel'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        problems:
          type: array
          items:
            enum:
            - NameMismatch
            - LicenseTypeMismatch
            type: string
          description: Array of problems that resulted in a `NeedsReview` status for the license verification.
        prescriptiveAuthority:
          type: string
          description: Indicates whether the provider is legally authorized to prescribe medications, as reported by the licensing authority.
        compactStatus:
          type: string
          description: Indicates whether the provider holds a multistate/interstate practice privilege under an applicable compact, as reported by the licensing authority.
      additionalProperties: false
    NpdbAffiliation:
      type: object
      properties:
        entityName:
          type:
          - string
          - 'null'
        entityAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        natureOfRelationship:
          type:
          - string
          - 'null'
        otherNatureOfRelationship:
          type:
          - string
          - 'null'
      additionalProperties: false
    OfacAddressRecord:
      type: object
      properties:
        addressRemarks:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsPersonalInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        physicalStatus:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        dateOfBirthAccuracy:
          type:
          - string
          - 'null'
        dateOfBirthRestriction:
          type:
          - string
          - 'null'
        deceasedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    PersonName:
      type: object
      properties:
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMetadata:
      type: object
      properties:
        importDate:
          type: string
          description: The date of the import file that the dataset scan was compared against.
          format: date
        importFileName:
          type: string
          description: The original file name of the dataset source.
      additionalProperties: false
    Enrollment:
      type: object
      properties:
        enrollments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnrollmentInfo'
        studentAddress:
          $ref: '#/components/schemas/NscAddress'
      additionalProperties: false
    ProviderDateOfBirthParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        dateOfBirth:
          type: string
          format: date-time
      additionalProperties: false
    CertificateDatasetRecord:
      type: object
      properties:
        certificateType:
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        certifyingOrganization:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateIssuanceNotice:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbProfessionalSchoolInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the school
        yearOfGraduation:
          type: string
          description: Year subject graduated on this school.
      additionalProperties: false
      example:
        name: UC Davis
        yearOfGraduation: '2008'
    MonitorModel:
      oneOf:
      - $ref: '#/components/schemas/DatasetMonitorModel'
      - $ref: '#/components/schemas/LicenseMonitorModel'
      discriminator:
        propertyName: type
        mapping:
          Dataset: '#/components/schemas/DatasetMonitorModel'
          License: '#/components/schemas/LicenseMonitorModel'
    TricareDatasetRecord:
      type: object
      properties:
        addresses:
          type:
          - string
          - 'null'
        companies:
          type:
          - string
          - 'null'
        excludeDate:
          type:
          - string
          - 'null'
          format: date-time
        summary:
          type:
          - string
          - 'null'
        term:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbOccupationAndLicensure:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        number:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        noLicense:
          type:
          - boolean
          - 'null'
        specialty:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderEducationParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        graduationYear:
          type:
          - integer
          - 'null'
          format: int32
        schoolName:
          type:
          - string
          - 'null'
        schoolCode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        maintenance:
          type:
          - string
          - 'null'
        maintenanceRequired:
          type:
          - string
          - 'null'
        issuance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuance'
        recognition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateRecognition'
      additionalProperties: false
    FacilityAccreditationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        accreditationNumber:
          type:
          - string
          - 'null'
        accreditationProgram:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsMemberId:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        domain:
          type:
          - string
          - 'null'
      additionalProperties: false
    JointCommissionDatasetRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        accreditationProgramName:
          type:
          - string
          - 'null'
        accreditationDecision:
          type:
          - string
          - 'null'
        accreditationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        facilityDba:
          type:
          - string
          - 'null'
        facilityAccreditationNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        accreditationBody:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    MonitorPatchModel:
      type: object
      properties:
        monitoringInterval:
          enum:
          - Continuous
          - Daily
          - Weekly
          - Monthly
          - Yearly
          type: string
          description: 'If set, this will update the monitoring interval for this monitor.<br/><i>NOTE: Continuous interval is only supported by the `NPDB` dataset at this time.</i>'
          example: Monthly
        nextMonitoringDate:
          type: string
          description: If set, this will update the next date at which the data will be monitored.
          format: date-time
        triggerImmediateVerification:
          type: boolean
          description: If set, this will trigger an immediate verification
      additionalProperties: false
    FacilityCmsCertificationDatasetRecord:
      type: object
      properties:
        certificationType:
          type:
          - string
          - 'null'
        certificationNumber:
          type:
          - string
          - 'null'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
      additionalProperties: false
    StateSanctionsAndExclusionsRecord:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsSource'
        providerType:
          type:
          - string
          - 'null'
        aliases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StateSanctionsAndExclusionsProviderAlias'
        exclusionDetails:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsExclusionDetails'
        additionalInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    NpdbSubjectInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the subject / provider.
        otherNames:
          type: array
          items:
            type: string
        gender:
          type: string
        dateOfBirth:
          type: string
          description: Date of birth of the subject / provider.
          format: date-time
        organizationName:
          type: string
          description: Organization name of the subject / provider.
        organizationTypeCode:
          type: string
          description: The NPDB's organization type code.
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
          description: The license type as described by NPDB.
        organizationType:
          type: string
          description: Organization type as described by NPDB.
        ssn:
          type: array
          items:
            type: string
        npi:
          type: array
          items:
            type: string
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
    SamDatasetRecord:
      type: object
      properties:
        classification:
          enum:
          - Unknown
          - Firm
          - Individual
          - SpecialEntityDesignation
          - Vessel
          type: string
        openDataFlag:
          type: boolean
        duns:
          type:
          - string
          - 'null'
        uei:
          type:
          - string
          - 'null'
        exclusionProgram:
          enum:
          - Unknown
          - Reciprocal
          - Nonreciprocal
          - Procurement
          - NonProcurement
          type: string
        excludingAgency:
          type:
          - string
          - 'null'
        ctCode:
          type:
          - string
          - 'null'
        exclusionType:
          type:
          - string
          - 'null'
        additionalComments:
          type:
          - string
          - 'null'
        activeDate:
          type:
          - string
          - 'null'
          format: date-time
        terminationDate:
          type:
          - string
          - 'null'
          format: date-time
        recordStatus:
          enum:
          - Active
          - Inactive
          type: string
        crossReference:
          type:
          - string
          - 'null'
        samNumber:
          type:
          - string
          - 'null'
        cage:
          type:
          - string
          - 'null'
        creationDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    BulkSanctionsAndExclusionsMonitorsModel:
      type: object
      properties:
        createdMonitors:
          type: array
          items:
            $ref: '#/components/schemas/BulkSanctionsAndExclusionsMonitorModel'
        providerIds:
          type: array
          items:
            type: string
            format: uuid
      additionalProperties: false
    AbmsCertificateRecognition:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbReportSubjectInformation:
      type: object
      properties:
        name:
          type: string
        otherNames:
          type: array
          items:
            type: string
          description: Other names used by the subject.
        gender:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        organizationName:
          type: string
        organizationTypeCode:
          type: string
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
        organizationType:
          type: string
        ssn:
          type: array
          items:
            type: string
          description: Social Security Number (SSN) of subject.
        npi:
          type: array
          items:
            type: string
          description: National Provider Identifiers (NPI).
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
          description: Professional school attended by the subject.
        deceased:
          type: boolean
          description: True or false indicating if subject is deceased.
        dea:
          type: array
          items:
            type: string
          description: Drug Enforcement Administration (DEA) Numbers.
        upin:
          type: array
          items:
            type: string
        fein:
          type: array
          items:
            type: string
        healthCareEntities:
          type: array
          items:
            type: string
          description: Name of health care entities with which subject is affiliated or associated.
        hospitalAffiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbHospitalAffiliation'
        affiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbAffiliation'
        occupationFieldOfLicensure:
          type: string
        stateLicenseNumber:
          type: string
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
        otherNames: ''
        deceased: ''
        ssn: '*****4057'
        npi: '1234567890'
        professionalSchools:
        - name: UC Davis
          yearOfGraduation: '2008'
        specialty: ''
        dea: '123456789012'
        healthCareEntities: []
        businessAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        natureOfRelationship: Subject is Owner/Partner of Affiliate or Associate
    StateSanctionsAndExclusionsProviderAlias:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    Transaction:
      type: object
      properties:
        orderId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
        transactionStatus:
          type:
          - string
          - 'null'
        transactionDescription:
          type:
          - string
          - 'null'
        dateRequested:
          type:
          - string
          - 'null'
          format: date-time
        dateNotified:
          type:
          - string
          - 'null'
          format: date-time
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbEnrollmentStatus:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    AbmsAddressRecord:
      type: object
      properties:
        city:
          type:
          - string
          - 'null'
        stateOrProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        restrictions:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbInformationReported:
      type: object
      properties:
        type:
          enum:
          - Aar
          - Mmpr
          - Jocr
          - LegacyMmpr
          - LegacyAar
          type: string
          readOnly: true
      additionalProperties: false
    NpiProfile.Identifier:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        issuer:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    BoardCertification:
      type: object
      properties:
        boardName:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        isExpired:
          type:
          - boolean
          - 'null'
        issued:
          type:
          - string
          - 'null'
          format: date-time
        expires:
          type:
          - string
          - 'null'
          format: date-time
        mocParticipation:
          type:
          - boolean
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
      additionalProperties: false
    ProviderSsnParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseVerificationModel:
      type: object
      properties:
        originalStatus:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The original status as our license verification process determined. Unlike `status` the `originalStatus` can never change.
        status:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The current status for this license verification. If you patch the license verification status (in case the status is `NeedsReview`) this property will be updated, but `originalStatus` will remain the same.
        trigger:
          enum:
          - Manual
          - Monitor
          type: string
          description: Set to `Manual` if the verification is triggered by a user or `Monitor` if the verification was triggered by the monitoring system.
        started:
          type: string
          description: Timestamp of when the license verification started processing.
          format: date-time
        processingTime:
          type: integer
          description: The duration in milliseconds it took to process the license verification from start to end.
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationResultModel'
          description: Array of verification records returned by the source that match the license number.
        additionalVerificationParameters:
          type: array
          items:
            $ref: '#/components/schemas/IProviderParameter'
          description: List of additional parameters required for a select number of sources. Missing data for select sources will result in a failed verification.
        verificationSource:
          $ref: '#/components/schemas/VerificationSourceModel'
        failureReason:
          $ref: '#/components/schemas/FailureModel'
        correctResultIndex:
          type: integer
          description: In case there is more than 1 result you can patch the verification and specify which of the records is the correct match by setting `correctResultIndex` to the appropriate index matching the index in the `results` array.
          format: int32
        export:
          type: string
          description: Once a license verification is in an 'end state' a PDF export will be generated. Once the PDF is generated this property will contain the path to that export. That path can be used to [download the file](/references/api/files/downloadfile). Please note that the process to generate an export is asynchronous and it can take several seconds after a verification is completed before the export is ready.
        exportSuccess:
          type: boolean
          description: Flag to indicate the success or failure of a verification export. If not set, the export is still in progress or has not been requested.
        exportError:
          type: string
          description: Export failure reason. if the export has failed, this field will have a short explanation.
        id:
          type: string
          description: Unique identifier for this license verification.
          format: uuid
        monitoringMetadata:
          $ref: '#/components/schemas/MonitoringMetadata'
      additionalProperties: false
    NpdbLatestReportingEntityInformation:
      type: object
      properties:
        statusDescription:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        additionalName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/NormalizedAddress'
        officeOrName:
          type:
          - string
          - 'null'
        titleOrDepartment:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        lastUpdateDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    MedicareOptOutDatasetRecord:
      type: object
      properties:
        speciality:
          type:
          - string
          - 'null'
        effectiveDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        eligibleToOrderAndRefer:
          type: boolean
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ProviderGenderParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
      additionalProperties: false
    LicenseMonitorModel:
      type: object
      properties:
        type:
          enum:
          - Dataset
          - License
          type: string
          description: Monitoring type for this monitor object. The license identifier and dataset type will be set based on this type.
        id:
          type: string
          format: uuid
        monitoringInterval:
          enum:
          - Continuous
          - Daily
          - Weekly
          - Monthly
          - Yearly
          type: string
          description: 'The interval at which the data is being monitored.<br/><i>NOTE: Continuous interval is only supported by the `NPDB` dataset at this time.</i>'
          example: Monthly
        nextMonitoringDate:
          type: string
          description: The next date on which this data is scheduled to be monitored.
          format: date-time
        lastMonitoringDate:
          type: string
          description: The date on which this data was monitored last time.
          format: date-time
        providerId:
          type: string
          description: The identifier of the provider that is associated with this monitor.
          format: uuid
        facilityId:
          type: string
          description: The identifier of the facility that is associated with this monitor.
          format: uuid
        licenseId:
          type: string
          description: The identifier of the license that is associated with this monitor.
          format: uuid
        lastVerification:
          $ref: '#/components/schemas/LicenseVerificationModel'
      additionalProperties: false
    FlexibleDataModel:
      type: object
      properties:
        type:
          enum:
          - Form
          - Table
          - Section
          type: string
          description: The schema type for `data`.
        data:
          description: The actual data for this property. The schema can change depending on `type`. See the [Flexible Data Model](/references/api/section/common-concepts/flexible-data-model) for more information.
      additionalProperties: false
    AbmsNameRecord:
      type: object
      properties:
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        familyName:
          type:
          - string
          - 'null'
        generationIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsDisclaimerInfo:
      type: object
      properties:
        certificationBoard:
          type:
          - string
          - 'null'
        disclaimer:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbCodeDescription:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        specifiedValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMatchModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        datasetTimestamp:
          type: string
          description: The timestamp when the dataset was last updated in our system at the time of this scan.
          format: date-time
        recordTimestamp:
          type: string
          description: The timestamp when this record was last updated in our system at the time of this scan.
          format: date-time
        data:
          $ref: '#/components/schemas/DatasetMatchData'
        scanId:
          type: string
          description: The identifier of the scan to which this match belongs. Not set if `scan` is populated.
          format: uuid
        scan:
          $ref: '#/components/schemas/DatasetScanModel'
        userActionNeeded:
          type: boolean
          description: Boolean indicating if action is needed for this match.
        isIgnored:
          type: boolean
          description: Set to true if this match was ignored for the associated provider.
        userActionResolution:
          enum:
          - Accept
          - Reject
          type: string
        userActionResolutionNote:
          type: string
        matchRelevance:
          enum:
          - Low
          - Medium
          - High
          type: string
        matchScore:
          description: Indicates a score from 0.0 to 1.0 where 1.0 is the maximum possible score indicating the quality of the match. Note that this feature is in beta and subject to change without notice.
          deprecated: true
        createdTimestamp:
          type: string
          description: Indicates the time that the match was added to the scan. Only populated for matches on or after January 25th 2024.
          format: date-time
        obsoleteTimestamp:
          type: string
          description: Indicates the time that the match became obsolete. This only occurs when a scan with a `status` of `Active` determines that the match is now obsolete due to changes in primary source data.
          format: date-time
      additionalProperties: false
    AbmsOccupationInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        startDateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    OigFugitivesDatasetRecord:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    BulkSanctionsAndExclusionsMonitorModel:
      type: object
      properties:
        monitorId:
          type: string
          format: uuid
        datasetType:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      additionalProperties: false
    BulkSanctionsAndExclusionsMonitorsRequestModel:
      required:
      - datasetInfos
      - providerIds
      type: object
      properties:
        providerIds:
          type: array
          items:
            type: string
            format: uuid
        datasetInfos:
          type: array
          items:
            $ref: '#/components/schemas/MonitorDatasetInfo'
      additionalProperties: false
    NpdbQueryInformation:
      type: object
      properties:
        statutesQueried:
          type: array
          items:
            type: string
          description: The statutes queried on the NPDB verification.
        queryType:
          enum:
          - OneTimeQuery
          - ContinuousQuery
          - CancellationQuery
          - StatusQuery
          - RenewQuery
          - UpdateQuery
          - TransferQuery
          - HealthCheckQuery
          type: string
          description: OneTimeQuery or ContinuousQuery.
        entityName:
          type: string
          description: The entity of the point of contact.
        entityDbId:
          type: string
        authorizedSubmitter:
          $ref: '#/components/schemas/NpdbSubmitterInformation'
      additionalProperties: false
      example:
        statutesQueried:
        - Title IV
        - Section 1921
        - Section 1128E
        queryType: OneTimeQuery
        entityName: Reporting Entity
        authorizedSubmitter:
          name: Jane Smith
          phone: 345-6789
          title: CEO
    NpiProfile.Taxonomy:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        license:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        taxonomyGroup:
          type:
          - string
          - 'null'
      additionalProperties: false
    MedicaidEnrollmentCaliforniaDatasetRecord:
      type: object
      properties:
        providerSource:
          type:
          - string
          - 'null'
        providerNumber:
          type:
          - string
          - 'null'
        ownerNumber:
          type:
          - string
          - 'null'
        serviceLocationNumber:
          type:
          - string
          - 'null'
        enrollStatusEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        providerTaxonomy:
          type:
          - string
          - 'null'
        nemtNmtProviderType:
          type:
          - string
          - 'null'
        ancProviderType:
          type:
          - string
          - 'null'
        fiProviderTypeCd:
          type:
          - string
          - 'null'
        fiProviderType:
          type:
          - string
          - 'null'
        providerLicense:
          type:
          - string
          - 'null'
        fiProviderSpecialtyCd:
          type:
          - string
          - 'null'
        fiProviderSpecialty:
          type:
          - string
          - 'null'
        outOfStateIndicator:
          type:
          - string
          - 'null'
        inOutState:
          type:
          - string
          - 'null'
        addressAttention:
          type:
          - string
          - 'null'
        dhcsCountyCd:
          type:
          - string
          - 'null'
        fipsCountyCd:
          type:
          - string
          - 'null'
        countyName:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DatasetScanOptions:
      type: object
      properties:
        parameterSetId:
          type: string
          description: Set this to override the default parameters that will be used for a dataset scan. If a parameterSetId isn’t specified, we will use the default/preferred parameter set.
          format: uuid
        referenceId:
          type: string
          description: Set this to a provider info that will be used during the dataset scan, if a reference id isn’t supplied, we will use the data from the entity itself, such as name.
          format: uuid
      additionalProperties: false
    NscAddress:
      type: object
      properties:
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        province:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    CourseOfStudy:
      type: object
      properties:
        courseName:
          type:
          - string
          - 'null'
        ncescipCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    NormalizedAddress:
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        addressLine:
          type:
          - string
          - 'null'
      additionalProperties: false
    DeaDatasetRecord:
      type: object
      properties:
        businessActivityCode:
          type:
          - string
          - 'null'
        drugSchedules:
          type:
          - string
          - 'null'
        expirationDate:
          type: string
          format: date-time
        additionalCompanyInfo:
          type:
          - string
          - 'null'
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        businessActivitySubCode:
          type:
          - string
          - 'null'
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
        active:
          type: boolean
        deax:
          $ref: '#/components/schemas/DeaxModel'
        degree:
          type:
          - string
          - 'null'
        stateLicenseNumber:
          type:
          - string
          - 'null'
        stateControlledSubstanceLicenseNumber:
          type:
          - string
          - 'null'
        businessActivity:
          type:
          - string
          - 'null'
          readOnly: true
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        registrationNumber:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderLicenseParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        licenseTypeId:
          type: string
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        number:
          type:
          - string
          - 'null'
        isPrimary:
          type: boolean
      additionalProperties: false
    OfacAlternateIdentityRecord:
      type: object
      properties:
        identityNumber:
          type: integer
          format: int64
        type:
          type:
          - string
          - 'null'
        remarks:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    VerificationSourceModel:
      type: object
      properties:
        name:
          type: string
          description: Name of the licensing organization.
        url:
          type: string
          description: The URL used to fetch the license data for this source.
        hasPassThroughFee:
          type: boolean
          description: Indicates whether the source charges a pass-through fee for a verification.
        hasPrescriptiveAuthorityStatus:
          type: boolean
        hasCompactStatus:
          type: boolean
      additionalProperties: false
    DeaxModel:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        certifiedPatientLimit:
          type: integer
          format: int32
      additionalProperties: false
    AbmsEducationInfo:
      type: object
      properties:
        degree:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        endDateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNpiParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        number:
          type: integer
          format: int64
      additionalProperties: false
    ProviderDeaParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        registrationNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateIssuance:
      type: object
      properties:
        focus:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        occurrence:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        notices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuanceNotice'
      additionalProperties: false
    NpiProfile.NpiBasicModel:
      type: object
      properties:
        replacementNpi:
          type:
          - integer
          - 'null'
          format: int64
        ein:
          type:
          - string
          - 'null'
        organizationName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        namePrefix:
          type:
          - string
          - 'null'
        nameSuffix:
          type:
          - string
          - 'null'
        credential:
          type:
          - string
          - 'null'
        enumerationDate:
          type:
          - string
          - 'null'
          format: date-time
        lastUpdateDate:
          type:
          - string
          - 'null'
          format: date-time
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
        isSoleProprietor:
          type:
          - boolean
          - 'null'
        isOrganizationalSubpart:
          type:
          - boolean
          - 'null'
        parentOrganizationLbn:
          type:
          - string
          - 'null'
        parentOrganizationTin:
          type:
          - string
          - 'null'
        authorizedOfficialNamePrefix:
          type:
          - string
          - 'null'
        authorizedOfficialNameSuffix:
          type:
          - string
          - 'null'
        authorizedOfficialCredential:
          type:
          - string
          - 'null'
        authorizedOfficialFirstName:
          type:
          - string
          - 'null'
        authorizedOfficialLastName:
          type:
          - string
          - 'null'
        authorizedOfficialMiddleName:
          type:
          - string
          - 'null'
        authorizedOfficialTelephoneNumber:
          type:
          - string
          - 'null'
        authorizedOfficialTitleOrPosition:
          type:
          - string
          - 'null'
        deactivationDate:
          type:
          - string
          - 'null'
          format: date-time
        reactivationDate:
          type:
          - string
          - 'null'
          format: date-time
        gender:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    MonitoringMetadata:
      type: object
      properties:
        monitoringInterval:
          enum:
          - Continuous
          - Daily
          - Weekly
          - Monthly
          - Yearly
          type: string
          description: 'The interval at which the data is being monitored.<br/><i>NOTE: Continuous interval is only supported by the `NPDB` dataset at this time.</i>'
          example: Monthly
        lastMonitoringDate:
          type: string
          description: The previous date on which this data was monitored, if any.
          format: date-time
        nextMonitoringDate:
          type: string
          description: The next date on which this data is scheduled to be monitored.
          format: date-time
        monitorId:
          type: string
          description: Unique identifier of the monitor.
          format: uuid
      additionalProperties: false
    NpiProfile.OtherName:
      type: object
      properties:
        nameTypeCode:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        credential:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        organizationName:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsDatasetRecord:
      type: object
      properties:
        uniqueId:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsMemberId'
        name:
          $ref: '#/components/schemas/AbmsNameRecord'
        address:
          $ref: '#/components/schemas/AbmsAddressRecord'
        educationInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsEducationInfo'
        certificationInfo:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificationInfo'
        occupationInfo:
          $ref: '#/components/schemas/AbmsOccupationInfo'
        personalInfo:
          $ref: '#/components/schemas/AbmsPersonalInfo'
        extensibleInfo:
          $ref: '#/components/schemas/AbmsExtensibleInfo'
        restrictions:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
      additionalProperties: false
    DmfDatasetRecord:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        deceased:
          type: boolean
        deceasedStateOnRecord:
          type:
          - string
          - 'null'
        dateOfDeath:
          type:
          - string
          - 'null'
          format: date-time
        lastKnowState:
          type:
          - string
          - 'null'
        lastKnowZipCode:
          type:
          - string
          - 'null'
        lastKnowCountry:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbReportInformation:
      type: object
      properties:
        transactionType:
          type: string
        dcn:
          type: string
        previousDcn:
          type: string
        previousDcnNote:
          type: string
        latestRelatedDcn:
          type: string
        reportingEntity:
          $ref: '#/components/schemas/NpdbReportingEntityInformation'
        latestReportingEntity:
          $ref: '#/components/schemas/NpdbLatestReportingEntityInformation'
        subject:
          $ref: '#/components/schemas/NpdbReportSubjectInformation'
        informationReported:
          type: array
          items:
            $ref: '#/components/schemas/NpdbInformationReported'
          description: Reported information, depending on the type of report.
        subjectNotificationFailure:
          $ref: '#/components/schemas/NpdbSubjectNotificationFailure'
        subjectStatement:
          type: string
          description: Subject statement.
        subjectStatementDate:
          type: string
          format: date-time
        disputeStatus:
          enum:
          - ReportDisputed
          - ReviewRequested
          - ReconsiderationRequested
          - DecisionReached
          type: string
          description: Report dispute status.
        originalSubmission:
          type: string
          description: Date of original submission.
          format: date-time
        mostRecentChange:
          type: string
          description: Date of most recent change.
          format: date-time
        notes:
          type: array
          items:
            type: string
        maintainedUnder:
          type: array
          items:
            $ref: '#/components/schemas/NpdbCodeDescription'
      additionalProperties: false
      example:
        reportingEntity:
          name: CPMC Van Ness Campus
          additionalName: Sutter Health
          address:
            state: CA
            zipCode: '94123'
            city: San Francisco
            addressLine: The avenue
          officeOrName: Silver Tower
          titleOrDepartment: HR
          phone: '5781234567'
          entityReference: '00000001'
        subject:
          name: Kelly June Washington
          dateOfBirth: 1988-11-6
          organizationName: UCSF
          organizationType: Medical Group/Practice
          organizationTypeCode: '365'
          workAddress:
            state: CA
            zipCode: '94123'
            city: San Francisco
            addressLine: The avenue
          license: Physician (MD)
          otherNames: ''
          deceased: ''
          ssn: '*****4057'
          npi: '1234567890'
          professionalSchools:
          - name: UC Davis
            yearOfGraduation: '2008'
          specialty: ''
          dea: '123456789012'
          healthCareEntities: []
          businessAddress:
            state: CA
            zipCode: '94123'
            city: San Francisco
            addressLine: The avenue
          natureOfRelationship: Subject is Owner/Partner of Affiliate or Associate
        informationReported:
        - initialAction: Revocation of Clinical Privileges
          typeOfAdverseAction: Clinical Privilege
          basisForAction:
            code: AA
            description: Failure to Comply With Corrective Action Plan
          classifications:
          - code: '1610'
            description: REVOCATION OF CLINICAL PRIVILEGES
          dateActionWasTaken: 2009-9-7
          dateActionBecameEffective: 2009-9-8
          lengthOfAction:
            type: indefinite
          descriptionOfSubjectActs: test report
        subjectStatement: If the subject identified in Section B of this report has submitted a statement, it appears in this section.
        disputeStatus: reviewRequested
        originalSubmission: 2020-10-2
        mostRecentChange: 2020-10-3
    LicenseVerificationAttachmentModel:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileModel'
        type:
          enum:
          - DisciplinaryAction
          - VerificationLetter
          - AdditionalDocument
          type: string
        source:
          type: string
          description: The original url for the file, taken from the verification source.
        downloadStatus:
          enum:
          - Downloaded
          - Failed
          type: string
          description: The status of the download. ´Downloaded´ or ´Failed´
        failureReason:
          $ref: '#/components/schemas/FailureModel'
      additionalProperties: false
    NameOnSchoolRecord:
      type: object
      properties:
        suffix:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpiDatasetRecord:
      type: object
      properties:
        enumerationType:
          type:
          - string
          - 'null'
        isDeactivated:
          type: boolean
        deactivationReason:
          type:
          - string
          - 'null'
        basic:
          $ref: '#/components/schemas/NpiProfile.NpiBasicModel'
        otherNames:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.OtherName'
        addresses:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Address'
        practiceLocations:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Address'
        taxonomies:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Taxonomy'
        identifiers:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/NpiProfile.Identifier'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    MonitorPageModel:
      type: object
      properties:
        sort:
          type:
          - object
          - 'null'
          properties:
            Keys:
              enum:
              - Type
              - NextMonitoringDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
        previousCursor:
          type:
          - string
          - 'null'
        nextCursor:
          type:
          - string
          - 'null'
        nextOffset:
          type:
          - integer
          - 'null'
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/MonitorModel'
        sortedBy:
          enum:
          - Type
          - NextMonitoringDate
          type:
          - string
          - 'null'
        sortDirection:
          enum:
          - Asc
          - Desc
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderCertificateParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        certificateType:
          enum:
          - AhaBasicLifeSupport
          - AhaAdvancedCardiacLifeSupport
          - AhaNeonatalAdvancedLifeSupport
          - AhaPediatricAdvancedLifeSupport
          - CaliforniaCertifiedWellnessCoach
          - AhaAdvancedCardiovascularLifeSupport
          - AhaAdvancedStrokeLifeSupport
          - AhaPears
          - AhaHeartsaver
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    Course:
      type: object
      properties:
        courseName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NscDatasetRecord:
      type: object
      properties:
        degreeDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Degree'
        enrollmentDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Enrollment'
        transaction:
          $ref: '#/components/schemas/Transaction'
        previousNames:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/PersonName'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNccpaBoardCertificateInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        number:
          type:
          - string
          - 'null'
      additionalProperties: false
    IProviderParameter:
      oneOf:
      - $ref: '#/components/schemas/FacilityAccreditationInfoParameter'
      - $ref: '#/components/schemas/FacilityCmsCertificationInfoParameter'
      - $ref: '#/components/schemas/FacilityNameParameter'
      - $ref: '#/components/schemas/ProviderAddressParameter'
      - $ref: '#/components/schemas/ProviderBoardCertificationNumberParameter'
      - $ref: '#/components/schemas/ProviderCaqhIdParameter'
      - $ref: '#/components/schemas/ProviderCertificateParameter'
      - $ref: '#/components/schemas/ProviderDateOfBirthParameter'
      - $ref: '#/components/schemas/ProviderDeaParameter'
      - $ref: '#/components/schemas/ProviderEducationParameter'
      - $ref: '#/components/schemas/ProviderGenderParameter'
      - $ref: '#/components/schemas/ProviderLicenseParameter'
      - $ref: '#/components/schemas/ProviderNameParameter'
      - $ref: '#/components/schemas/ProviderNccpaBoardCertificateInfoParameter'
      - $ref: '#/components/schemas/ProviderNpiParameter'
      - $ref: '#/components/schemas/ProviderSsnParameter'
      - $ref: '#/components/schemas/ProviderTypeParameter'
      discriminator:
        propertyName: type
        mapping:
          FacilityAccreditationInfo: '#/components/schemas/FacilityAccreditationInfoParameter'
          FacilityCmsCertificationInfo: '#/components/schemas/FacilityCmsCertificationInfoParameter'
          FacilityName: '#/components/schemas/FacilityNameParameter'
          Address: '#/components/schemas/ProviderAddressParameter'
          BoardCertificationNumber: '#/components/schemas/ProviderBoardCertificationNumberParameter'
          CaqhId: '#/components/schemas/ProviderCaqhIdParameter'
          Certificate: '#/components/schemas/ProviderCertificateParameter'
          DateOfBirth: '#/components/schemas/ProviderDateOfBirthParameter'
          Dea: '#/components/schemas/ProviderDeaParameter'
          Education: '#/components/schemas/ProviderEducationParameter'
          Gender: '#/components/schemas/ProviderGenderParameter'
          License: '#/components/schemas/ProviderLicenseParameter'
          Name: '#/components/schemas/ProviderNameParameter'
          NccpaBoardCertificateInfo: '#/components/schemas/ProviderNccpaBoardCertificateInfoParameter'
          Npi: '#/components/schemas/ProviderNpiParameter'
          Ssn: '#/components/schemas/ProviderSsnParameter'
          ProviderType: '#/components/schemas/ProviderTypeParameter'
    FileModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this file.
          format: uuid
        providerId:
          type: string
          description: If set, the provider to which this file is associated.
          format: uuid
        facilityId:
          type: string
          description: If set, the facility to which this file is associated.
          format: uuid
        createdAt:
          type: string
          description: The time when the file was created.
          format: date-time
        createdByUserId:
          type: string
          description: The identifier of the user who created the file.
          format: uuid
        createdByUserEmail:
          type: string
          description: The e-mail of the user who created the file.
        path:
          type: string
          description: Path to the file.
        size:
          type: integer
          description: The size of the file.
          format: int32
      additionalProperties: false
    DatasetMonitorModel:
      type: object
      properties:
        type:
          enum:
          - Dataset
          - License
          type: string
          description: Monitoring type for this monitor object. The license identifier and dataset type will be set based on this type.
        id:
          type: string
          format: uuid
        monitoringInterval:
          enum:
          - Continuous
          - Daily
          - Weekly
          - Monthly
          - Yearly
[...]
