openapi: 3.2.0
info:
  title: Verifiable API Documentation Licenses API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Licenses
  description: These endpoints allow you to add licenses to a provider and perform license lookups.
paths:
  /provider-licenses:
    get:
      tags:
      - Licenses
      summary: List provider licenses
      description: Returns a page of provider licenses.
      operationId: ListProviderLicenses
      parameters:
      - name: providerName
        in: query
        description: If set, the items will be filtered on providers with the specified (first or last) name.
        schema:
          type: string
      - name: providerCredentialingStatus
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing status.
        schema:
          type: array
          items:
            type: string
      - name: licenseState
        in: query
        description: If set, the items will be filtered on licenses with the specified license state.
        schema:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
      - name: licenseType
        in: query
        description: If set, the items will be filtered on licenses with the specified license type.
        schema:
          type: string
          format: uuid
      - name: licenseStatus
        in: query
        description: If set, the items will be filtered on licenses with the specified license status.
        schema:
          enum:
          - None
          - Active
          - Expired
          - ExpiresSoon
          - DisciplinaryActions
          - Found
          - NotFound
          - UnableToVerify
          - NeedsReview
          - All
          type: string
      - name: licenseVerificationStatus
        in: query
        description: If set, the items will be filtered on licenses with the verification status.
        schema:
          enum:
          - Verified
          - Unverified
          type: string
      - name: licenseApprovedStatus
        in: query
        schema:
          type: array
          items:
            enum:
            - Pending
            - 'Yes'
            - 'No'
            type: string
      - name: export
        in: query
        schema:
          enum:
          - None
          - Csv
          type: string
      - name: providerDeactivated
        in: query
        schema:
          type: boolean
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - ProviderFirstName
          - ProviderLastName
          - LicenseState
          - LicenseExpirationDate
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - ProviderFirstName
              - ProviderLastName
              - LicenseState
              - LicenseExpirationDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderLicensePageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/{licenseId}/verify:
    post:
      tags:
      - Licenses
      summary: Trigger a new license verification
      description: By executing this endpoint a new license verification is scheduled and executed for the specified license.
      operationId: TriggerLicenseVerification
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license to be verified again.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/verify:
    post:
      tags:
      - Licenses
      summary: Trigger license verifications
      description: By executing this endpoint a license verifications is scheduled and executed for specified licenses for the provider.
      operationId: TriggerLicenseVerifications
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        description: List with license identifiers to run verifications. If list with identifiers is empty, verifications for all provider licenses will be run.
        content:
          application/json:
            schema:
              type: array
              items:
                title: Unique license identifier to run verififcation.
                type: string
                format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/{licenseId}:
    delete:
      tags:
      - Licenses
      summary: Detach a license from a provider
      description: This will delete the license and associated verification records for the specified provider. This will also delete any related data such as screenshots, attachments, export reports, alerts etc.
      operationId: DetachLicense
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider to detach the license from.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license that you want to detach.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Licenses
      summary: Get a specific license from a provider
      description: Returns the data and latest verification for a specific license attached to a specific provider.
      operationId: GetLicense
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license that you want to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/{licenseId}/verifications/{verificationId}:
    get:
      tags:
      - Licenses
      summary: Get a specific license verification
      description: Returns the data for a specific previously executed license verification. This endpoint can be used to retrieve historical results on older license verifications.
      operationId: GetLicenseVerification
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license that was previously verified.
        required: true
        schema:
          type: string
          format: uuid
      - name: verificationId
        in: path
        description: The identifier describing the license verification that you want to retrieve.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseVerificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Licenses
      summary: Resolve problems with a license verification
      description: After a license verification is executed we sometimes are uncertain about the results we get from the source. For example when the source returns more than 1 match or the name of the license does not match the name that was used for the provider. In such cases we mark the license `status` as `NeedsReview`. It is expected that this status is resolved by the end user. The resolution can be patched by using this endpoint.
      operationId: ResolveLicenseVerificationProblems
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license that has a verification problem.
        required: true
        schema:
          type: string
          format: uuid
      - name: verificationId
        in: path
        description: The identifier describing the license verification that needs to be patched.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicenseVerificationResolutionModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseVerificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/{licenseId}/verifications/{verificationId}/diff:
    get:
      tags:
      - Licenses
      summary: Diff two license verifications
      description: Returns the diff according to jsondiffpatch format between the specified verification and the previous successful verification.
      operationId: GetLicenseVerificationDiff
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license that was previously verified.
        required: true
        schema:
          type: string
          format: uuid
      - name: verificationId
        in: path
        description: The identifier describing the license verification that you want to diff with the previous one.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseVerificationDiffModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses/{licenseId}/verifications:
    get:
      tags:
      - Licenses
      summary: List all verifications for a license
      description: It is possible to perform more than one verification for any given license. In order to go back in history you can use this endpoint to get a list of all verifications for the specified license.
      operationId: ListLicenseVerifications
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider that holds the license.
        required: true
        schema:
          type: string
          format: uuid
      - name: licenseId
        in: path
        description: The identifier describing the license to get the verifications from.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LicenseVerificationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /licensetypes:
    get:
      tags:
      - Licenses
      summary: List license types
      description: Returns a list of all license types that are currently supported and used for license verifications.
      operationId: ListSimplifiedLicenseTypes
      parameters:
      - name: state
        in: query
        description: If set, the items will be filtered on the state specified by this parameter
        schema:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Taxonomy
          - Name
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Taxonomy
              - Name
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplifiedLicenseTypePageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /licensetypes/status:
    get:
      tags:
      - Licenses
      summary: List license source status
      description: Returns the license source status information for one or more license types.
      operationId: ListSimplifiedLicenseTypesStatus
      parameters:
      - name: licenseTypeId
        in: query
        description: If set, the items will be filtered by the License type id. Please refer to [LicenseTypes](/references/api/licenses/listsimplifiedlicensetypes) for more information on the License type id.
        schema:
          type: string
          format: uuid
      - name: state
        in: query
        description: If set, the items will be filtered by the state specified in this parameter.
        schema:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
      - name: licenseTypeSearchQuery
        in: query
        schema:
          type: string
      - name: sourceIssue
        in: query
        schema:
          enum:
          - PossibleIssue
          - SourceIssue
          - AutomationIssue
          - AutomationDegraded
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - State
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - State
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimplifiedLicenseTypeStatusPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/licenses:
    post:
      tags:
      - Licenses
      summary: Attach a license to a provider
      description: To perform a license verification you must first attach a license to a provider. The first time you do this will automatically trigger a license verification on that provider. Once attached you can reverify the same license without reattaching it. A provider can have more than one license attached.
      operationId: AttachLicense
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider to attach the license to.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachLicenseRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Licenses
      summary: List all licenses from a provider
      description: Returns a list of all licenses previously attached to the specified provider.
      operationId: ListLicenses
      parameters:
      - name: providerId
        in: path
        description: The identifier describing the provider to list all licenses for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '500':
          description: Server Error
      security:
      - Bearer: []
  /provider-licenses/aggregations:
    get:
      tags:
      - Licenses
      summary: Get provider licenses aggregations
      description: Returns aggregated counts for provider licenses with different statuses.
      operationId: GetProviderLicensesAggregations
      parameters:
      - name: providerDeactivated
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderLicenseAggregationsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /licenses/{licenseId}:
    patch:
      tags:
      - Licenses
      summary: Patch an existing license
      description: Allows you to change a license's restriction or approved status.
      operationId: PatchLicense
      parameters:
      - name: licenseId
        in: path
        description: Identifier of the license to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LicensePatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    LicenseVerificationResultModel:
      type: object
      properties:
        name:
          type: string
          description: Name of the provider as indicated by the source.
        licenseType:
          type: string
          description: Textual description of the license type as indicated by the source.
        licenseStatus:
          type: string
          description: Textual description of the license status as indicated by the source.
        licenseNumber:
          type: string
          description: License number as indicated by the source.
        address:
          type: string
          description: Address of the license holder as indicated by the source.
        issued:
          type: string
          description: Timestamp when the license was issued as indicated by the source.
          format: date-time
        expires:
          type: string
          description: Timestamp when the license expires as indicated by the source.
          format: date-time
        screenshots:
          type: array
          items:
            type: string
          description: Array of paths to screenshots that were taken as proof of the license verification.
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationAttachmentModel'
          description: Array of attachments related to the verification that were taken from the source.
        disciplinaryActions:
          $ref: '#/components/schemas/FlexibleDataModel'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        problems:
          type: array
          items:
            enum:
            - NameMismatch
            - LicenseTypeMismatch
            type: string
          description: Array of problems that resulted in a `NeedsReview` status for the license verification.
        prescriptiveAuthority:
          type: string
          description: Indicates whether the provider is legally authorized to prescribe medications, as reported by the licensing authority.
        compactStatus:
          type: string
          description: Indicates whether the provider holds a multistate/interstate practice privilege under an applicable compact, as reported by the licensing authority.
      additionalProperties: false
    VerificationSourceModel:
      type: object
      properties:
        name:
          type: string
          description: Name of the licensing organization.
        url:
          type: string
          description: The URL used to fetch the license data for this source.
        hasPassThroughFee:
          type: boolean
          description: Indicates whether the source charges a pass-through fee for a verification.
        hasPrescriptiveAuthorityStatus:
          type: boolean
        hasCompactStatus:
          type: boolean
      additionalProperties: false
    NonVerifiedLicenseInfoModel:
      type: object
      properties:
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      additionalProperties: false
    SimpleLicenseBaseModel:
      type: object
      properties:
        providerId:
          type: string
          format: uuid
        number:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        isPrimary:
          type: boolean
        id:
          type: string
          format: uuid
        isCurrentlyPracticing:
          type: boolean
        status:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        verificationStatus:
          enum:
          - Verified
          - Unverified
          type:
          - string
          - 'null'
        licenseTypeId:
          type: string
          format: uuid
        licenseTypeName:
          type:
          - string
          - 'null'
        approvedStatus:
          enum:
          - Pending
          - 'Yes'
          - 'No'
          type: string
        restrictionStatus:
          enum:
          - None
          - Restricted
          - Unrestricted
          type: string
        nonVerifiedInfoIssueDate:
          type:
          - string
          - 'null'
          format: date-time
        nonVerifiedInfoExpirationDate:
          type:
          - string
          - 'null'
          format: date-time
        nonVerifiedInfoStatus:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseVerificationResolutionModel:
      type: object
      properties:
        status:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The correct status for this license verification.
        correctResultIndex:
          type: integer
          description: The correct result index for this license verification (if applicable).
          format: int32
      additionalProperties: false
      example:
        status: Found
        correctResultIndex: 0
    ProviderLicenseAggregationsModel:
      type: object
      properties:
        total:
          type: integer
          description: The total number of provider licenses.
          format: int32
        aggregations:
          type: object
          additionalProperties:
            type: integer
            format: int32
          description: For each state that a provider license can have, a count of provider licenses in that state.
      additionalProperties: false
      example:
        total: 100
        aggregations:
          Active: 2
          Expired: 10
          ExpiresSoon: 5
          DisciplinaryActions: 15
          Found: 80
          NotFound: 20
          UnableToVerify: 40
          NeedsReview: 30
    ProviderNpiParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        number:
          type: integer
          format: int64
      additionalProperties: false
    ProviderCaqhIdParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        caqhProviderId:
          type: integer
          format: int64
      additionalProperties: false
    ProviderDeaParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        registrationNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderDateOfBirthParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        dateOfBirth:
          type: string
          format: date-time
      additionalProperties: false
    ProviderAddressParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        addressType:
          enum:
          - Unspecified
          - Home
          - Work
          type: string
        addressLine:
          type:
          - string
          - 'null'
        addressLine2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        zipCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    SimplifiedLicenseTypeStatusModel:
      type: object
      properties:
        licenseTypeName:
          type: string
        sourceName:
          type: string
        licenseTypeId:
          type: string
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        status:
          $ref: '#/components/schemas/LicenseSourceStatusModel'
        maintenanceWindows:
          type: array
          items:
            $ref: '#/components/schemas/MaintenanceDowntimeCronDescription'
          description: Array with the CRON descriptions that explain when this license type will be in maintenance window. When a license type is in a maintenance window the requests sent to it will be delayed until it is over.
      additionalProperties: false
    MonitoringMetadata:
      type: object
      properties:
        monitoringInterval:
          enum:
          - Continuous
          - Daily
          - Weekly
          - Monthly
          - Yearly
          type: string
          description: 'The interval at which the data is being monitored.<br/><i>NOTE: Continuous interval is only supported by the `NPDB` dataset at this time.</i>'
          example: Monthly
        lastMonitoringDate:
          type: string
          description: The previous date on which this data was monitored, if any.
          format: date-time
        nextMonitoringDate:
          type: string
          description: The next date on which this data is scheduled to be monitored.
          format: date-time
        monitorId:
          type: string
          description: Unique identifier of the monitor.
          format: uuid
      additionalProperties: false
    ProviderSsnParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseVerificationModel:
      type: object
      properties:
        originalStatus:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The original status as our license verification process determined. Unlike `status` the `originalStatus` can never change.
        status:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: The current status for this license verification. If you patch the license verification status (in case the status is `NeedsReview`) this property will be updated, but `originalStatus` will remain the same.
        trigger:
          enum:
          - Manual
          - Monitor
          type: string
          description: Set to `Manual` if the verification is triggered by a user or `Monitor` if the verification was triggered by the monitoring system.
        started:
          type: string
          description: Timestamp of when the license verification started processing.
          format: date-time
        processingTime:
          type: integer
          description: The duration in milliseconds it took to process the license verification from start to end.
          format: int64
        results:
          type: array
          items:
            $ref: '#/components/schemas/LicenseVerificationResultModel'
          description: Array of verification records returned by the source that match the license number.
        additionalVerificationParameters:
          type: array
          items:
            $ref: '#/components/schemas/IProviderParameter'
          description: List of additional parameters required for a select number of sources. Missing data for select sources will result in a failed verification.
        verificationSource:
          $ref: '#/components/schemas/VerificationSourceModel'
        failureReason:
          $ref: '#/components/schemas/FailureModel'
        correctResultIndex:
          type: integer
          description: In case there is more than 1 result you can patch the verification and specify which of the records is the correct match by setting `correctResultIndex` to the appropriate index matching the index in the `results` array.
          format: int32
        export:
          type: string
          description: Once a license verification is in an 'end state' a PDF export will be generated. Once the PDF is generated this property will contain the path to that export. That path can be used to [download the file](/references/api/files/downloadfile). Please note that the process to generate an export is asynchronous and it can take several seconds after a verification is completed before the export is ready.
        exportSuccess:
          type: boolean
          description: Flag to indicate the success or failure of a verification export. If not set, the export is still in progress or has not been requested.
        exportError:
          type: string
          description: Export failure reason. if the export has failed, this field will have a short explanation.
        id:
          type: string
          description: Unique identifier for this license verification.
          format: uuid
        monitoringMetadata:
          $ref: '#/components/schemas/MonitoringMetadata'
      additionalProperties: false
    LicenseModel:
      type: object
      properties:
        providerId:
          type: string
          description: Identifier of the provider associated with this license.
          format: uuid
        licenseNumber:
          type: string
          description: The license number used when attaching this license to the provider.
        firstName:
          type: string
          description: Provider first name number used when attaching this license to the provider.
        lastName:
          type: string
          description: Provider last name used when attaching this license to the provider.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State associated with the license.
        jobStatus:
          enum:
          - Idle
          - Pending
          - Working
          type: string
          description: If the `jobStatus` is `Pending` or `Working` it means that we are busy performing the license verification. Once the status is `Idle` the verification is done.
        nonVerifiedInfo:
          $ref: '#/components/schemas/NonVerifiedLicenseInfoModel'
        currentVerificationStatus:
          enum:
          - Found
          - Failed
          - NeedsReview
          - NotFound
          - Pending
          - Working
          type: string
          description: Status of the last requested verification for this license.
        currentVerification:
          $ref: '#/components/schemas/LicenseVerificationModel'
        restrictionStatus:
          enum:
          - None
          - Restricted
          - Unrestricted
          type: string
          description: Restriction status for the license. `None` is a default value.
        approvedStatus:
          enum:
          - Pending
          - 'Yes'
          - 'No'
          type: string
          description: Approval status for the license. `Pending` is a default value.
        isPrimary:
          type: boolean
          description: If the flag is set, license will be set as primary for the provider.
        id:
          type: string
          description: Unique identifier for this specific license.
          format: uuid
        isCurrentlyPracticing:
          type: boolean
          description: Indicates whether the provider is currently practicing in this state.
        prescriptiveAuthority:
          enum:
          - RequiredMet
          - RequiredNotMet
          - NotRequired
          type: string
          description: The prescriptive authority status identifying whether the license requires a collaborative practice agreement or protocol, and whether the requirement has been met.
        collaboratingProviderId:
          type: string
          description: Identifier describing the provider who fulfills the license's collaborative practice agreement or protocol requirement.
          format: uuid
        licenseType:
          $ref: '#/components/schemas/SimplifiedLicenseTypeModel'
      additionalProperties: false
    ProviderGenderParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
      additionalProperties: false
    LicenseVerificationAttachmentModel:
      type: object
      properties:
        file:
          $ref: '#/components/schemas/FileModel'
        type:
          enum:
          - DisciplinaryAction
          - VerificationLetter
          - AdditionalDocument
          type: string
        source:
          type: string
          description: The original url for the file, taken from the verification source.
        downloadStatus:
          enum:
          - Downloaded
          - Failed
          type: string
          description: The status of the download. ´Downloaded´ or ´Failed´
        failureReason:
          $ref: '#/components/schemas/FailureModel'
      additionalProperties: false
    ProviderLicenseModel:
      type: object
      properties:
        provider:
          $ref: '#/components/schemas/ProviderBaseModel'
        license:
          $ref: '#/components/schemas/SimpleLicenseBaseModel'
      additionalProperties: false
    FlexibleDataModel:
      type: object
      properties:
        type:
          enum:
          - Form
          - Table
          - Section
          type: string
          description: The schema type for `data`.
        data:
          description: The actual data for this property. The schema can change depending on `type`. See the [Flexible Data Model](/references/api/section/common-concepts/flexible-data-model) for more information.
      additionalProperties: false
    ProviderTypeParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
        typeId:
          type: string
          format: uuid
      additionalProperties: false
    ProviderEducationParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        graduationYear:
          type:
          - integer
          - 'null'
          format: int32
        schoolName:
          type:
          - string
          - 'null'
        schoolCode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderCertificateParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        certificateType:
          enum:
          - AhaBasicLifeSupport
          - AhaAdvancedCardiacLifeSupport
          - AhaNeonatalAdvancedLifeSupport
          - AhaPediatricAdvancedLifeSupport
          - CaliforniaCertifiedWellnessCoach
          - AhaAdvancedCardiovascularLifeSupport
          - AhaAdvancedStrokeLifeSupport
          - AhaPears
          - AhaHeartsaver
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityAccreditationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        accreditationNumber:
          type:
          - string
          - 'null'
        accreditationProgram:
          type:
          - string
          - 'null'
      additionalProperties: false
    SimplifiedLicenseTypeModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this license type.
          format: uuid
        taxonomy:
          type: string
          description: Unique taxonomy code associated with this license type.
        name:
          type: string
          description: Descriptive name for this license type.
        aliases:
          type: array
          items:
            type: string
          description: Aliases used by different sources.
        abbreviations:
          type: array
          items:
            type: string
          description: License type name abbreviations.
        states:
          type: array
          items:
            enum:
            - AL
            - AK
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FL
            - GA
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VA
            - WA
            - WV
            - WI
            - WY
            - AS
            - GU
            - MP
            - PR
            - VI
            type: string
          description: List of states for which license verification is supported.
          deprecated: true
        verificationParameters:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/LicenseVerificationParameters'
          description: Description of parameters required to run verifications.
          deprecated: true
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedLicenseTypeSourceModel'
          description: A list of parameters and other verification-related information per state.
      additionalProperties: false
    LicensePatchModel:
      type: object
      properties:
        restrictionStatus:
          enum:
          - None
          - Restricted
          - Unrestricted
          type: string
          description: If set, the license's restriction status will be updated with this value.
        approvedStatus:
          enum:
          - Pending
          - 'Yes'
          - 'No'
          type: string
          description: If set, the license's approved status will be updated with this value.
        nonVerifiedInfo:
          $ref: '#/components/schemas/NonVerifiedLicenseInfoModel'
        isCurrentlyPracticing:
          type: boolean
          description: If set, the license's `isCurrentlyPracticing` flag will be updated with this value.
        isPrimary:
          type: boolean
          description: If set, the license's `isPrimary` flag will be updated with this value.
        prescriptiveAuthority:
          enum:
          - RequiredMet
          - RequiredNotMet
          - NotRequired
          type: string
        collaboratingProviderId:
          type: string
          format: uuid
      additionalProperties: false
      example:
        restrictionStatus: NotRestricted
        approvedStatus: 'Yes'
    SimplifiedLicenseTypePageModel:
      type: object
      properties:
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/SimplifiedLicenseTypeModel'
          description: The providers in the current page.
        sortedBy:
          enum:
          - Taxonomy
          - Name
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
        sort:
          type: object
          properties:
            Keys:
              enum:
              - Taxonomy
              - Name
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          taxonomy: string
          name: string
          aliases:
          - string
          abbreviations:
          - string
          states:
          - AL
          verificationParameters:
            AL:
              requiredParameters:
              - LicenseNumber
              optionalParameters: []
          sources:
          - state: AL
            requiredParameters:
            - LicenseNumber
            optionalParameters: []
            hasPassThroughFee: true
        sortedBy: Taxonomy
        sortDirection: Asc
        sort:
          Taxonomy: Asc
          Name: Desc
    SimplifiedLicenseTypeSourceModel:
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The state the verification information relates to for the given license type.
        requiredParameters:
          type: array
          items:
            enum:
            - LicenseNumber
            - Name
            - Ssn
            type: string
          description: List of parameters required to run a license verification. Missing data for a required parameter will result in a failed verification.
        optionalParameters:
          type: array
          items:
            enum:
            - LicenseNumber
            - Name
            - Ssn
            type: string
          description: List of optional parameters that may be used to improve the verification result quality by applying additional filters.
        hasPassThroughFee:
          type: boolean
          description: Indicates whether the source for this state + license type combination charges a pass-through fee for a verification.
      additionalProperties: false
    ProviderLicensePageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - ProviderFirstName
              - ProviderLastName
              - LicenseState
              - LicenseExpirationDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProviderLicenseModel'
          description: The providers licenses in the current page.
        sortedBy:
          enum:
          - ProviderFirstName
          - ProviderLastName
          - LicenseState
          - LicenseExpirationDate
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - provider:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            firstName: string
            lastName: string
            dateOfBirth: '2019-08-24T14:15:22.0000000Z'
            ssn: '***'
            credentialingStatus: string
            credentialedDate: '2019-08-24T14:15:22.0000000Z'
            npi: 0
          license:
            providerId: 4834bcdc-4a64-444d-966b-1a6fe381da24
            number: string
            state: AL
            isPrimary: true
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            isCurrentlyPracticing: true
            status: string
            expiryDate: '2019-08-24T14:15:22.0000000Z'
            verificationStatus: Verified
            licenseTypeId: acac9426-ab93-4f79-a277-f4ccd1b60206
            licenseTypeName: string
            approvedStatus: Pending
        sortedBy: ProviderFirstName
        sortDirection: Asc
        sort:
          ProviderFirstName: Asc
          ProviderLastName: Desc
    LicenseVerificationDiffModel:
      type: object
      properties:
        old:
          $ref: '#/components/schemas/LicenseVerificationModel'
        new:
          $ref: '#/components/schemas/LicenseVerificationModel'
        diff:
          description: Diff in [jsondiffpatch](https://github.com/benjamine/jsondiffpatch) format.
      additionalProperties: false
    MaintenanceDowntimeCronDescription:
      type: object
      properties:
        expression:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        isUnderMaintenanceInTheNextHour:
          type: boolean
        trigger:
          enum:
          - Manual
          - Automated
          type: string
        expiresIn:
          type:
          - string
          - 'null'
          format: timespan
        isExpired:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    FacilityCmsCertificationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        certificateNumber:
          type:
          - string
          - 'null'
        certificateType:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderBaseModel:
      required:
      - credentialingStatus
      - firstName
      - lastName
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          minLength: 1
          type: string
        lastName:
          minLength: 1
          type: string
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        ssn:
          type:
          - string
          - 'null'
        credentialingStatus:
          minLength: 1
          type: string
        credentialedDate:
          type:
          - string
          - 'null'
          format: date-time
        nextCredentialingDate:
          type:
          - string
          - 'null'
          format: date
        npi:
          type:
          - integer
          - 'null'
          format: int64
        deactivated:
          type: boolean
        deactivatedAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    ProviderNccpaBoardCertificateInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        number:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseVerificationParameters:
      type: object
      properties:
        requiredParameters:
          type: array
          items:
            enum:
            - LicenseNumber
            - Name
            - Ssn
            type: string
          description: List of parameters required to run a license verification. Missing data for a required parameter will result into a failed verification.
        optionalParameters:
          type: array
          items:
            enum:
            - LicenseNumber
            - Name
            - Ssn
            type: string
          description: List of optional parameters that may be used to improve the verification result quality by applying additional filters.
      additionalProperties: false
    IProviderParameter:
      oneOf:
      - $ref: '#/components/schemas/FacilityAccreditationInfoParameter'
      - $ref: '#/components/schemas/FacilityCmsCertificationInfoParameter'
      - $ref: '#/components/schemas/FacilityNameParameter'
      - $ref: '#/components/schemas/ProviderAddressParameter'
      - $ref: '#/components/schemas/ProviderBoardCertificationNumberParameter'
      - $ref: '#/components/schemas/ProviderCaqhIdParameter'
      - $ref: '#/components/schemas/ProviderCertificateParameter'
      - $ref: '#/components/schemas/ProviderDateOfBirthParameter'
      - $ref: '#/components/schemas/ProviderDeaParameter'
      - $ref: '#/components/schemas/ProviderEducationParameter'
      - $ref: '#/components/schemas/ProviderGenderParameter'
      - $ref: '#/components/schemas/ProviderLicenseParameter'
      - $ref: '#/components/schemas/ProviderNameParameter'
      - $ref: '#/components/schemas/ProviderNccpaBoardCertificateInfoParameter'
      - $ref: '#/components/schemas/ProviderNpiParameter'
      - $ref: '#/components/schemas/ProviderSsnParameter'
      - $ref: '#/components/schemas/ProviderTypeParameter'
      discriminator:
        propertyName: type
        mapping:
          FacilityAccreditationInfo: '#/components/schemas/FacilityAccreditationInfoParameter'
          FacilityCmsCertificationInfo: '#/components/schemas/FacilityCmsCertificationInfoParameter'
          FacilityName: '#/components/schemas/FacilityNameParameter'
          Address: '#/components/schemas/ProviderAddressParameter'
          BoardCertificationNumber: '#/components/schemas/ProviderBoardCertificationNumberParameter'
          CaqhId: '#/components/schemas/ProviderCaqhIdParameter'
          Certificate: '#/components/schemas/ProviderCertificateParameter'
          DateOfBirth: '#/components/schemas/ProviderDateOfBirthParameter'
          Dea: '#/components/schemas/ProviderDeaParameter'
          Education: '#/components/schemas/ProviderEducationParameter'
          Gender: '#/components/schemas/ProviderGenderParameter'
          License: '#/components/schemas/ProviderLicenseParameter'
          Name: '#/components/schemas/ProviderNameParameter'
          NccpaBoardCertificateInfo: '#/components/schemas/ProviderNccpaBoardCertificateInfoParameter'
          Npi: '#/components/schemas/ProviderNpiParameter'
          Ssn: '#/components/schemas/ProviderSsnParameter'
          ProviderType: '#/components/schemas/ProviderTypeParameter'
    FileModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this file.
          format: uuid
        providerId:
          type: string
          description: If set, the provider to which this file is associated.
          format: uuid
        facilityId:
          type: string
          description: If set, the facility to which this file is associated.
          format: uuid
        createdAt:
          type: string
          description: The time when the file was created.
          format: date-time
        createdByUserId:
          type: string
          description: The identifier of the user who created the file.
          format: uuid
        createdByUserEmail:
          type: string
          description: The e-mail of the user who created the file.
        path:
          type: string
          description: Path to the file.
        size:
          type: integer
          description: The size of the file.
          format: int32
      additionalProperties: false
    SimplifiedLicenseTypeStatusPageModel:
      type: object
      properties:
        previousCursor:
          type:
          - string
          - 'null'
        nextCursor:
          type:
          - string
          - 'null'
        nextOffset:
          type:
          - integer
          - 'null'
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/SimplifiedLicenseTypeStatusModel'
        sortedBy:
          enum:
          - State
          type:
          - string
          - 'null'
        sortDirection:
          enum:
          - Asc
          - Desc
          type:
          - string
          - 'null'
        sort:
          type:
          - object
          - 'null'
          properties:
            Keys:
              enum:
              - State
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      additionalProperties: false
    ProviderBoardCertificationNumberParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        boardCertificationNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    LicenseSourceStatusModel:
      type: object
      properties:
        issue:
          enum:
          - PossibleIssue
          - SourceIssue
          - AutomationIssue
          - AutomationDegraded
          type: string
          description: License source issue type. Set only if the license source is presenting any issue during verification.
        averageProcessingTime:
          type: number
          description: Average processing time for a license verification (based on verifications over last 24 hrs).
          format: double
        averageFailureRate:
          type: number
          description: Average license verification failure rate for a license verification (based on verifications over last 24 hrs).
          format: double
      additionalProperties: false
    AttachLicenseRequestModel:
      required:
      - licenseTypeId
      - state
      type: object
      properties:
        licenseNumber:
          type: string
          description: A license number from one of the licenses of the provider.
        licenseTypeId:
          type: string
          description: License type id for one of the license type supported. Please refer to [LicenseTypes](/references/api/licenses/listsimplifiedlicensetypes) for more information.
          format: uuid
        firstName:
          type: string
          description: Specify a first name that will be used during the license verification. If not specified, first name will be used from the provider basic info.
        lastName:
          type: string
          description: Specify a last name that will be used during the license verification. If not specified, last name will be used from the provider basic info.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State for which license type needs to be attached.
        restrictionStatus:
          enum:
          - None
          - Restricted
          - Unrestricted
          type: string
          description: Restriction status for the license. `None` is a default value.
        approvedStatus:
          enum:
          - Pending
          - 'Yes'
          - 'No'
          type: string
          description: Approval status for the license. `Pending` is a default value.
        nonVerifiedInfo:
          $ref: '#/components/schemas/NonVerifiedLicenseInfoModel'
        skipVerification:
          type: boolean
          description: If the flag is set, verification wouldn't be run right after attaching license to the provider.
        isCurrentlyPracticing:
          type: boolean
        isPrimary:
          type: boolean
          description: If the flag is set, the license will be set as primary for the provider.
        prescriptiveAuthority:
          enum:
          - RequiredMet
          - RequiredNotMet
          - NotRequired
          type: string
        collaboratingProviderId:
          type: string
          format: uuid
      additionalProperties: false
      example:
        licenseNumber: '123456'
        state: AL
        licenseTypeId: 25cb4aee-c0c2-419b-b7c0-fd37169e9efb
    ProviderLicenseParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        licenseTypeId:
          type: string
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        number:
          type:
          - string
          - 'null'
        isPrimary:
          type: boolean
      additionalProperties: false
    FailureModel:
      type: object
      properties:
        messageTemplate:
          type: string
          description: An informative human readable message describing the verification failure.
        messageParams:
          type: object
          additionalProperties:
            type:
            - string
            - 'null'
          description: Collection of key/value pairs containing parameters to be replaced in `messageTemplate`.
      additionalProperties: false
      description: An object with a reason message template and an array of params. Can be used to construct a meaningful description of the error. Not set when no errors happened.
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
