openapi: 3.2.0
info:
  title: Verifiable API Documentation Provider Enrollments API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: ProviderEnrollments
  description: Endpoints related to managing and listing provider enrollments. Providers in a group can be associated to payer plans via provider enrollments.
paths:
  /providers/enrollments:
    post:
      tags:
      - ProviderEnrollments
      summary: Create a new provider enrollment
      description: Creates a new enrollment of provider to payer plan.
      operationId: CreateProviderEnrollment
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderEnrollmentRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProviderEnrollments
      summary: List provider enrollments
      description: Returns a page of provider enrollments.
      operationId: ListProviderEnrollments
      parameters:
      - name: groupId
        in: query
        description: The unique identifier of the group to get enrollments for.
        schema:
          type: string
          format: uuid
      - name: providerId
        in: query
        description: If set, the items will be filtered on enrollments with the specified provider.
        schema:
          type: string
          format: uuid
      - name: payerPlanId
        in: query
        description: If set, the items will be filtered on enrollments with the specified payer plan.
        schema:
          type: string
          format: uuid
      - name: networkStatus
        in: query
        description: If set, the items will be filtered on enrollments with the specified network status.
        schema:
          enum:
          - None
          - Par
          - NonPar
          type: string
      - name: enrollmentStatus
        in: query
        description: If set, the items will be filtered on enrollments with the specified enrollment status.
        schema:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
      - name: specialistType
        in: query
        description: If set, the items will be filtered on enrollments with the specified specialist type.
        schema:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
      - name: submissionDate
        in: query
        schema:
          type: string
          format: date-time
      - name: effectiveDate
        in: query
        schema:
          type: string
          format: date-time
      - name: sortedBy
        in: query
        schema:
          enum:
          - Id
          - NetworkStatus
          - EnrollmentStatus
          - SpecialistType
          - SubmissionDate
          - EffectiveDate
          - PayerPlanName
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - NetworkStatus
              - EnrollmentStatus
              - SpecialistType
              - SubmissionDate
              - EffectiveDate
              - PayerPlanName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEnrollmentPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/enrollments/{providerEnrollmentId}:
    get:
      tags:
      - ProviderEnrollments
      summary: Get an existing provider enrollment
      description: Returns the data for a specific provider enrollment.
      operationId: GetProviderEnrollment
      parameters:
      - name: providerEnrollmentId
        in: path
        description: Identifier of the provider enrollment to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProviderEnrollments
      summary: Patch an existing provider enrollment
      description: Allows you to change a provider enrollment's data properties.
      operationId: PatchProviderEnrollment
      parameters:
      - name: providerEnrollmentId
        in: path
        description: Identifier of the provider enrollment to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderEnrollmentPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProviderEnrollments
      summary: Delete an existing provider enrollment
      description: This will delete the provider enrollment.
      operationId: DeleteProviderEnrollment
      parameters:
      - name: providerEnrollmentId
        in: path
        description: Identifier of the provider enrollment to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    ProviderEnrollmentRequestModel:
      required:
      - groupId
      - payerPlanId
      - providerId
      type: object
      properties:
        effectiveDate:
          type: string
          description: Effective Date associated with this provider enrollment.
          format: date-time
        enrollmentStatus:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
          description: Status of the enrollment.
        groupId:
          type: string
          description: Group Id associated with this provider enrollment.
          format: uuid
        providerId:
          type: string
          description: Provider Id associated with this provider enrollment.
          format: uuid
        networkStatus:
          enum:
          - None
          - Par
          - NonPar
          type: string
          description: Network Status associated with this provider enrollment.
        payerPlanId:
          type: string
          description: Payer Plan Id associated with this provider enrollment.
          format: uuid
        specialistType:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
          description: Specialist Type associated with this provider enrollment.
        submissionDate:
          type: string
          description: Submission Date associated with this provider enrollment.
          format: date-time
        closedDate:
          type: string
          description: Closed Date associated with this provider enrollment.
          format: date-time
        externalProviderPlanId:
          type: string
          description: '`ProviderId` in external system.'
        comments:
          type: string
          description: Comments associated with this provider enrollment.
      additionalProperties: false
      example:
        groupId: 30e82ca1-59e2-4c68-a83b-58ff84e665d2
        providerId: ab9aede4-5b9c-428f-8ee1-752892801a02
        payerPlanId: 1704b2ea-098d-4a70-969f-70a5f6b336de
        enrollmentStatus: NotSubmitted
        submissionDate: 2000-12-31 23:59
    ProviderEnrollmentPageModel:
      type: object
      properties:
        sort:
          type:
          - object
          - 'null'
          properties:
            Keys:
              enum:
              - Id
              - NetworkStatus
              - EnrollmentStatus
              - SpecialistType
              - SubmissionDate
              - EffectiveDate
              - PayerPlanName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
        previousCursor:
          type:
          - string
          - 'null'
        nextCursor:
          type:
          - string
          - 'null'
        nextOffset:
          type:
          - integer
          - 'null'
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalCount:
          type:
          - integer
          - 'null'
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ProviderEnrollmentModel'
        sortedBy:
          enum:
          - Id
          - NetworkStatus
          - EnrollmentStatus
          - SpecialistType
          - SubmissionDate
          - EffectiveDate
          - PayerPlanName
          type:
          - string
          - 'null'
        sortDirection:
          enum:
          - Asc
          - Desc
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderEnrollmentModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider enrollment.
          format: uuid
        payerPlanId:
          type: string
          description: Payer Plan Id associated with this provider enrollment.
          format: uuid
        groupId:
          type: string
          description: Group Id associated with this provider enrollment.
          format: uuid
        providerId:
          type: string
          description: Provider Id associated with this provider enrollment.
          format: uuid
        enrollmentStatus:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
          description: Status of the enrollment.
        submissionDate:
          type: string
          description: Submission Date associated with this provider enrollment.
          format: date-time
        closedDate:
          type: string
          description: Closed Date associated with this provider enrollment.
          format: date-time
        effectiveDate:
          type: string
          description: Effective Date associated with this provider enrollment.
          format: date-time
        networkStatus:
          enum:
          - None
          - Par
          - NonPar
          type: string
          description: Network Status associated with this provider enrollment.
        specialistType:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
          description: Specialist Type associated with this provider enrollment.
        externalProviderPlanId:
          type: string
          description: '`ProviderId` in external system.'
        comments:
          type: string
        payerPlanModel:
          $ref: '#/components/schemas/PayerPlanModel'
        groupModel:
          $ref: '#/components/schemas/GroupModel'
      additionalProperties: false
    AddressModel:
      required:
      - addressLine1
      - city
      - state
      - zipCode
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        zipCode:
          minLength: 1
          type: string
        city:
          minLength: 1
          type: string
        addressLine1:
          minLength: 1
          type: string
        addressLine2:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderEnrollmentPatchModel:
      type: object
      properties:
        payerPlanId:
          type: string
          description: If set, the provider enrollment's `PayerPlanId` will be updated with this value.
          format: uuid
        groupId:
          type: string
          description: If set, the provider enrollment's `GroupId` will be updated with this value.
          format: uuid
        providerId:
          type: string
          description: If set, the provider enrollment's `ProviderId` will be updated with this value.
          format: uuid
        enrollmentStatus:
          enum:
          - NotSubmitted
          - Submitted
          - Enrolled
          - Denied
          type: string
          description: If set, the provider enrollment's `EnrollmentStatus` will be updated with this value.
        submissionDate:
          type: string
          description: If set, the provider enrollment's `SubmissionDate` will be updated with this value.
          format: date-time
        closedDate:
          type: string
          description: If set, the provider enrollment's `ClosedDate` will be updated with this value.
          format: date-time
        effectiveDate:
          type: string
          description: If set, the provider enrollment's `EffectiveDate` will be updated with this value.
          format: date-time
        networkStatus:
          enum:
          - None
          - Par
          - NonPar
          type: string
          description: If set, the provider enrollment's `NetworkStatus` will be updated with this value.
        specialistType:
          enum:
          - None
          - Pcp
          - Specialist
          type: string
          description: If set, the provider enrollment's `SpecialistType` will be updated with this value.
        externalProviderPlanId:
          type: string
          description: If set, the provider enrollment's `ProviderId` in external system will be updated with this value.
        comments:
          type: string
          description: If set, the provider enrollment's `Comments` will be updated with this value.
      additionalProperties: false
      example:
        PayerPlanId: 1704B2EA-098D-4A70-969F-70A5F6B336DE
        EnrollmentStatus: NotSubmitted
        SubmissionDate: 2000-12-31 23:59
    PayerPlanModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this payer plan.
          format: uuid
        name:
          type: string
          description: The name associated with this payer plan.
        payerId:
          type: string
          description: Id of the payer assosiated with this plan
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: US state 2-letter code associated with this payer plan.
        displayName:
          type: string
          description: Name displayed in lists in the format of {Payer name} - {Payer plan name}
          readOnly: true
      additionalProperties: false
    GroupModel:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this group.
          format: uuid
        name:
          minLength: 1
          type: string
          description: The name associated with this group.
        npi:
          type: integer
          description: NPI number associated with this group.
          format: int64
        taxId:
          type: string
          description: Tax ID number associated with this group.
        remitAddress:
          $ref: '#/components/schemas/AddressModel'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
