openapi: 3.2.0
info:
  title: Verifiable API Documentation Payer Plans API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: PayerPlans
  description: Endpoints related to managing and listing payer plans.
paths:
  /payer-plans:
    post:
      tags:
      - PayerPlans
      summary: Create a new payer plan
      description: Creates a new payer plan.
      operationId: CreatePayerPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerPlanRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerPlanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - PayerPlans
      summary: List payer plans
      description: Returns payer plans
      operationId: ListPayerPlans
      parameters:
      - name: groupId
        in: query
        description: Identifier of the group to get the payer plans for.
        schema:
          type: string
          format: uuid
      - name: payerId
        in: query
        description: Identifier of the payer to get the payer plans for.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayerPlanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /payer-plans/{payerPlanId}:
    get:
      tags:
      - PayerPlans
      summary: Get an existing payer plan
      description: Returns the data for a specific payer plan.
      operationId: GetPayerPlan
      parameters:
      - name: payerPlanId
        in: path
        description: Identifier of the payer plan to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerPlanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - PayerPlans
      summary: Patch an existing payer plan
      description: Allows you to change a payer plan's name or other data properties.
      operationId: PatchPayerPlan
      parameters:
      - name: payerPlanId
        in: path
        description: Identifier of the payer plan to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerPlanPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerPlanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - PayerPlans
      summary: Delete an existing payer plan
      description: This will delete the payer plan.
      operationId: DeletePayerPlan
      parameters:
      - name: payerPlanId
        in: path
        description: Identifier of the payer plan to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    PayerPlanPatchModel:
      type: object
      properties:
        name:
          type: string
          description: If set, the payer's `name` will be updated with this value.
        payerId:
          type: string
          description: If set, the Id of the payer assosiated with this plan will be updated with this value.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: If specified, US state 2-letter code will be set for this payer plan.
      additionalProperties: false
      example:
        name: string
    PayerPlanModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this payer plan.
          format: uuid
        name:
          type: string
          description: The name associated with this payer plan.
        payerId:
          type: string
          description: Id of the payer assosiated with this plan
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: US state 2-letter code associated with this payer plan.
        displayName:
          type: string
          description: Name displayed in lists in the format of {Payer name} - {Payer plan name}
          readOnly: true
      additionalProperties: false
    PayerPlanRequestModel:
      required:
      - payerId
      type: object
      properties:
        name:
          type: string
          description: The name associated with this payer plan.
        payerId:
          type: string
          description: Id of the payer assosiated with this plan
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The state associated with this payer plan.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
