openapi: 3.2.0
info:
  title: Verifiable API Documentation Payers API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Payers
  description: Endpoints related to managing and listing payers. Each payer can have zero or more payer plans.
paths:
  /payers:
    post:
      tags:
      - Payers
      summary: Create a new payer
      description: Creates a new payer.
      operationId: CreatePayer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Payers
      summary: List payers
      description: Returns all payers
      operationId: ListPayers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayerModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /payers/{payerId}:
    get:
      tags:
      - Payers
      summary: Get an existing payer
      description: Returns the data for a specific payer.
      operationId: GetPayer
      parameters:
      - name: payerId
        in: path
        description: Identifier of the payer to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Payers
      summary: Patch an existing payer
      description: Allows you to change a payers's name or other data properties.
      operationId: PatchPayer
      parameters:
      - name: payerId
        in: path
        description: Identifier of the payer to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PayerPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayerModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - Payers
      summary: Delete an existing payer
      description: This will delete the payer and all its plans.
      operationId: DeletePayer
      parameters:
      - name: payerId
        in: path
        description: Identifier of the payer to delete.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    PayerPatchModel:
      type: object
      properties:
        name:
          type: string
          description: If set, the payer's `name` will be updated with this value.
      additionalProperties: false
      example:
        name: string
    PayerRequestModel:
      required:
      - name
      type: object
      properties:
        name:
          minLength: 1
          type: string
          description: The name associated with this payer.
      additionalProperties: false
    PayerModel:
      required:
      - name
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this payer.
          format: uuid
        name:
          minLength: 1
          type: string
          description: The name associated with this payer.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
