openapi: 3.2.0
info:
  title: Verifiable API Documentation Integrations API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Integrations
  description: These endpoints are used for our integrations with 3rd party services. They are not intended to be consumed directly by most clients. Please contact us for more information on our integration possibilities.
paths:
  /integrations/fountain/webhook/{organizationId}:
    post:
      tags:
      - Integrations
      summary: Fountain integration webhook
      description: Webhook for the Fountain integration.
      operationId: FountainWebhook
      parameters:
      - name: organizationId
        in: path
        description: The organization on which this webhook is called.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FountainWebhookRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FountainWebhookResponseModel'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /integrations/salesforce/documentrequest:
    post:
      tags:
      - Integrations
      summary: Salesforce document request
      description: Request a document to be uploaded to the configured Salesforce tenant.
      operationId: SalesforceDocumentRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesforceDocumentRequestRequestModel'
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
        '502':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    FountainApplicantModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        date_of_birth:
          type:
          - string
          - 'null'
          format: date-time
        data:
          type:
          - object
          - 'null'
          additionalProperties: {}
        stage:
          $ref: '#/components/schemas/FountainStage'
        funnel:
          $ref: '#/components/schemas/FountainFunnel'
        secure_data:
          type:
          - object
          - 'null'
          additionalProperties: {}
      additionalProperties: false
    SalesforceDocumentRequestRequestModel:
      required:
      - document
      - relatedIds
      type: object
      properties:
        document:
          minLength: 1
          type: string
          description: Path to the document (stored in this organization) to be uploaded to Salesforce.
        pathOnClient:
          type: string
        relatedIds:
          type: array
          items:
            type: string
          description: Array of Salesforce identifiers to which the uploaded content document will be linked.
      additionalProperties: false
    FountainStage:
      type: object
      properties:
        title:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
      additionalProperties: false
    FountainWebhookRequestModel:
      type: object
      properties:
        applicant:
          $ref: '#/components/schemas/FountainApplicantModel'
      additionalProperties: false
    FountainFunnel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type:
          - string
          - 'null'
      additionalProperties: false
    FountainWebhookResponseModel:
      type: object
      properties:
        requestId:
          type: string
          format: uuid
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
