openapi: 3.2.0
info:
  title: Verifiable API Documentation Datasets API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Datasets
  description: Endpoints related to scanning datasets and reading resulting matches. The supported datasets will grow over time and can be discovered via the ListDatasets endpoint. A dataset scan is asynchronous, but most scans will result in near immediate completion. A webhook of type DatasetScanCompleted is triggered upon completion, but you can also check the completion status by querying the GetDatasetScan operation.
paths:
  /datasets/scans:
    post:
      tags:
      - Datasets
      summary: Start a dataset scan
      description: 'Starts a new dataset scan.


        Will return a failed scan if required parameters are missing.'
      operationId: StartDatasetScan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetScanRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetScanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Datasets
      summary: List dataset scans
      description: Returns a page of dataset scans.
      operationId: ListDatasetScans
      parameters:
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - Started
          - Completed
          - Type
          - ProviderId
          - ProviderFirstName
          - ProviderLastName
          - FacilityId
          - FacilityName
          type: string
      - name: type
        in: query
        description: If set, the results will only contain scans with the specified dataset types.
        schema:
          type: array
          items:
            enum:
            - Sam
            - MedicareOptOut
            - OigFugitives
            - OfacSdn
            - OfacConsolidated
            - OigExclusions
            - StateSanctionsAndExclusions
            - Npdb
            - Dmf
            - Npi
            - Nsc
            - Dea
            - CmsPreclusion
            - Tricare
            - AmericanBoardofInternalMedicine
            - NationalCommissiononCertificationofPhysicianAssistants
            - Abms
            - NationalBoardforCertifiedCounselors
            - AmericanAcademyofNursePractitioners
            - NationalBoardofCertificationandRecertificationforNurseAnesthetists
            - AmericanOsteopathicAssociation
            - AmericanNursesCredentialingCenter
            - NationalBoardforCertificationinOccupationalTherapy
            - AmericanSpeechLanguageHearingAssociation
            - AmericanBoardofFamilyMedicine
            - AmericanBoardofPsychiatryandNeurology
            - InternationalBoardofLactationConsultantExaminers
            - AmericanMidwiferyCertificationBoard
            - AmericanDentalBoardofAnesthesiology
            - AmericanBoardofClinicalSocialWork
            - BoardOfPharmacySpecialties
            - AmericanBoardofAllergyandImmunology
            - AmericanBoardofOrthodontics
            - AmericanBoardofOralMedicine
            - AmericanBoardofPediatricDentistry
            - AmericanBoardofOralandMaxillofacialSurgery
            - AmericanBoardofOralandMaxillofacialRadiology
            - AmericanBoardofProsthodontics
            - AmericanBoardofOralandMaxillofacialPathology
            - AmericanBoardofEndodontics
            - AmericanBoardofPeriodontology
            - AmericanBoardofOralImplantology
            - AmericanBoardofPodiatricMedicine
            - AmericanBoardofDentalPublicHealth
            - BehaviorAnalystCertificationBoard
            - AmericanBoardofGeneralDentistry
            - NationalAssociationofSchoolPsychologists
            - AmericanBoardofAddictionMedicine
            - AmericanBoardofMultipleSpecialtiesinPodiatry
            - CommissionOnDieteticRegistration
            - AmericanBoardOfObesityMedicine
            - NationalCertificationCorporation
            - NationalCommissionForCertificationOfAnesthesiologistAssistants
            - AmericanRegistryOfRadiologyTechnologists
            - AmericanBoardOfAnesthesiology
            - AmericanRegistryForDiagnosticMedicalSonography
            - NationalBoardOfPhysiciansAndSurgeons
            - CardiovascularCredentialingInternational
            - NationalCenterForCompetencyTesting
            - NationalAssociationOfPhlebotomyTechnicians
            - AmericanAlliedHealth
            - NationalRegistryOfAlliedHealthProfessionals
            - AmericanMedicalTechnologists
            - NationalHealthCareerAssociation
            - DentalAssistingNationalBoard
            - PediatricNursingCertification
            - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
            - CertificationBoardForMusicTherapists
            - AmericanBoardOfChiropracticInternists
            - AmericanBoardofPhysicalTherapySpecialties
            - AmericanBoardofPhysicianSpecialties
            - AmericanAcademyofOptometry
            - AmericanBoardofNeurologicalSurgery
            - AmericanBoardofObstetricsandGynecology
            - AmericanBoardofOphthalmology
            - AmericanBoardofOtolaryngologyHeadandNeckSurgery
            - AmericanBoardofPediatrics
            - AmericanBoardofOrthopaedicSurgery
            - AmericanBoardofPhysicalMedicineandRehabilitation
            - AmericanBoardofPlasticSurgery
            - AmericanBoardofRadiology
            - AmericanBoardofSurgery
            - AmericanBoardofUrology
            - AmericanBoardofColonandRectalSurgery
            - AmericanAssociationofCriticalCareNurses
            - AmericanBoardofFootandAnkleSurgery
            - PharmacyTechnicianCertificationBoard
            - NationalBoardofSurgicalTechnologyandSurgicalAssisting
            - AmericanBoardofPainMedicine
            - AmericanBoardofOrofacialPain
            - NuclearMedicineTechnologyCertificationBoard
            - AmericanBoardofEmergencyMedicine
            - ArtTherapyCredentialsBoard
            - AmericanBoardofProfessionalPsychology
            - NationalRegistryofEmergencyMedicalTechnicians
            - AmericanBoardofOptometry
            - BehavioralInterventionCertificationCouncil
            - AmericanHeartAssociation
            - InternationalBoardCertifiedLactationConsultant
            - MedicaidEnrollmentCalifornia
            - JointCommission
            - FacilityCmsCertification
            type: string
      - name: parameterSetId
        in: query
        description: If set, the results will only contain scans with the specified parameter set.
        schema:
          type: string
          format: uuid
      - name: referenceId
        in: query
        description: If set, the results will only contain scans with the specified provider info reference id.
        schema:
          type: string
          format: uuid
      - name: status
        in: query
        description: If set, the results will only contain scans with the specified statuses.
        schema:
          type: array
          items:
            enum:
            - Pending
            - Working
            - Completed
            - Failed
            - Active
            type: string
      - name: includeOldScans
        in: query
        description: If set, the results will contain all dataset scans, otherwise, only the most recent scans will be included.
        schema:
          type: boolean
      - name: hasMonitor
        in: query
        description: If set, when `true`, the results will only contain scans currently associated with a monitor, or when `false`, the results will only contain scans not currently associated with a monitor.
        schema:
          type: boolean
      - name: trigger
        in: query
        description: If set, the results will only contain scans with the specified trigger.
        schema:
          enum:
          - Manual
          - Monitor
          type: string
      - name: entityType
        in: query
        description: Indicates whether to retrieve dataset scans for practitioners or facilities. Defaults to `Practitioners`.
        schema:
          enum:
          - Practitioner
          - Facility
          type: string
      - name: entityId
        in: query
        description: If set, the items will be filtered by the specified entity identifier (`providerId` or `facilityId`).
        schema:
          type: string
          format: uuid
      - name: entityName
        in: query
        description: If set, the items will be filtered by the specified entity name (provider name/alias or facility name).
        schema:
          type: string
      - name: entityNpi
        in: query
        description: If set, the items will be filtered by the specified entity NPI number.
        schema:
          type: integer
          format: int64
      - name: entityDeactivated
        in: query
        description: If set, the items will be filtered by the specified entity deactivated status.
        schema:
          type: boolean
      - name: credentialingStatus
        in: query
        description: If set, the results will only contain scans for providers in the specified credentialing status.
        schema:
          type: string
      - name: providerId
        in: query
        description: If set, the results will only contain scans for this provider.
        schema:
          type: string
          format: uuid
          deprecated: true
      - name: providerName
        in: query
        description: If set, the results will only contain scans for providers with the specified name or alias name.
        schema:
          type: string
          deprecated: true
      - name: providerNpi
        in: query
        description: If set, the results will only contain scans for providers with the specified npi number.
        schema:
          type: integer
          format: int64
          deprecated: true
      - name: providerDeactivated
        in: query
        description: If set, the results will only contain scans for providers in the specified deactivated status.
        schema:
          type: boolean
          deprecated: true
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - Started
              - Completed
              - Type
              - ProviderId
              - ProviderFirstName
              - ProviderLastName
              - FacilityId
              - FacilityName
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetScanPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/scans/{scanId}:
    get:
      tags:
      - Datasets
      summary: Get dataset scan
      description: Returns the status and results for a previously started dataset scan.
      operationId: GetDatasetScan
      parameters:
      - name: scanId
        in: path
        description: The identifier of the scan to get results for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetScanModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/matches:
    get:
      tags:
      - Datasets
      summary: List dataset matches
      description: Returns a page of dataset matches. By default, only matches that have not been rejected are returned. By default, only the most recent matches are returned.
      operationId: ListDatasetMatches
      parameters:
      - name: types
        in: query
        description: If set, the results will only contain matches for the specified dataset types. As opposed to `type` you can filter on more than 1 different dataset type this way.
        schema:
          type: array
          items:
            enum:
            - Sam
            - MedicareOptOut
            - OigFugitives
            - OfacSdn
            - OfacConsolidated
            - OigExclusions
            - StateSanctionsAndExclusions
            - Npdb
            - Dmf
            - Npi
            - Nsc
            - Dea
            - CmsPreclusion
            - Tricare
            - AmericanBoardofInternalMedicine
            - NationalCommissiononCertificationofPhysicianAssistants
            - Abms
            - NationalBoardforCertifiedCounselors
            - AmericanAcademyofNursePractitioners
            - NationalBoardofCertificationandRecertificationforNurseAnesthetists
            - AmericanOsteopathicAssociation
            - AmericanNursesCredentialingCenter
            - NationalBoardforCertificationinOccupationalTherapy
            - AmericanSpeechLanguageHearingAssociation
            - AmericanBoardofFamilyMedicine
            - AmericanBoardofPsychiatryandNeurology
            - InternationalBoardofLactationConsultantExaminers
            - AmericanMidwiferyCertificationBoard
            - AmericanDentalBoardofAnesthesiology
            - AmericanBoardofClinicalSocialWork
            - BoardOfPharmacySpecialties
            - AmericanBoardofAllergyandImmunology
            - AmericanBoardofOrthodontics
            - AmericanBoardofOralMedicine
            - AmericanBoardofPediatricDentistry
            - AmericanBoardofOralandMaxillofacialSurgery
            - AmericanBoardofOralandMaxillofacialRadiology
            - AmericanBoardofProsthodontics
            - AmericanBoardofOralandMaxillofacialPathology
            - AmericanBoardofEndodontics
            - AmericanBoardofPeriodontology
            - AmericanBoardofOralImplantology
            - AmericanBoardofPodiatricMedicine
            - AmericanBoardofDentalPublicHealth
            - BehaviorAnalystCertificationBoard
            - AmericanBoardofGeneralDentistry
            - NationalAssociationofSchoolPsychologists
            - AmericanBoardofAddictionMedicine
            - AmericanBoardofMultipleSpecialtiesinPodiatry
            - CommissionOnDieteticRegistration
            - AmericanBoardOfObesityMedicine
            - NationalCertificationCorporation
            - NationalCommissionForCertificationOfAnesthesiologistAssistants
            - AmericanRegistryOfRadiologyTechnologists
            - AmericanBoardOfAnesthesiology
            - AmericanRegistryForDiagnosticMedicalSonography
            - NationalBoardOfPhysiciansAndSurgeons
            - CardiovascularCredentialingInternational
            - NationalCenterForCompetencyTesting
            - NationalAssociationOfPhlebotomyTechnicians
            - AmericanAlliedHealth
            - NationalRegistryOfAlliedHealthProfessionals
            - AmericanMedicalTechnologists
            - NationalHealthCareerAssociation
            - DentalAssistingNationalBoard
            - PediatricNursingCertification
            - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
            - CertificationBoardForMusicTherapists
            - AmericanBoardOfChiropracticInternists
            - AmericanBoardofPhysicalTherapySpecialties
            - AmericanBoardofPhysicianSpecialties
            - AmericanAcademyofOptometry
            - AmericanBoardofNeurologicalSurgery
            - AmericanBoardofObstetricsandGynecology
            - AmericanBoardofOphthalmology
            - AmericanBoardofOtolaryngologyHeadandNeckSurgery
            - AmericanBoardofPediatrics
            - AmericanBoardofOrthopaedicSurgery
            - AmericanBoardofPhysicalMedicineandRehabilitation
            - AmericanBoardofPlasticSurgery
            - AmericanBoardofRadiology
            - AmericanBoardofSurgery
            - AmericanBoardofUrology
            - AmericanBoardofColonandRectalSurgery
            - AmericanAssociationofCriticalCareNurses
            - AmericanBoardofFootandAnkleSurgery
            - PharmacyTechnicianCertificationBoard
            - NationalBoardofSurgicalTechnologyandSurgicalAssisting
            - AmericanBoardofPainMedicine
            - AmericanBoardofOrofacialPain
            - NuclearMedicineTechnologyCertificationBoard
            - AmericanBoardofEmergencyMedicine
            - ArtTherapyCredentialsBoard
            - AmericanBoardofProfessionalPsychology
            - NationalRegistryofEmergencyMedicalTechnicians
            - AmericanBoardofOptometry
            - BehavioralInterventionCertificationCouncil
            - AmericanHeartAssociation
            - InternationalBoardCertifiedLactationConsultant
            - MedicaidEnrollmentCalifornia
            - JointCommission
            - FacilityCmsCertification
            type: string
      - name: userActionNeeded
        in: query
        schema:
          type: boolean
      - name: referenceId
        in: query
        schema:
          type: string
          format: uuid
      - name: includeOldMatches
        in: query
        description: If set, the results will contain all dataset matches, otherwise, only matches from the most recent completed scans will be included.
        schema:
          type: boolean
      - name: userActionResolution
        in: query
        schema:
          enum:
          - Accept
          - Reject
          type: string
      - name: matchRelevance
        in: query
        schema:
          type: array
          items:
            enum:
            - Low
            - Medium
            - High
            type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - MatchRelevance
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - MatchRelevance
          type: string
      - name: entityType
        in: query
        description: Indicates whether to retrieve dataset matches for practitioners or facilities. Defaults to `Practitioners`.
        schema:
          enum:
          - Practitioner
          - Facility
          type: string
      - name: entityId
        in: query
        description: If set, the items will be filtered by the specified entity identifier (`providerId` or `facilityId`).
        schema:
          type: string
          format: uuid
      - name: entityName
        in: query
        description: If set, the items will be filtered by the specified entity name (provider name/alias or facility name).
        schema:
          type: string
      - name: entityNpi
        in: query
        description: If set, the items will be filtered by the specified entity NPI number.
        schema:
          type: integer
          format: int64
      - name: entityDeactivated
        in: query
        description: If set, the items will be filtered by the specified entity deactivated status.
        schema:
          type: boolean
      - name: credentialingStatus
        in: query
        description: If set, the results will only contain scans for providers in the specified credentialing status.
        schema:
          type: array
          items:
            type: string
      - name: providerId
        in: query
        description: If set, the results will only contain matches for this provider.
        schema:
          type: string
          format: uuid
          deprecated: true
      - name: providerName
        in: query
        schema:
          type: string
          deprecated: true
      - name: providerNpi
        in: query
        schema:
          type: integer
          format: int64
          deprecated: true
      - name: providerDeactivated
        in: query
        description: If set, the results will only contain scans for providers in the specified deactivated status.
        schema:
          type: boolean
          deprecated: true
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetMatchPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/{datasetType}:
    get:
      tags:
      - Datasets
      summary: Get dataset metadata
      description: Returns metadata for a specific dataset. The metadata includes the date it was last updated in our system in addition to the JSON schema used for the records.
      operationId: GetDataset
      parameters:
      - name: datasetType
        in: path
        description: The specific dataset type to get the metadata for.
        required: true
        schema:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets:
    get:
      tags:
      - Datasets
      summary: List datasets metadata
      description: Returns metadata for all available datasets. The metadata includes the date it was last updated in our system in addition to the JSON schema used for the records.
      operationId: ListDatasets
      parameters:
      - name: tags
        in: query
        description: 'If set, the result will contain items with matching associated tags. Currently supported tags are: "Sanctions and Exclusions", "Board Certifications", "NPI", "Id Check", "NPDB"'
        schema:
          type: array
          items:
            type: string
      - name: entityTypes
        in: query
        description: If set, the result will contain items that support the specified healthcare entity types.
        schema:
          type: array
          items:
            enum:
            - Practitioner
            - Facility
            type: string
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Name
          - Type
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Name
              - Type
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetPageModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/{datasetType}/parameters/providers/{providerId}:
    get:
      tags:
      - Datasets
      summary: Get dataset scan parameters for a provider
      description: Returns the list of dataset scan parameters that will be used during a dataset scan.
      operationId: GetProviderDatasetScanParameters
      parameters:
      - name: datasetType
        in: path
        description: The specific dataset type to get the scan parameters for.
        required: true
        schema:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      - name: providerId
        in: path
        description: The identifier of the provider for which the parameters should be returned.
        required: true
        schema:
          type: string
          format: uuid
      - name: parameterSetId
        in: query
        description: If set, the results will only return the parameters based on the specified parameter set else the parameters will be returned based on preferred dataset parameter.
        schema:
          type: string
          format: uuid
      - name: referenceId
        in: query
        description: If set, the results will only use the associated provider info to derive the parameters.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IProviderParameter'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/{datasetType}/parameters/facilities/{facilityId}:
    get:
      tags:
      - Datasets
      summary: Get dataset scan parameters for a facility
      description: Returns the list of dataset scan parameters that will be used during a dataset scan.
      operationId: GetFacilityDatasetScanParameters
      parameters:
      - name: datasetType
        in: path
        description: The specific dataset type to get the scan parameters for.
        required: true
        schema:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      - name: facilityId
        in: path
        description: The identifier of the facility for which the parameters should be returned.
        required: true
        schema:
          type: string
          format: uuid
      - name: parameterSetId
        in: query
        description: If set, the results will only return the parameters based on the specified parameter set else the parameters will be returned based on preferred dataset parameter.
        schema:
          type: string
          format: uuid
      - name: referenceId
        in: query
        description: If set, the results will only use the associated facility info to derive the parameters.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IProviderParameter'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/{datasetType}/uploads:
    post:
      tags:
      - Datasets
      summary: Upload a dataset file
      description: Uploads a dataset file. Only CSV files are supported.
      operationId: UploadDatasetFile
      parameters:
      - name: datasetType
        in: path
        description: The dataset type of the file to upload. Only `CmsPreclusion` is supported for now.
        required: true
        schema:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                datasetFile:
                  type: string
                  format: binary
            encoding:
              datasetFile:
                style: form
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      security:
      - Bearer: []
  /datasets/matches/aggregations:
    get:
      tags:
      - Datasets
      summary: Get dataset matches aggregations
      description: Returns aggregated counts for dataset matches that require `user action` and for dataset matches that have been `accepted`.
      operationId: GetDatasetMatchesAggregations
      parameters:
      - name: providerDeactivated
        in: query
        description: If set, the items will be filtered on providers with the specified deactivated status.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetMatchesAggregationsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/{datasetType}/parameters/{providerId}:
    get:
      tags:
      - Datasets
      summary: (Deprecated) Get dataset scan parameters for a provider
      description: Returns the list of dataset scan parameters that will be used during a dataset scan.
      operationId: GetDatasetScanParameters
      parameters:
      - name: datasetType
        in: path
        description: The specific dataset type to get the scan parameters for.
        required: true
        schema:
          enum:
          - Sam
          - MedicareOptOut
          - OigFugitives
          - OfacSdn
          - OfacConsolidated
          - OigExclusions
          - StateSanctionsAndExclusions
          - Npdb
          - Dmf
          - Npi
          - Nsc
          - Dea
          - CmsPreclusion
          - Tricare
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - Abms
          - NationalBoardforCertifiedCounselors
          - AmericanAcademyofNursePractitioners
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanOsteopathicAssociation
          - AmericanNursesCredentialingCenter
          - NationalBoardforCertificationinOccupationalTherapy
          - AmericanSpeechLanguageHearingAssociation
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofPsychiatryandNeurology
          - InternationalBoardofLactationConsultantExaminers
          - AmericanMidwiferyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofClinicalSocialWork
          - BoardOfPharmacySpecialties
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofOrthodontics
          - AmericanBoardofOralMedicine
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofProsthodontics
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofEndodontics
          - AmericanBoardofPeriodontology
          - AmericanBoardofOralImplantology
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofDentalPublicHealth
          - BehaviorAnalystCertificationBoard
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - AmericanBoardofAddictionMedicine
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - CommissionOnDieteticRegistration
          - AmericanBoardOfObesityMedicine
          - NationalCertificationCorporation
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - AmericanRegistryOfRadiologyTechnologists
          - AmericanBoardOfAnesthesiology
          - AmericanRegistryForDiagnosticMedicalSonography
          - NationalBoardOfPhysiciansAndSurgeons
          - CardiovascularCredentialingInternational
          - NationalCenterForCompetencyTesting
          - NationalAssociationOfPhlebotomyTechnicians
          - AmericanAlliedHealth
          - NationalRegistryOfAlliedHealthProfessionals
          - AmericanMedicalTechnologists
          - NationalHealthCareerAssociation
          - DentalAssistingNationalBoard
          - PediatricNursingCertification
          - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
          - CertificationBoardForMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardofPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPediatrics
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofUrology
          - AmericanBoardofColonandRectalSurgery
          - AmericanAssociationofCriticalCareNurses
          - AmericanBoardofFootandAnkleSurgery
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanBoardofEmergencyMedicine
          - ArtTherapyCredentialsBoard
          - AmericanBoardofProfessionalPsychology
          - NationalRegistryofEmergencyMedicalTechnicians
          - AmericanBoardofOptometry
          - BehavioralInterventionCertificationCouncil
          - AmericanHeartAssociation
          - InternationalBoardCertifiedLactationConsultant
          - MedicaidEnrollmentCalifornia
          - JointCommission
          - FacilityCmsCertification
          type: string
      - name: providerId
        in: path
        description: The identifier of the provider for which the parameters should be returned.
        required: true
        schema:
          type: string
          format: uuid
      - name: parameterSetId
        in: query
        description: If set, the results will only return the parameters based on the specified parameter set else the parameters will be returned based on preferred dataset parameter.
        schema:
          type: string
          format: uuid
      - name: referenceId
        in: query
        description: If set, the results will only use the associated provider info to derive the parameters.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IProviderParameter'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/nsc/schoolCodes:
    get:
      tags:
      - Datasets
      summary: List schools
      description: 'Returns a page of schools that are supported by NSC.


        The codes originating from National Student Clearinghouse'
      operationId: ListNscSchools
      parameters:
      - name: name
        in: query
        description: If set, the items will be filtered on schools with the specified name.
        schema:
          type: string
      - name: code
        in: query
        description: If set, the items will be filtered on schools with the specified code.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Name
          - Code
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Name
              - Code
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchoolCodePageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/matches/{matchId}:
    patch:
      tags:
      - Datasets
      summary: Patch an existing dataset match
      description: Allows you to reject, accept or restore a previous rejected dataset match. Only a match from the most recent scan can be patched.
      operationId: PatchDatasetMatch
      parameters:
      - name: matchId
        in: path
        description: Identifier of the dataset match to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatasetMatchPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatasetMatchModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /datasets/scans/{scanId}/refresh:
    post:
      tags:
      - Datasets
      summary: Refresh dataset scan
      description: Triggers a refresh for an existing running continuous dataset scan. Currently only NPDB dataset supports it. For NPDB it will trigger Status request to fetch the latest available response from the site.
      operationId: RefreshDatasetScan
      parameters:
      - name: scanId
        in: path
        description: The identifier of the scan to trigger refresh for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    NpdbAffiliation:
      type: object
      properties:
        entityName:
          type:
          - string
          - 'null'
        entityAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        natureOfRelationship:
          type:
          - string
          - 'null'
        otherNatureOfRelationship:
          type:
          - string
          - 'null'
      additionalProperties: false
    OfacAddressRecord:
      type: object
      properties:
        addressRemarks:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsPersonalInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        physicalStatus:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        dateOfBirthAccuracy:
          type:
          - string
          - 'null'
        dateOfBirthRestriction:
          type:
          - string
          - 'null'
        deceasedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    PersonName:
      type: object
      properties:
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMetadata:
      type: object
      properties:
        importDate:
          type: string
          description: The date of the import file that the dataset scan was compared against.
          format: date
        importFileName:
          type: string
          description: The original file name of the dataset source.
      additionalProperties: false
    Enrollment:
      type: object
      properties:
        enrollments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnrollmentInfo'
        studentAddress:
          $ref: '#/components/schemas/NscAddress'
      additionalProperties: false
    ProviderDateOfBirthParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        dateOfBirth:
          type: string
          format: date-time
      additionalProperties: false
    CertificateDatasetRecord:
      type: object
      properties:
        certificateType:
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        certifyingOrganization:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateIssuanceNotice:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbProfessionalSchoolInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the school
        yearOfGraduation:
          type: string
          description: Year subject graduated on this school.
      additionalProperties: false
      example:
        name: UC Davis
        yearOfGraduation: '2008'
    TricareDatasetRecord:
      type: object
      properties:
        addresses:
          type:
          - string
          - 'null'
        companies:
          type:
          - string
          - 'null'
        excludeDate:
          type:
          - string
          - 'null'
          format: date-time
        summary:
          type:
          - string
          - 'null'
        term:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbOccupationAndLicensure:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        number:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        noLicense:
          type:
          - boolean
          - 'null'
        specialty:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMatchesAggregationsModel:
      type: object
      properties:
        userActionNeeded:
          $ref: '#/components/schemas/DatasetMatchesAggregationModel'
        accepted:
          $ref: '#/components/schemas/DatasetMatchesAggregationModel'
      additionalProperties: false
      example:
        userActionNeeded:
          total: 140
          aggregations:
            sanctionsAndExclusions: 30
            nsc: 15
            npi: 20
            npdb: 10
            dea: 25
            certificates: 35
            boardCertifications: 5
        accepted:
          total: 140
          aggregations:
            sanctionsAndExclusions: 30
            nsc: 15
            npi: 20
            npdb: 10
            dea: 25
            certificates: 35
            boardCertifications: 5
    ProviderEducationParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        graduationYear:
          type:
          - integer
          - 'null'
          format: int32
        schoolName:
          type:
          - string
          - 'null'
        schoolCode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        maintenance:
          type:
          - string
          - 'null'
        maintenanceRequired:
          type:
          - string
          - 'null'
        issuance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuance'
        recognition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateRecognition'
      additionalProperties: false
    FacilityAccreditationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        accreditationNumber:
          type:
          - string
          - 'null'
        accreditationProgram:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsMemberId:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        domain:
          type:
          - string
          - 'null'
      additionalProperties: false
    JointCommissionDatasetRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        accreditationProgramName:
          type:
          - string
          - 'null'
        accreditationDecision:
          type:
          - string
          - 'null'
        accreditationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        facilityDba:
          type:
          - string
          - 'null'
        facilityAccreditationNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        accreditationBody:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    FacilityCmsCertificationDatasetRecord:
      type: object
      properties:
        certificationType:
          type:
          - string
          - 'null'
        certificationNumber:
          type:
          - string
          - 'null'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
      additionalProperties: false
    StateSanctionsAndExclusionsRecord:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsSource'
        providerType:
          type:
          - string
          - 'null'
        aliases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StateSanctionsAndExclusionsProviderAlias'
        exclusionDetails:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsExclusionDetails'
        additionalInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    NpdbSubjectInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the subject / provider.
        otherNames:
          type: array
          items:
            type: string
        gender:
          type: string
        dateOfBirth:
          type: string
          description: Date of birth of the subject / provider.
          format: date-time
        organizationName:
          type: string
          description: Organization name of the subject / provider.
        organizationTypeCode:
          type: string
          description: The NPDB's organization type code.
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
          description: The license type as described by NPDB.
        organizationType:
          type: string
          description: Organization type as described by NPDB.
        ssn:
          type: array
          items:
            type: string
        npi:
          type: array
          items:
            type: string
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
    SamDatasetRecord:
      type: object
      properties:
        classification:
          enum:
          - Unknown
          - Firm
          - Individual
          - SpecialEntityDesignation
          - Vessel
          type: string
        openDataFlag:
          type: boolean
        duns:
          type:
          - string
          - 'null'
        uei:
          type:
          - string
          - 'null'
        exclusionProgram:
          enum:
          - Unknown
          - Reciprocal
          - Nonreciprocal
          - Procurement
          - NonProcurement
          type: string
        excludingAgency:
          type:
          - string
          - 'null'
        ctCode:
          type:
          - string
          - 'null'
        exclusionType:
          type:
          - string
          - 'null'
        additionalComments:
          type:
          - string
          - 'null'
        activeDate:
          type:
          - string
          - 'null'
          format: date-time
        terminationDate:
          type:
          - string
          - 'null'
          format: date-time
        recordStatus:
          enum:
          - Active
          - Inactive
          type: string
        crossReference:
          type:
          - string
          - 'null'
        samNumber:
          type:
          - string
          - 'null'
        cage:
          type:
          - string
          - 'null'
        creationDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    AbmsCertificateRecognition:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbReportSubjectInformation:
      type: object
      properties:
        name:
          type: string
        otherNames:
          type: array
          items:
            type: string
          description: Other names used by the subject.
        gender:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        organizationName:
          type: string
        organizationTypeCode:
          type: string
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
        organizationType:
          type: string
        ssn:
          type: array
          items:
            type: string
          description: Social Security Number (SSN) of subject.
        npi:
          type: array
          items:
            type: string
          description: National Provider Identifiers (NPI).
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
          description: Professional school attended by the subject.
        deceased:
          type: boolean
          description: True or false indicating if subject is deceased.
        dea:
          type: array
          items:
            type: string
          description: Drug Enforcement Administration (DEA) Numbers.
        upin:
          type: array
          items:
            type: string
        fein:
          type: array
          items:
            type: string
        healthCareEntities:
          type: array
          items:
            type: string
          description: Name of health care entities with which subject is affiliated or associated.
        hospitalAffiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbHospitalAffiliation'
        affiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbAffiliation'
        occupationFieldOfLicensure:
          type: string
        stateLicenseNumber:
          type: string
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
        otherNames: ''
        deceased: ''
        ssn: '*****4057'
        npi: '1234567890'
        professionalSchools:
        - name: UC Davis
          yearOfGraduation: '2008'
        specialty: ''
        dea: '123456789012'
        healthCareEntities: []
        businessAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        natureOfRelationship: Subject is Owner/Partner of Affiliate or Associate
    StateSanctionsAndExclusionsProviderAlias:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    Transaction:
      type: object
      properties:
        orderId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
        transactionStatus:
          type:
          - string
          - 'null'
        transactionDescription:
          type:
          - string
          - 'null'
        dateRequested:
          type:
          - string
          - 'null'
          format: date-time
        dateNotified:
          type:
          - string
          - 'null'
          format: date-time
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbEnrollmentStatus:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    AbmsAddressRecord:
      type: object
      properties:
        city:
          type:
          - string
          - 'null'
        stateOrProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        restrictions:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    SchoolCodeModel:
      type: object
      properties:
        code:
          type: string
          description: Education Federal School Code associated with the school.
        branchCode:
          type: string
          description: 2 digit number that identified the specific area of the school.
        name:
          type: string
          description: Name of the school.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State associated with the school.
        city:
          type: string
          description: City associated with the school.
      additionalProperties: false
    NpdbInformationReported:
      type: object
      properties:
        type:
          enum:
          - Aar
          - Mmpr
          - Jocr
          - LegacyMmpr
          - LegacyAar
          type: string
          readOnly: true
      additionalProperties: false
    NpiProfile.Identifier:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        issuer:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    BoardCertification:
      type: object
      properties:
        boardName:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        isExpired:
          type:
          - boolean
          - 'null'
        issued:
          type:
          - string
          - 'null'
          format: date-time
        expires:
          type:
          - string
          - 'null'
          format: date-time
        mocParticipation:
          type:
          - boolean
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
      additionalProperties: false
    ProviderSsnParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbLatestReportingEntityInformation:
      type: object
      properties:
        statusDescription:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        additionalName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/NormalizedAddress'
        officeOrName:
          type:
          - string
          - 'null'
        titleOrDepartment:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        lastUpdateDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    MedicareOptOutDatasetRecord:
      type: object
      properties:
        speciality:
          type:
          - string
          - 'null'
        effectiveDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        eligibleToOrderAndRefer:
          type: boolean
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ProviderGenderParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
      additionalProperties: false
    FlexibleDataModel:
      type: object
      properties:
        type:
          enum:
          - Form
          - Table
          - Section
          type: string
          description: The schema type for `data`.
        data:
          description: The actual data for this property. The schema can change depending on `type`. See the [Flexible Data Model](/references/api/section/common-concepts/flexible-data-model) for more information.
      additionalProperties: false
    AbmsNameRecord:
      type: object
      properties:
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        familyName:
          type:
          - string
          - 'null'
        generationIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsDisclaimerInfo:
      type: object
      properties:
        certificationBoard:
          type:
          - string
          - 'null'
        disclaimer:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbCodeDescription:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        specifiedValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMatchModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        datasetTimestamp:
          type: string
          description: The timestamp when the dataset was last updated in our system at the time of this scan.
          format: date-time
        recordTimestamp:
          type: string
          description: The timestamp when this record was last updated in our system at the time of this scan.
          format: date-time
        data:
          $ref: '#/components/schemas/DatasetMatchData'
        scanId:
          type: string
          description: The identifier of the scan to which this match belongs. Not set if `scan` is populated.
          format: uuid
        scan:
          $ref: '#/components/schemas/DatasetScanModel'
        userActionNeeded:
          type: boolean
          description: Boolean indicating if action is needed for this match.
        isIgnored:
          type: boolean
          description: Set to true if this match was ignored for the associated provider.
        userActionResolution:
          enum:
          - Accept
          - Reject
          type: string
        userActionResolutionNote:
          type: string
        matchRelevance:
          enum:
          - Low
          - Medium
          - High
          type: string
        matchScore:
          description: Indicates a score from 0.0 to 1.0 where 1.0 is the maximum possible score indicating the quality of the match. Note that this feature is in beta and subject to change without notice.
          deprecated: true
        createdTimestamp:
          type: string
          description: Indicates the time that the match was added to the scan. Only populated for matches on or after January 25th 2024.
          format: date-time
        obsoleteTimestamp:
          type: string
          description: Indicates the time that the match became obsolete. This only occurs when a scan with a `status` of `Active` determines that the match is now obsolete due to changes in primary source data.
          format: date-time
      additionalProperties: false
    AbmsOccupationInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        startDateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    OigFugitivesDatasetRecord:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    SchoolCodePageModel:
      type: object
      properties:
        sort:
[...]
