openapi: 3.2.0
info:
  title: Verifiable API Documentation Facilities Specialties API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: FacilitiesSpecialties
  description: Endpoints related to managing and retrieving Facility Specialties.
paths:
  /facilities/{facilityId}/specialties:
    post:
      tags:
      - FacilitiesSpecialties
      summary: Create a Specialty for an existing facility
      description: Add a Specialty for the specified facility.
      operationId: CreateFacilitySpecialty
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to create the Specialty for.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilitySpecialtyRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitySpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - FacilitiesSpecialties
      summary: List facility's Specialties
      description: Returns all Specialties associated with the specified facility.
      operationId: ListFacilitySpecialties
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the Specialties for.
        required: true
        schema:
          type: string
          format: uuid
      - name: taxonomyId
        in: query
        schema:
          type: string
          format: uuid
      - name: sortedBy
        in: query
        schema:
          enum:
          - TaxonomyId
          type: string
      - name: sort
        in: query
        schema:
          type: object
          properties:
            Keys:
              enum:
              - TaxonomyId
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        schema:
          type: string
      - name: count
        in: query
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitySpecialtyPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/specialties/{facilitySpecialtyId}:
    get:
      tags:
      - FacilitiesSpecialties
      summary: Get Specialty for an existing facility
      description: Returns the Specialty for a specific facility.
      operationId: GetFacilitySpecialty
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the Specialty for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilitySpecialtyId
        in: path
        description: Identifier of the Specialty.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitySpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - FacilitiesSpecialties
      summary: Update a Specialty for an existing facility
      description: Updates the Specialty for a specific facility. Only the fields provided in the request body will be updated.
      operationId: PatchFacilitySpecialty
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to update the Specialty for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilitySpecialtyId
        in: path
        description: Identifier of the Specialty to update.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FacilitySpecialtyPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FacilitySpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - FacilitiesSpecialties
      summary: Delete existing Specialty for a facility
      description: Deletes an existing Specialty associated with the specified facility.
      operationId: DeleteFacilitySpecialty
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to remove the Specialty from.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilitySpecialtyId
        in: path
        description: Identifier of the Specialty to remove.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /facilities/{facilityId}/specialties/{facilitySpecialtyId}/info/{facilityInfoType}:
    get:
      tags:
      - FacilitiesSpecialties
      summary: List facility's specialty information by type
      description: Returns all Infos associated with the specified facility specialty filtered by type.
      operationId: ListFacilitySpecialtyInfosByType
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the information for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilitySpecialtyId
        in: path
        description: Identifier of the facility specialty to get the information for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilityInfoType
        in: path
        description: Type of facility information.
        required: true
        schema:
          enum:
          - Npi
          - Dea
          - LiabilityInsurance
          - License
          - Accreditation
          - CmsCertification
          - MedicareEnrollment
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  oneOf:
                  - $ref: '#/components/schemas/FacilityAccreditationModel'
                  - $ref: '#/components/schemas/FacilityCmsCertificationModel'
                  - $ref: '#/components/schemas/FacilityDeaModel'
                  - $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
                  - $ref: '#/components/schemas/FacilityLicenseModel'
                  - $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
                  - $ref: '#/components/schemas/FacilityNpiModel'
              example:
              - id: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                lastUpdatedAt: '2025-07-31T14:02:38.6580000Z'
                appliesTo: Custom
                associatedFacilitySpecialtyIds:
                - 3fa85f64-5717-4562-b3fc-2c963f66afa6
                deaNumber: string
                nonVerifiedInfo:
                  drugSchedules: string
                  state: AL
                  expirationDate: '2025-07-31'
                  businessActivityCode: string
                  paymentIndicator: Paid
                  isActive: true
              - id: 4cb7f496-c4b9-48c0-8d3d-5e1050ae7ff6
                lastUpdatedAt: '2024-10-11T14:37:12.3397020Z'
                appliesTo: SelfAndAllChildren
                associatedFacilitySpecialtyIds: []
                deaNumber: string
                nonVerifiedInfo:
                  isActive: true
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      x-codeSamples: []
  /facilities/{facilityId}/specialties/{facilitySpecialtyId}/info:
    get:
      tags:
      - FacilitiesSpecialties
      summary: List facility's specialty information
      description: Returns all Infos associated with the specified facility specialty.
      operationId: ListFacilitySpecialtyInfos
      parameters:
      - name: facilityId
        in: path
        description: Identifier of the facility to get the information for.
        required: true
        schema:
          type: string
          format: uuid
      - name: facilitySpecialtyId
        in: path
        description: Identifier of the facility specialty to get the information for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  anyOf:
                  - $ref: '#/components/schemas/FacilityAccreditationModel'
                  - $ref: '#/components/schemas/FacilityCmsCertificationModel'
                  - $ref: '#/components/schemas/FacilityDeaModel'
                  - $ref: '#/components/schemas/FacilityLiabilityInsuranceModel'
                  - $ref: '#/components/schemas/FacilityLicenseModel'
                  - $ref: '#/components/schemas/FacilityMedicareEnrollmentModel'
                  - $ref: '#/components/schemas/FacilityNpiModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    FacilitySpecialtyRequestModel:
      required:
      - taxonomyId
      type: object
      properties:
        taxonomyId:
          type: string
          description: The taxonomy unique identifier related to this specialty.
          format: uuid
        credentialedDate:
          type: string
          description: Date this facility specialty was originally credentialed.
          format: date
        recredentialedDates:
          type: array
          items:
            type: string
            format: date
          description: A list of dates when this facility specialty was re-credentialed.
        nextCredentialingDate:
          type: string
          description: Date this facility specialty should be credentialed next.
          format: date
      additionalProperties: false
      example:
        credentialedDate: '2024-01-15'
        recredentialedDates:
        - '2025-01-15'
        nextCredentialingDate: '2026-01-15'
    FacilityMedicareEnrollmentModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        lastUpdatedAt:
          type: string
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        pecosPacIdentifier:
          type: string
          description: The unique identifier of the Pecos Pac.
        enrollmentTypeId:
          type: string
          description: Medicare Enrollment Type unique identifier of the enrollment.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the Medicare Enrollment.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityMedicareEnrollmentNonVerifiedInfoModel'
      additionalProperties: false
    FacilityDeaNonVerifiedInfoModel:
      type: object
      properties:
        drugSchedules:
          type: string
          description: The drug schedules for the DEA registration.
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The state of the DEA registration holder.
        expirationDate:
          type: string
          description: The date at which this DEA registration expires.
          format: date
        businessActivityCode:
          type: string
          description: The business activity code for the DEA registration.
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
          description: The payment indicator for the DEA registration.
        isActive:
          type: boolean
          description: Indicates if the DEA registration is active or not.
      additionalProperties: false
    FacilityMedicareEnrollmentNonVerifiedInfoModel:
      type: object
      properties:
        pecosEnrollmentIdentifier:
          type: string
      additionalProperties: false
    FacilitySpecialtyPageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - TaxonomyId
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/FacilitySpecialtyModel'
          description: The facility specialties in the current page.
        sortedBy:
          enum:
          - TaxonomyId
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          facilityId: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          taxonomyId: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          credentialedDate: '2024-01-15'
          recredentialedDates:
          - '2025-01-15'
          nextCredentialingDate: '2026-01-15'
        sort:
          TaxonomyId: Asc
    FacilitySpecialtyModel:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of this specialty.
          format: uuid
        facilityId:
          type: string
          description: The facility unique identifier related to this specialty.
          format: uuid
        taxonomyId:
          type: string
          description: The taxonomy unique identifier related to this specialty.
          format: uuid
        credentialedDate:
          type: string
          description: Date this facility specialty was originally credentialed.
          format: date
        nextCredentialingDate:
          type: string
          description: Date this facility specialty should be credentialed next.
          format: date
        recredentialedDates:
          type: array
          items:
            type: string
            format: date
          description: A list of dates when this facility specialty was re-credentialed.
      additionalProperties: false
      example:
        credentialedDate: '2024-01-15'
        recredentialedDates:
        - '2025-01-15'
        nextCredentialingDate: '2026-01-15'
    FacilitySpecialtyPatchModel:
      type: object
      properties:
        credentialedDate:
          type: string
          description: If set, the specialty's credentialed date will be updated with this value.
          format: date
        recredentialedDates:
          type: array
          items:
            type: string
            format: date
          description: If set, the specialty's recredentialed dates will be updated with this value.
        nextCredentialingDate:
          type: string
          description: If set, the specialty's next credentialing date will be updated with this value.
          format: date
      additionalProperties: false
      example:
        credentialedDate: '2024-01-15'
        recredentialedDates:
        - '2025-01-15'
        nextCredentialingDate: '2026-01-15'
    FacilityLiabilityInsuranceModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this Liability Insurance.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the Liability Insurance was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        liabilityInsurer:
          type: string
          description: The name of the liability insurer.
        policyNumber:
          type: string
          description: Policy number for this Liability Insurance.
        effectiveDate:
          type: string
          description: Effective date associated with this Liability Insurance.
          format: date
        expirationDate:
          type: string
          description: Expiration date associated with this Liability Insurance.
          format: date
        coverageType:
          type: string
          description: Coverage type for this Liability Insurance.
        primaryLimitPerClaim:
          type: number
          description: Primary limit per claim for this Liability Insurance.
          format: double
        excessLimitPerClaim:
          type: number
          description: Excess limit per claim for this Liability Insurance.
          format: double
        primaryLimitAggregate:
          type: number
          description: Primary limit aggregate for this Liability Insurance.
          format: double
        excessLimitAggregate:
          type: number
          description: Excess limit aggregate for this Liability Insurance.
          format: double
      additionalProperties: false
    FacilityNpiModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this NPI.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the NPI was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        npi:
          type: integer
          description: The 10 digit NPI number.
          format: int64
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityNpiNonVerifiedInfoModel'
      additionalProperties: false
    FacilityLicenseNonVerifiedInfoModel:
      type: object
      properties:
        issueDate:
          type: string
          description: The date at which this Licence was issued.
          format: date
        expirationDate:
          type: string
          description: The date at which this Licence expires.
          format: date
        licenseStatus:
          type: string
          description: The status of this license.
      additionalProperties: false
    FacilityLicenseModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this License.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the License was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        licenseTypeId:
          type: string
          description: License type unique identifier of the license.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the license.
        licenseNumber:
          type: string
          description: License number of the license.
        isPrimary:
          type: boolean
          description: Flag to indicate if the license will be set as primary.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityLicenseNonVerifiedInfoModel'
      additionalProperties: false
    FacilityAccreditationNonVerifiedInfoModel:
      type: object
      properties:
        decision:
          type: string
          description: The decision for this Accreditation.
        effectiveDate:
          type: string
          description: The effective date of this Accreditation.
          format: date
        expirationDate:
          type: string
          description: The expiration date of this Accreditation.
          format: date
      additionalProperties: false
    FacilityNpiNonVerifiedInfoModel:
      type: object
      properties:
        isActive:
          type: boolean
          description: Indicates if the NPI is active or not.
      additionalProperties: false
    FacilityAccreditationModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this Accreditation.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the Accreditation was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        accreditationAgencyId:
          type: string
          description: The identifier of the agency for this Accreditation.
          format: uuid
        accreditationProgramId:
          type: string
          description: The identifier of the agency's program for this Accreditation.
          format: uuid
        accreditationNumber:
          type: string
          description: The Accreditation number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityAccreditationNonVerifiedInfoModel'
      additionalProperties: false
    FacilityDeaModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this DEA.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the DEA was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        deaNumber:
          type: string
          description: The 9 digit DEA number.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityDeaNonVerifiedInfoModel'
      additionalProperties: false
    FacilityCmsCertificationNonVerifiedInfoModel:
      type: object
      properties:
        certificationDate:
          type: string
          description: The date of this CMS Certification.
          format: date
      additionalProperties: false
    FacilityCmsCertificationModel:
      type: object
      properties:
        id:
          type: string
          description: The identifier of this CMS Certification.
          format: uuid
        lastUpdatedAt:
          type: string
          description: The date and time when the CMS Certification was created or modified.
          format: date-time
        appliesTo:
          enum:
          - SelfOnly
          - SelfAndAllChildren
          - Custom
          type: string
          example: Custom
        associatedFacilitySpecialtyIds:
          type: array
          items:
            type: string
            format: uuid
        certificationNumber:
          type: string
          description: The number for this CMS Certification.
        nonVerifiedInfo:
          $ref: '#/components/schemas/FacilityCmsCertificationNonVerifiedInfoModel'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
