openapi: 3.2.0
info:
  title: Verifiable API Documentation Providers API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Providers
  description: Endpoints related to managing and listing providers. A provider must be created and associated with license numbers, NPI numbers or other identifiers that can be used to perform lookups to fetch associated data for this provider. The data registered on the provider will be matched against the data returned by these lookups and used to detect inconsistencies or problems in the data or licenses.
paths:
  /providers:
    post:
      tags:
      - Providers
      summary: Create a new provider
      description: Creates a new provider that can be used to store information about this provider. Once a provider is created you can attach records, notes, documents and create other associations with this provider such as adding them to a Group or Payer.
      operationId: CreateProvider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - Providers
      summary: List providers
      description: Returns a page of providers.
      operationId: ListProviders
      parameters:
      - name: status
        in: query
        description: If set, the items will be filtered on providers with the specified status.
        schema:
          enum:
          - None
          - NeedsReview
          - ExpiresSoon
          - Expired
          - Monitored
          - NotMonitored
          - NotFoundLicenses
          - DisciplinaryActionLicenses
          - UnableToVerifyLicenses
          type: string
      - name: providerName
        in: query
        description: If set, the items will be filtered on providers with the specified name or alias name.
        schema:
          type: string
      - name: credentialingStatus
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing status.
        schema:
          type: array
          items:
            type: string
      - name: providerTypeId
        in: query
        description: If set, the items will be filtered on providers with the specified provider type.
        schema:
          type: string
          format: uuid
      - name: npi
        in: query
        description: If set, the items will be filtered on providers with the specified npi number.
        schema:
          type: integer
          format: int64
      - name: deactivated
        in: query
        description: If set, the items will be filtered on providers with the specified deactivated status.
        schema:
          type: boolean
      - name: nextCredentialingDateOnOrAfter
        in: query
        description: If set, the items will be filtered on providers with the specified next credentialing date that is equal to or greater than the date specified.
        schema:
          type: string
          format: date
      - name: nextCredentialingDateOnOrBefore
        in: query
        description: If set, the items will be filtered on providers with the specified next credentialing date that is equal to or less than the date specified.
        schema:
          type: string
          format: date
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - LastName
          - FirstName
          - CredentialingStatus
          - CredentialedDate
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - LastName
              - FirstName
              - CredentialingStatus
              - CredentialedDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}:
    get:
      tags:
      - Providers
      summary: Get an existing provider
      description: Returns the data for a specific provider.
      operationId: GetProvider
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - Providers
      summary: Patch an existing provider
      description: Allows you to change a provider's name or other data properties.
      operationId: PatchProvider
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to patch.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - Providers
      summary: Delete an existing provider
      description: This will delete the provider and all associated data such as attached licenses, NPI records, DEA registration etc.
      operationId: DeleteProvider
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: cancelNpdbContinuousQuery
        in: query
        schema:
          type: boolean
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/aggregations:
    get:
      tags:
      - Providers
      summary: Get provider aggregations
      description: Returns aggregated counts for providers with different statuses.
      operationId: GetProviderAggregations
      parameters:
      - name: providerDeactivated
        in: query
        description: If set, the items will be filtered on providers with the specified deactivated status.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAggregationsModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providertypes:
    get:
      tags:
      - Providers
      summary: List provider types
      description: Returns a list of all provider types that are currently supported.
      operationId: ListProviderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderTypeModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/report:
    post:
      tags:
      - Providers
      summary: Generate report for an existing provider
      description: Generates report for the specified provider.
      operationId: ReportProvider
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to generate report.
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderReportRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/recredentialing/due:
    get:
      tags:
      - Providers
      summary: List providers due for recredentialing
      description: Returns a page of providers due for recredentialing.
      operationId: ListProvidersDueForRecredentialing
      parameters:
      - name: includeUnassigned
        in: query
        schema:
          type: boolean
      - name: providerName
        in: query
        description: If set, the items will be filtered on providers with the specified name or alias name.
        schema:
          type: string
      - name: providerNpi
        in: query
        description: If set, the items will be filtered on providers with the specified npi number.
        schema:
          type: integer
          format: int64
      - name: credentialingRequestOwnerId
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing request owner IDs.
        schema:
          type: array
          items:
            type: string
            format: uuid
      - name: credentialingRequestEventStatus
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing request event statuses.
        schema:
          type: array
          items:
            enum:
            - RequestSubmitted
            - RequestInProgress
            - AdditionalInformationRequested
            - AdditionalInformationSubmitted
            - CancellationRequested
            - Cancelled
            - Completed
            - CompletedWithConcern
            - UnableToComplete
            - SecondAttemptMissingInfo
            - ThirdAttemptMissingInfo
            type: string
      - name: nextCredentialingDateOnOrAfter
        in: query
        description: If set, the items will be filtered on providers with the specified next credentialing date that is equal to or greater than the date specified.
        schema:
          type: string
          format: date
      - name: nextCredentialingDateOnOrBefore
        in: query
        description: If set, the items will be filtered on providers with the specified next credentialing date that is equal to or less than the date specified.
        schema:
          type: string
          format: date
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - ProviderFirstName
          - ProviderLastName
          - RequestCreatedAt
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderDueForRecredentialingPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/monitoring/sanctions-and-exclusions/aggregations:
    get:
      tags:
      - Providers
      summary: Get provider sanctions and exclusions monitoring categories aggregations
      description: Returns aggregated counts for providers monitoring categories for sanctions and exclusions.
      operationId: GetProviderMonitoringSanctionsAndExclusionsSummaryAggregations
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderMonitoringSanctionsAndExclusionsSummaryAggregationsModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/monitoring/sanctions-and-exclusions:
    get:
      tags:
      - Providers
      summary: List provider monitoring summary for sanctions and exclusions
      description: Returns a page of provider monitoring summaries for sanctions and exclusions.
      operationId: ListProviderMonitoringSanctionsAndExclusionsSummary
      parameters:
      - name: name
        in: query
        description: If set, the items will be filtered on providers with the specified name/alias.
        schema:
          type: string
      - name: npi
        in: query
        description: If set, the items will be filtered on providers with the specified NPI number.
        schema:
          type: integer
          format: int64
      - name: credentialingStatus
        in: query
        description: If set, the items will be filtered on providers with the specified credentialing status.
        schema:
          type: array
          items:
            type: string
      - name: monitoringCategory
        in: query
        description: If set, the items will be filtered on providers with the specified monitoring category.
        schema:
          enum:
          - NotMonitored
          - PartiallyMonitored
          - FullyMonitored
          type: string
      - name: sortedBy
        in: query
        schema:
          enum:
          - FirstName
          - LastName
          - CredentialingStatus
          type: string
      - name: sort
        in: query
        description: If set, the properties and directions the returned data will be sorted by.
        schema:
          type: object
          properties:
            Keys:
              enum:
              - FirstName
              - LastName
              - CredentialingStatus
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          type: integer
          format: int32
      - name: sortDirection
        in: query
        description: The direction in which the returned data will be sorted.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderMonitoringSanctionsAndExclusionsSummaryPageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/npdb/transfer-enrollment:
    post:
      tags:
      - Providers
      summary: Initiate an NPDB enrollment transfer for a provider
      description: Initiates the transfer of an existing an NPDB enrollment to the specified provider. Once a transfer has been initiated, review the dataset scan results to monitor the transfer operation.
      operationId: TransferNpdbEnrollment
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferNpdbRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferNpdbResponseModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '500':
          description: Server Error
        '503':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    NpdbAffiliation:
      type: object
      properties:
        entityName:
          type:
          - string
          - 'null'
        entityAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        natureOfRelationship:
          type:
          - string
          - 'null'
        otherNatureOfRelationship:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderPatchModel:
      type: object
      properties:
        firstName:
          type: string
          description: If set, the provider's `firstName` will be updated with this value.
        lastName:
          type: string
          description: If set, the provider's `lastName` will be updated with this value.
        dateOfBirth:
          type: string
          description: If set, the provider's `dateOfBirth` will be updated with this value.
          format: date-time
        ssn:
          type: string
          description: If set, the provider's `ssn` will be updated with this value.
        npi:
          type: integer
          description: The 10 digit National Provider Identifiers (NPI) of this provider
          format: int64
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAliasRequestModel'
          description: If set, the provider's `aliases` will be updated with this value. To remove the aliases pass an empty array.
        primaryPracticeState:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The primary practice state of the provider.
        additionalPracticeStates:
          type: array
          items:
            enum:
            - AL
            - AK
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FL
            - GA
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VA
            - WA
            - WV
            - WI
            - WY
            - AS
            - GU
            - MP
            - PR
            - VI
            type: string
          description: Additional practice states of the provider. Cannot include the primary practice state.
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
          description: Provider's gender (optional).
        ethnicity:
          type: array
          items:
            enum:
            - AmericanIndianOrAlaskaNative
            - Asian
            - BlackOrAfricanAmerican
            - HispanicOrLatino
            - NativeHawaiianOrOtherPacificIslander
            - White
            - PreferNotToSay
            - NoInformationToAnswer
            type: string
          description: Provider's ethnicity (optional).
        credentialingStatus:
          type: string
          description: If set, the provider's `credentialingStatus` will be updated with this value.
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProviderEmailRequestModel'
          description: If set, the provider's `emails` will be updated with this value. To remove the emails pass an empty array.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAddressRequestModel'
          description: If set, the provider's `addresses` will be updated with this value. To remove the addresses pass an empty array.
        phone:
          type: string
          description: Primary phone number associated with this provider
        languages:
          type: array
          items:
            type: string
          description: A list of languages, other than English, this provider speaks.
        credentialedDate:
          type: string
          description: Date this provider was originally credentialed
          format: date-time
        nextCredentialingDate:
          type: string
          description: Date this provider should be credentialed next
          format: date
        recredentialedDates:
          type: array
          items:
            type: string
            format: date-time
          description: A list of dates when this provider was re-credentialed.
        providerTypeId:
          type: string
          description: Provider type id associated with this provider.
          format: uuid
        nuccGroupId:
          type: string
          description: If set, the provider's NUCC Taxonomy Group will be updated with this value.
          format: uuid
        segmentId:
          type: string
          description: If set, the provider's segment will be updated to this value. Used to reassign providers between segments in multi-tenant organizations.
          format: uuid
        deactivated:
          type: boolean
          description: If set to true, the provider will be deactivated. If set to false, the provider will be activated.
      additionalProperties: false
    OfacAddressRecord:
      type: object
      properties:
        addressRemarks:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsPersonalInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        physicalStatus:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        dateOfBirthAccuracy:
          type:
          - string
          - 'null'
        dateOfBirthRestriction:
          type:
          - string
          - 'null'
        deceasedDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    PersonName:
      type: object
      properties:
        lastName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMetadata:
      type: object
      properties:
        importDate:
          type: string
          description: The date of the import file that the dataset scan was compared against.
          format: date
        importFileName:
          type: string
          description: The original file name of the dataset source.
      additionalProperties: false
    Enrollment:
      type: object
      properties:
        enrollments:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/EnrollmentInfo'
        studentAddress:
          $ref: '#/components/schemas/NscAddress'
      additionalProperties: false
    ProviderDateOfBirthParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        dateOfBirth:
          type: string
          format: date-time
      additionalProperties: false
    CertificateDatasetRecord:
      type: object
      properties:
        certificateType:
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        certifyingOrganization:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderAliasModel:
      type: object
      properties:
        firstName:
          type: string
          description: The first (given) name of this alias.
        lastName:
          type: string
          description: The last (family) name of this alias.
        id:
          type: string
          description: Unique identifier for this alias.
          format: uuid
      additionalProperties: false
    AbmsCertificateIssuanceNotice:
      type: object
      properties:
        category:
          type:
          - string
          - 'null'
        details:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbProfessionalSchoolInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the school
        yearOfGraduation:
          type: string
          description: Year subject graduated on this school.
      additionalProperties: false
      example:
        name: UC Davis
        yearOfGraduation: '2008'
    TricareDatasetRecord:
      type: object
      properties:
        addresses:
          type:
          - string
          - 'null'
        companies:
          type:
          - string
          - 'null'
        excludeDate:
          type:
          - string
          - 'null'
          format: date-time
        summary:
          type:
          - string
          - 'null'
        term:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbOccupationAndLicensure:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        number:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        noLicense:
          type:
          - boolean
          - 'null'
        specialty:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderDueForRecredentialingModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        ssn:
          type:
          - string
          - 'null'
        credentialingStatus:
          type:
          - string
          - 'null'
        credentialedDate:
          type:
          - string
          - 'null'
          format: date-time
        nextCredentialingDate:
          type:
          - string
          - 'null'
          format: date
        npi:
          type:
          - integer
          - 'null'
          format: int64
        deactivated:
          type: boolean
        requestId:
          type:
          - string
          - 'null'
          format: uuid
        requestType:
          enum:
          - Initial
          - ReCredentialing
          - OffCycle
          type:
          - string
          - 'null'
        requestCreatedAt:
          type:
          - string
          - 'null'
          format: date-time
        currentEvent:
          $ref: '#/components/schemas/CredentialingRequestEventModel'
        requestPriority:
          enum:
          - Low
          - Medium
          - High
          - Urgent
          type:
          - string
          - 'null'
        isSelfManaged:
          type:
          - boolean
          - 'null'
        currentEventStatus:
          enum:
          - RequestSubmitted
          - RequestInProgress
          - AdditionalInformationRequested
          - AdditionalInformationSubmitted
          - CancellationRequested
          - Cancelled
          - Completed
          - CompletedWithConcern
          - UnableToComplete
          - SecondAttemptMissingInfo
          - ThirdAttemptMissingInfo
          type:
          - string
          - 'null'
        currentEventDate:
          type:
          - string
          - 'null'
          format: date-time
        owner:
          $ref: '#/components/schemas/BaseUserModel'
      additionalProperties: false
    TransferNpdbResponseModel:
      type: object
      properties:
        monitor:
          $ref: '#/components/schemas/DatasetMonitorModel'
      additionalProperties: false
    ProviderEducationParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        graduationYear:
          type:
          - integer
          - 'null'
          format: int32
        schoolName:
          type:
          - string
          - 'null'
        schoolCode:
          type:
          - string
          - 'null'
        branchCode:
          type:
          - string
          - 'null'
        degree:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateInfo:
      type: object
      properties:
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        maintenance:
          type:
          - string
          - 'null'
        maintenanceRequired:
          type:
          - string
          - 'null'
        issuance:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuance'
        recognition:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateRecognition'
      additionalProperties: false
    FacilityAccreditationInfoParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        accreditationNumber:
          type:
          - string
          - 'null'
        accreditationProgram:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsMemberId:
      type: object
      properties:
        id:
          type:
          - string
          - 'null'
        domain:
          type:
          - string
          - 'null'
      additionalProperties: false
    JointCommissionDatasetRecord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        accreditationProgramName:
          type:
          - string
          - 'null'
        accreditationDecision:
          type:
          - string
          - 'null'
        accreditationEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        facilityDba:
          type:
          - string
          - 'null'
        facilityAccreditationNumber:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        website:
          type:
          - string
          - 'null'
        accreditationBody:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
      additionalProperties: false
    FacilityCmsCertificationDatasetRecord:
      type: object
      properties:
        certificationType:
          type:
          - string
          - 'null'
        certificationNumber:
          type:
          - string
          - 'null'
        certificationDate:
          type:
          - string
          - 'null'
          format: date-time
        facilityName:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
        attachments:
          type:
          - array
          - 'null'
          items:
            type: string
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
      additionalProperties: false
    StateSanctionsAndExclusionsRecord:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsSource'
        providerType:
          type:
          - string
          - 'null'
        aliases:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/StateSanctionsAndExclusionsProviderAlias'
        exclusionDetails:
          $ref: '#/components/schemas/StateSanctionsAndExclusionsExclusionDetails'
        additionalInfo:
          type:
          - object
          - 'null'
          additionalProperties:
            type:
            - string
            - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ProviderRequestModel:
      required:
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          minLength: 1
          type: string
          description: The first (given) name of the provider.
        lastName:
          minLength: 1
          type: string
          description: The last (family) name of the provider.
        dateOfBirth:
          type: string
          description: The date of birth of this provider.
          format: date-time
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
          description: Provider's gender (optional).
        ethnicity:
          type: array
          items:
            enum:
            - AmericanIndianOrAlaskaNative
            - Asian
            - BlackOrAfricanAmerican
            - HispanicOrLatino
            - NativeHawaiianOrOtherPacificIslander
            - White
            - PreferNotToSay
            - NoInformationToAnswer
            type: string
          description: Provider's ethnicity (optional).
        ssn:
          type: string
          description: The social security number of this provider.
        npi:
          type: integer
          description: The 10 digit National Provider Identifiers (NPI) of this provider
          format: int64
        aliases:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAliasRequestModel'
          description: A list of aliases that this provider is also known by.
        primaryPracticeState:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: The primary practice state of the provider.
        additionalPracticeStates:
          type: array
          items:
            enum:
            - AL
            - AK
            - AZ
            - AR
            - CA
            - CO
            - CT
            - DE
            - DC
            - FL
            - GA
            - HI
            - ID
            - IL
            - IN
            - IA
            - KS
            - KY
            - LA
            - ME
            - MD
            - MA
            - MI
            - MN
            - MS
            - MO
            - MT
            - NE
            - NV
            - NH
            - NJ
            - NM
            - NY
            - NC
            - ND
            - OH
            - OK
            - OR
            - PA
            - RI
            - SC
            - SD
            - TN
            - TX
            - UT
            - VT
            - VA
            - WA
            - WV
            - WI
            - WY
            - AS
            - GU
            - MP
            - PR
            - VI
            type: string
          description: Additional practice states of the provider. Cannot include the primary practice state.
        credentialingStatus:
          type: string
          description: The name of credentialing status. The default value is 'Data Collection'.
        emails:
          type: array
          items:
            $ref: '#/components/schemas/ProviderEmailRequestModel'
          description: A list with provider emails.
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/ProviderAddressRequestModel'
          description: A list with provider addresses.
        phone:
          type: string
          description: Primary phone number associated with this provider
        languages:
          type: array
          items:
            type: string
          description: A list of languages, other than English, this provider speaks.
        credentialedDate:
          type: string
          description: Date this provider was originally credentialed
          format: date-time
        recredentialedDates:
          type: array
          items:
            type: string
            format: date-time
          description: A list of dates when this provider was re-credentialed.
        nextCredentialingDate:
          type: string
          description: Date this provider should be credentialed next
          format: date
        providerTypeId:
          type: string
          description: Provider type id associated with this provider.
          format: uuid
        nuccGroupId:
          type: string
          description: Provider NUCC (National Uniform Claim Committee) Group associated with this provider.
          format: uuid
        segmentId:
          type: string
          description: The segment identifier to assign this provider to. If not specified, the default segment will be used.
          format: uuid
        deactivated:
          type: boolean
          description: If set to true, the provider will be deactivated. If set to false, the provider will be activated.
      additionalProperties: false
      example:
        firstName: string
        lastName: string
        dateOfBirth: '2000-08-24'
        ssn: '123456789'
    NpdbSubjectInformation:
      type: object
      properties:
        name:
          type: string
          description: Name of the subject / provider.
        otherNames:
          type: array
          items:
            type: string
        gender:
          type: string
        dateOfBirth:
          type: string
          description: Date of birth of the subject / provider.
          format: date-time
        organizationName:
          type: string
          description: Organization name of the subject / provider.
        organizationTypeCode:
          type: string
          description: The NPDB's organization type code.
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
          description: The license type as described by NPDB.
        organizationType:
          type: string
          description: Organization type as described by NPDB.
        ssn:
          type: array
          items:
            type: string
        npi:
          type: array
          items:
            type: string
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
    SamDatasetRecord:
      type: object
      properties:
        classification:
          enum:
          - Unknown
          - Firm
          - Individual
          - SpecialEntityDesignation
          - Vessel
          type: string
        openDataFlag:
          type: boolean
        duns:
          type:
          - string
          - 'null'
        uei:
          type:
          - string
          - 'null'
        exclusionProgram:
          enum:
          - Unknown
          - Reciprocal
          - Nonreciprocal
          - Procurement
          - NonProcurement
          type: string
        excludingAgency:
          type:
          - string
          - 'null'
        ctCode:
          type:
          - string
          - 'null'
        exclusionType:
          type:
          - string
          - 'null'
        additionalComments:
          type:
          - string
          - 'null'
        activeDate:
          type:
          - string
          - 'null'
          format: date-time
        terminationDate:
          type:
          - string
          - 'null'
          format: date-time
        recordStatus:
          enum:
          - Active
          - Inactive
          type: string
        crossReference:
          type:
          - string
          - 'null'
        samNumber:
          type:
          - string
          - 'null'
        cage:
          type:
          - string
          - 'null'
        creationDate:
          type:
          - string
          - 'null'
          format: date-time
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    AbmsCertificateRecognition:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        type:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        issueDate:
          type: string
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbReportSubjectInformation:
      type: object
      properties:
        name:
          type: string
        otherNames:
          type: array
          items:
            type: string
          description: Other names used by the subject.
        gender:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        organizationName:
          type: string
        organizationTypeCode:
          type: string
        workAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        homeAddress:
          $ref: '#/components/schemas/NormalizedAddress'
        license:
          type: string
        organizationType:
          type: string
        ssn:
          type: array
          items:
            type: string
          description: Social Security Number (SSN) of subject.
        npi:
          type: array
          items:
            type: string
          description: National Provider Identifiers (NPI).
        occupationAndLicensure:
          $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        otherOccupationAndLicensure:
          type: array
          items:
            $ref: '#/components/schemas/NpdbOccupationAndLicensure'
        enrollmentStatuses:
          type: array
          items:
            $ref: '#/components/schemas/NpdbEnrollmentStatus'
        professionalSchools:
          type: array
          items:
            $ref: '#/components/schemas/NpdbProfessionalSchoolInformation'
          description: Professional school attended by the subject.
        deceased:
          type: boolean
          description: True or false indicating if subject is deceased.
        dea:
          type: array
          items:
            type: string
          description: Drug Enforcement Administration (DEA) Numbers.
        upin:
          type: array
          items:
            type: string
        fein:
          type: array
          items:
            type: string
        healthCareEntities:
          type: array
          items:
            type: string
          description: Name of health care entities with which subject is affiliated or associated.
        hospitalAffiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbHospitalAffiliation'
        affiliations:
          type: array
          items:
            $ref: '#/components/schemas/NpdbAffiliation'
        occupationFieldOfLicensure:
          type: string
        stateLicenseNumber:
          type: string
      additionalProperties: false
      example:
        name: Kelly June Washington
        dateOfBirth: 1988-11-6
        organizationName: UCSF
        organizationType: Medical Group/Practice
        organizationTypeCode: '365'
        workAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        license: Physician (MD)
        otherNames: ''
        deceased: ''
        ssn: '*****4057'
        npi: '1234567890'
        professionalSchools:
        - name: UC Davis
          yearOfGraduation: '2008'
        specialty: ''
        dea: '123456789012'
        healthCareEntities: []
        businessAddress:
          state: CA
          zipCode: '94123'
          city: San Francisco
          addressLine: The avenue
        natureOfRelationship: Subject is Owner/Partner of Affiliate or Associate
    StateSanctionsAndExclusionsProviderAlias:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
      additionalProperties: false
    Transaction:
      type: object
      properties:
        orderId:
          type:
          - string
          - 'null'
        transactionId:
          type:
          - string
          - 'null'
        transactionStatus:
          type:
          - string
          - 'null'
        transactionDescription:
          type:
          - string
          - 'null'
        dateRequested:
          type:
          - string
          - 'null'
          format: date-time
        dateNotified:
          type:
          - string
          - 'null'
          format: date-time
        requestedBy:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbEnrollmentStatus:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        endDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    AbmsAddressRecord:
      type: object
      properties:
        city:
          type:
          - string
          - 'null'
        stateOrProvince:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        restrictions:
          type:
          - string
          - 'null'
      additionalProperties: false
    FacilityNameParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        name:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbInformationReported:
      type: object
      properties:
        type:
          enum:
          - Aar
          - Mmpr
          - Jocr
          - LegacyMmpr
          - LegacyAar
          type: string
          readOnly: true
      additionalProperties: false
    CredentialingRequestEventFileModel:
      type: object
      properties:
        path:
          type: string
          description: The path to the file.
        type:
          enum:
          - CredentialingPacket
          type: string
          description: The type of the attachment.
      additionalProperties: false
    NpiProfile.Identifier:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        code:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        issuer:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
    BoardCertification:
      type: object
      properties:
        boardName:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        isExpired:
          type:
          - boolean
          - 'null'
        issued:
          type:
          - string
          - 'null'
          format: date-time
        expires:
          type:
          - string
          - 'null'
          format: date-time
        mocParticipation:
          type:
          - boolean
          - 'null'
        additionalProperties:
          $ref: '#/components/schemas/FlexibleDataModel'
      additionalProperties: false
    ProviderSsnParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        ssn:
          type:
          - string
          - 'null'
      additionalProperties: false
    TransferNpdbRequestModel:
      type: object
      properties:
        databankSubjectId:
          type: string
          description: The Databank Subject ID that identifies the existing NPDB enrollment to transfer, must be 15 digits
        parameterSetId:
          type: string
          description: Indicates which NPDB parameter set should be used for the monitor. If a parameterSetId isn’t specified, we will use the default/preferred parameter set.
          format: uuid
      additionalProperties: false
    ProviderMonitoringSanctionsAndExclusionsSummaryAggregationsModel:
      type: object
      properties:
        notMonitored:
          type: integer
          description: The total number of providers, not monitored under sanctions and exclusions datasets.
          format: int32
        partiallyMonitored:
          type: integer
          description: The total number of providers, partially monitored under sanctions and exclusions datasets.
          format: int32
        fullyMonitored:
          type: integer
          description: The total number of providers, fully monitored under sanctions and exclusions datasets.
          format: int32
      additionalProperties: false
    NpdbLatestReportingEntityInformation:
      type: object
      properties:
        statusDescription:
          type:
          - string
          - 'null'
        name:
          type:
          - string
          - 'null'
        additionalName:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/NormalizedAddress'
        officeOrName:
          type:
          - string
          - 'null'
        titleOrDepartment:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        lastUpdateDate:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
    MedicareOptOutDatasetRecord:
      type: object
      properties:
        speciality:
          type:
          - string
          - 'null'
        effectiveDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        eligibleToOrderAndRefer:
          type: boolean
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        firstName:
          type:
          - string
          - 'null'
        middleName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        prefix:
          type:
          - string
          - 'null'
        suffix:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    ProviderGenderParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        gender:
          enum:
          - Unknown
          - Male
          - Female
          - NonBinaryOrThirdGender
          - Other
          - PreferNotToSay
          type: string
      additionalProperties: false
    FlexibleDataModel:
      type: object
      properties:
        type:
          enum:
          - Form
          - Table
          - Section
          type: string
          description: The schema type for `data`.
        data:
          description: The actual data for this property. The schema can change depending on `type`. See the [Flexible Data Model](/references/api/section/common-concepts/flexible-data-model) for more information.
      additionalProperties: false
    AbmsNameRecord:
      type: object
      properties:
        givenName:
          type:
          - array
          - 'null'
          items:
            type: string
        familyName:
          type:
          - string
          - 'null'
        generationIdentifier:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsDisclaimerInfo:
      type: object
      properties:
        certificationBoard:
          type:
          - string
          - 'null'
        disclaimer:
          type:
          - string
          - 'null'
      additionalProperties: false
    NpdbCodeDescription:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        description:
          type:
          - string
          - 'null'
        specifiedValue:
          type:
          - string
          - 'null'
      additionalProperties: false
    DatasetMatchModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        datasetTimestamp:
          type: string
          description: The timestamp when the dataset was last updated in our system at the time of this scan.
          format: date-time
        recordTimestamp:
          type: string
          description: The timestamp when this record was last updated in our system at the time of this scan.
          format: date-time
        data:
          $ref: '#/components/schemas/DatasetMatchData'
        scanId:
          type: string
          description: The identifier of the scan to which this match belongs. Not set if `scan` is populated.
          format: uuid
        scan:
          $ref: '#/components/schemas/DatasetScanModel'
        userActionNeeded:
          type: boolean
          description: Boolean indicating if action is needed for this match.
        isIgnored:
          type: boolean
          description: Set to true if this match was ignored for the associated provider.
        userActionResolution:
          enum:
          - Accept
          - Reject
          type: string
        userActionResolutionNote:
          type: string
        matchRelevance:
          enum:
          - Low
          - Medium
          - High
          type: string
        matchScore:
          description: Indicates a score from 0.0 to 1.0 where 1.0 is the maximum possible score indicating the quality of the match. Note that this feature is in beta and subject to change without notice.
          deprecated: true
        createdTimestamp:
          type: string
          description: Indicates the time that the match was added to the scan. Only populated for matches on or after January 25th 2024.
          format: date-time
        obsoleteTimestamp:
          type: string
          description: Indicates the time that the match became obsolete. This only occurs when a scan with a `status` of `Active` determines that the match is now obsolete due to changes in primary source data.
          format: date-time
      additionalProperties: false
    AbmsOccupationInfo:
      type: object
      properties:
        restrictions:
          type:
          - string
          - 'null'
        startDate:
          type:
          - string
          - 'null'
          format: date-time
        startDateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    OigFugitivesDatasetRecord:
      type: object
      properties:
        status:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderDueForRecredentialingPageModel:
      type: object
      properties:
        sort:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
        previousCursor:
          type: string
        nextCursor:
          type: string
        nextOffset:
          type: integer
          format: int32
        pageSize:
          type: integer
          format: int32
        count:
          type: integer
          format: int32
        totalCount:
          type: integer
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProviderDueForRecredentialingModel'
        sortedBy:
          enum:
          - ProviderFirstName
          - ProviderLastName
          - RequestCreatedAt
          type: string
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
      additionalProperties: false
    ProviderMonitoringSanctionsAndExclusionsSummaryModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider.
          format: uuid
        firstName:
          type: string
          description: The first (given) name associated with this provider.
        lastName:
          type: string
          description: The last (family) name associated with this provider.
        npi:
          type: integer
          description: The 10 digit National Provider Identifiers (NPI) of this provider.
          format: int64
        providerType:
          $ref: '#/components/schemas/ProviderTypeModel'
        credentialingStatus:
          type: string
          description: The name of credentialing status. The default value is 'Data Collection'.
        credentialedDate:
          type: string
          description: Date this provider was originally credentialed
          format: date-time
        nextCredentialingDate:
          type: string
          description: Date this provider should be credentialed next
          format: date
        monitorArray:
          type: array
          items:
            enum:
            - Sam
            - MedicareOptOut
            - OigFugitives
            - OfacSdn
            - OfacConsolidated
            - OigExclusions
            - StateSanctionsAndExclusions
            - Npdb
            - Dmf
            - Npi
            - Nsc
            - Dea
            - CmsPreclusion
            - Tricare
            - AmericanBoardofInternalMedicine
            - NationalCommissiononCertificationofPhysicianAssistants
            - Abms
            - NationalBoardforCertifiedCounselors
            - AmericanAcademyofNursePractitioners
            - NationalBoardofCertificationandRecertificationforNurseAnesthetists
            - AmericanOsteopathicAssociation
            - AmericanNursesCredentialingCenter
            - NationalBoardforCertificationinOccupationalTherapy
            - AmericanSpeechLanguageHearingAssociation
            - AmericanBoardofFamilyMedicine
            - AmericanBoardofPsychiatryandNeurology
            - InternationalBoardofLactationConsultantExaminers
            - AmericanMidwiferyCertificationBoard
            - AmericanDentalBoardofAnesthesiology
            - AmericanBoardofClinicalSocialWork
            - BoardOfPharmacySpecialties
            - AmericanBoardofAllergyandImmunology
            - AmericanBoardofOrthodontics
            - AmericanBoardofOralMedicine
            - AmericanBoardofPediatricDentistry
            - AmericanBoardofOralandMaxillofacialSurgery
            - AmericanBoardofOralandMaxillofacialRadiology
            - AmericanBoardofProsthodontics
            - AmericanBoardofOralandMaxillofacialPathology
            - AmericanBoardofEndodontics
            - AmericanBoardofPeriodontology
            - AmericanBoardofOralImplantology
            - AmericanBoardofPodiatricMedicine
            - AmericanBoardofDentalPublicHealth
            - BehaviorAnalystCertificationBoard
            - AmericanBoardofGeneralDentistry
            - NationalAssociationofSchoolPsychologists
            - AmericanBoardofAddictionMedicine
            - AmericanBoardofMultipleSpecialtiesinPodiatry
            - CommissionOnDieteticRegistration
            - AmericanBoardOfObesityMedicine
            - NationalCertificationCorporation
            - NationalCommissionForCertificationOfAnesthesiologistAssistants
            - AmericanRegistryOfRadiologyTechnologists
            - AmericanBoardOfAnesthesiology
            - AmericanRegistryForDiagnosticMedicalSonography
            - NationalBoardOfPhysiciansAndSurgeons
            - CardiovascularCredentialingInternational
            - NationalCenterForCompetencyTesting
            - NationalAssociationOfPhlebotomyTechnicians
            - AmericanAlliedHealth
            - NationalRegistryOfAlliedHealthProfessionals
            - AmericanMedicalTechnologists
            - NationalHealthCareerAssociation
            - DentalAssistingNationalBoard
            - PediatricNursingCertification
            - NationalCertificationCommissionForAcupunctureAndOrientalMedicine
            - CertificationBoardForMusicTherapists
            - AmericanBoardOfChiropracticInternists
            - AmericanBoardofPhysicalTherapySpecialties
            - AmericanBoardofPhysicianSpecialties
            - AmericanAcademyofOptometry
            - AmericanBoardofNeurologicalSurgery
            - AmericanBoardofObstetricsandGynecology
            - AmericanBoardofOphthalmology
            - AmericanBoardofOtolaryngologyHeadandNeckSurgery
            - AmericanBoardofPediatrics
            - AmericanBoardofOrthopaedicSurgery
            - AmericanBoardofPhysicalMedicineandRehabilitation
            - AmericanBoardofPlasticSurgery
            - AmericanBoardofRadiology
            - AmericanBoardofSurgery
            - AmericanBoardofUrology
            - AmericanBoardofColonandRectalSurgery
            - AmericanAssociationofCriticalCareNurses
            - AmericanBoardofFootandAnkleSurgery
            - PharmacyTechnicianCertificationBoard
            - NationalBoardofSurgicalTechnologyandSurgicalAssisting
            - AmericanBoardofPainMedicine
            - AmericanBoardofOrofacialPain
            - NuclearMedicineTechnologyCertificationBoard
            - AmericanBoardofEmergencyMedicine
            - ArtTherapyCredentialsBoard
            - AmericanBoardofProfessionalPsychology
            - NationalRegistryofEmergencyMedicalTechnicians
            - AmericanBoardofOptometry
            - BehavioralInterventionCertificationCouncil
            - AmericanHeartAssociation
            - InternationalBoardCertifiedLactationConsultant
            - MedicaidEnrollmentCalifornia
            - JointCommission
            - FacilityCmsCertification
            type: string
          description: An array of sanctions and exclusions dataset types under which this provider is being monitored.
        monitoringCategory:
          enum:
          - NotMonitored
          - PartiallyMonitored
          - FullyMonitored
          type: string
          description: Category under which this provider is being monitored.
      additionalProperties: false
    NpdbQueryInformation:
      type: object
      properties:
        statutesQueried:
          type: array
          items:
            type: string
          description: The statutes queried on the NPDB verification.
        queryType:
          enum:
          - OneTimeQuery
          - ContinuousQuery
          - CancellationQuery
          - StatusQuery
          - RenewQuery
          - UpdateQuery
          - TransferQuery
          - HealthCheckQuery
          type: string
          description: OneTimeQuery or ContinuousQuery.
        entityName:
          type: string
          description: The entity of the point of contact.
        entityDbId:
          type: string
        authorizedSubmitter:
          $ref: '#/components/schemas/NpdbSubmitterInformation'
      additionalProperties: false
      example:
        statutesQueried:
        - Title IV
        - Section 1921
        - Section 1128E
        queryType: OneTimeQuery
        entityName: Reporting Entity
        authorizedSubmitter:
          name: Jane Smith
          phone: 345-6789
          title: CEO
    NpiProfile.Taxonomy:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
        license:
          type:
          - string
          - 'null'
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        isPrimary:
          type:
          - boolean
          - 'null'
        description:
          type:
          - string
          - 'null'
        taxonomyGroup:
          type:
          - string
          - 'null'
      additionalProperties: false
    MedicaidEnrollmentCaliforniaDatasetRecord:
      type: object
      properties:
        providerSource:
          type:
          - string
          - 'null'
        providerNumber:
          type:
          - string
          - 'null'
        ownerNumber:
          type:
          - string
          - 'null'
        serviceLocationNumber:
          type:
          - string
          - 'null'
        enrollStatusEffectiveDate:
          type:
          - string
          - 'null'
          format: date-time
        providerTaxonomy:
          type:
          - string
          - 'null'
        nemtNmtProviderType:
          type:
          - string
          - 'null'
        ancProviderType:
          type:
          - string
          - 'null'
        fiProviderTypeCd:
          type:
          - string
          - 'null'
        fiProviderType:
          type:
          - string
          - 'null'
        providerLicense:
          type:
          - string
          - 'null'
        fiProviderSpecialtyCd:
          type:
          - string
          - 'null'
        fiProviderSpecialty:
          type:
          - string
          - 'null'
        outOfStateIndicator:
          type:
          - string
          - 'null'
        inOutState:
          type:
          - string
          - 'null'
        addressAttention:
          type:
          - string
          - 'null'
        dhcsCountyCd:
          type:
          - string
          - 'null'
        fipsCountyCd:
          type:
          - string
          - 'null'
        countyName:
          type:
          - string
          - 'null'
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        address:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        npiNumber:
          type:
          - integer
          - 'null'
          format: int64
      additionalProperties: false
    DatasetScanOptions:
      type: object
      properties:
        parameterSetId:
          type: string
          description: Set this to override the default parameters that will be used for a dataset scan. If a parameterSetId isn’t specified, we will use the default/preferred parameter set.
          format: uuid
        referenceId:
          type: string
          description: Set this to a provider info that will be used during the dataset scan, if a reference id isn’t supplied, we will use the data from the entity itself, such as name.
          format: uuid
      additionalProperties: false
    NscAddress:
      type: object
      properties:
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        province:
          type:
          - string
          - 'null'
        postalCode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
      additionalProperties: false
    CourseOfStudy:
      type: object
      properties:
        courseName:
          type:
          - string
          - 'null'
        ncescipCode:
          type:
          - string
          - 'null'
      additionalProperties: false
    SegmentModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the segment.
          format: uuid
        name:
          type: string
          description: Name of the segment. Used for multi-tenant organizations for billing, configuration, and tracking purposes.
      additionalProperties: false
      example:
        id: 3516a6ba-c998-4bfb-9017-322f8cf63674
        name: acme-corp
    NormalizedAddress:
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        addressLine:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderAggregationsModel:
      type: object
      properties:
        total:
          type: integer
          description: The total number of providers.
          format: int32
        aggregations:
          description: For each state that a provider can have, a count of providers in that state.
      additionalProperties: false
      example:
        total: 100
        aggregations:
          NeedsReview: 2
          ExpiresSoon: 10
          Expired: 0
          Monitored: 100
          NotMonitored: 0
    DeaDatasetRecord:
      type: object
      properties:
        businessActivityCode:
          type:
          - string
          - 'null'
        drugSchedules:
          type:
          - string
          - 'null'
        expirationDate:
          type: string
          format: date-time
        additionalCompanyInfo:
          type:
          - string
          - 'null'
        address1:
          type:
          - string
          - 'null'
        address2:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        state:
          type:
          - string
          - 'null'
        zipCode:
          type:
          - string
          - 'null'
        businessActivitySubCode:
          type:
          - string
          - 'null'
        paymentIndicator:
          enum:
          - Paid
          - Exempt
          type: string
        active:
          type: boolean
        deax:
          $ref: '#/components/schemas/DeaxModel'
        degree:
          type:
          - string
          - 'null'
        stateLicenseNumber:
          type:
          - string
          - 'null'
        stateControlledSubstanceLicenseNumber:
          type:
          - string
          - 'null'
        businessActivity:
          type:
          - string
          - 'null'
          readOnly: true
        id:
          type: string
          format: uuid
        hash:
          type: string
          format: uuid
        registrationNumber:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderLicenseParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        licenseTypeId:
          type: string
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
        number:
          type:
          - string
          - 'null'
        isPrimary:
          type: boolean
      additionalProperties: false
    ProviderEmailModel:
      type: object
      properties:
        email:
          type: string
          description: The email associated with the provider.
        type:
          enum:
          - Unspecified
          - Personal
          - Work
          type: string
          description: The type of the email.
        id:
          type: string
          description: Unique identifier for this specific email.
          format: uuid
      additionalProperties: false
    OfacAlternateIdentityRecord:
      type: object
      properties:
        identityNumber:
          type: integer
          format: int64
        type:
          type:
          - string
          - 'null'
        remarks:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderTypeModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this provider type.
          format: uuid
        name:
          type: string
          description: Associated provider type name.
      additionalProperties: false
    DeaxModel:
      type: object
      properties:
        number:
          type:
          - string
          - 'null'
        certifiedPatientLimit:
          type: integer
          format: int32
      additionalProperties: false
    AbmsEducationInfo:
      type: object
      properties:
        degree:
          type:
          - string
          - 'null'
        endDate:
          type:
          - string
          - 'null'
          format: date-time
        endDateAccuracy:
          type:
          - string
          - 'null'
      additionalProperties: false
    ProviderNpiParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        number:
          type: integer
          format: int64
      additionalProperties: false
    ProviderDeaParameter:
      type: object
      properties:
        type:
          enum:
          - Name
          - Npi
          - DateOfBirth
          - Ssn
          - License
          - Address
          - Education
          - BoardCertificationNumber
          - Dea
          - Certificate
          - CaqhId
          - ProviderType
          - FacilityName
          - FacilityAccreditationInfo
          - FacilityCmsCertificationInfo
          - NccpaBoardCertificateInfo
          - Gender
          type: string
          readOnly: true
        registrationNumber:
          type:
          - string
          - 'null'
      additionalProperties: false
    AbmsCertificateIssuance:
      type: object
      properties:
        focus:
          type:
          - string
          - 'null'
        duration:
          type:
          - string
          - 'null'
        occurrence:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        issueDateAccuracy:
          type:
          - string
          - 'null'
        expiryDate:
          type:
          - string
          - 'null'
          format: date-time
        expiryDateAccuracy:
          type:
          - string
          - 'null'
        scheduledUpdate:
          type:
          - string
          - 'null'
          format: date-time
        scheduledUpdateAccuracy:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
        notices:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/AbmsCertificateIssuanceNotice'
      additionalProperties: false
    ProviderPageModel:
      type: object
      properties:
        sort:
          type: object
          properties:
            Keys:
              enum:
              - Id
              - LastName
              - FirstName
              - CredentialingStatus
              - CredentialedDate
              type: string
            Values:
              enum:
              - Asc
              - Desc
              type: string
          description: The properties and directions the data is sorted by.
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/ProviderModel'
          description: The providers in the current page.
        sortedBy:
          enum:
          - Id
          - LastName
          - FirstName
          - CredentialingStatus
          - CredentialedDate
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
      additionalProperties: false
      example:
        previousCursor: string
        nextCursor: string
        nextOffset: 0
        pageSize: 0
        count: 0
        totalCount: 0
        items:
        - id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          firstName: string
          lastName: string
          dateOfBirth: '2019-08-24T14:15:22.0000000Z'
          ssn: '***'
          credentialingStatus: string
          credentialedDate: '2019-08-24T14:15:22.0000000Z'
          npi: 0
          aliases:
          - id: 9b4c12e8-02c5-4107-a524-c02416d43079
            firstName: string
            lastName: string
          addresses:
          - id: e57c9ee4-807d-456a-bf32-623280064ca5
            state: AL
            zipCode: string
            city: string
            addressLine1: string
            addressLine2: string
            type: Unspecified
          emails:
          - id: 1d46ecfe-5ce4-4b9c-aaba-3543e15d36d1
            email: string
            type: Unspecified
          phone: string
          languages:
          - string
          recredentialedDates:
          - '2019-08-24T14:15:22.0000000Z'
          providerType:
            id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
            name: string
        sortedBy: Id
        sortDirection: Asc
        sort:
          Id: Asc
          FirstName: Asc
          LastName: Asc
          CredentialingStatus: Desc
    ProviderReportRequestModel:
      type: object
      properties:
        sections:
          type: array
          items:
            enum:
            - BasicInfo
            - NpiNumber
            - DeaRegistrations
            - Licenses
            - BoardCertifications
            - LiabilityInsurance
            - EducationAndTraining
            - WorkHistory
            - SanctionsAndExclusions
            - CaqhProfile
            - MedicaidEnrollment
            - HospitalAffiliations
            type: string
          description: Report sections to generate.
        datasetTypes:
          type: array
          items:
            enum:
[...]
