openapi: 3.2.0
info:
  title: Verifiable API Documentation Providers Info API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: ProvidersInfo
  description: Endpoints related to managing and listing providers' info. Education, insurance, training and CAQH login info can be added to providers. Education, liability insurance, and training can have multiple entries. They can be created via POST, modified by PATCH, and removed by DELETE methods. CAQH login info is a single entry per provider and can be created or replaced by PUT, removed by DELETE and modified by PATCH method.
paths:
  /providers/{providerId}/info:
    get:
      tags:
      - ProvidersInfo
      summary: Get info for the existing provider
      description: Returns the info for a specific provider.
      operationId: GetProviderInfo
      parameters:
      - name: providerId
        in: path
        description: Identifier of the provider to get the data for.
        required: true
        schema:
          type: string
          format: uuid
      - name: providerInfoType
        in: query
        description: 'If not specified, will return all data for the provider. Info types can be combined, ex.: `providerInfoType=licenses&providerInfoType=deaRegistrations`.'
        schema:
          type: array
          items:
            enum:
            - BasicInfo
            - Caqh
            - LiabilityInsurance
            - Education
            - Training
            - WorkHistory
            - DeaRegistrations
            - Licenses
            - BoardCertifications
            - Certificates
            - MedicaidEnrollment
            - Specialty
            - HospitalAffiliation
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
              example:
                BasicInfo:
                  firstName: string
                  lastName: string
                  dateOfBirth: '2019-08-24T14:15:22.0000000Z'
                  ssn: '***'
                  id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
                  credentialingStatus: string
                  aliases:
                  - firstName: string
                    lastName: string
                  addresses:
                  - state: AL
                    zipCode: string
                    city: string
                    addressLine1: string
                    type: Unspecified
                  emails:
                  - email: string
                    type: Unspecified
                  phone: string
                  languages:
                  - string
                  gender: string
                  ethnicity:
                  - enum
                  credentialedDate: '2019-08-24T14:15:22.0000000Z'
                  recredentialedDates:
                  - '2019-08-24T14:15:22.0000000Z'
                  providerType: string
                CaqhInfo:
                  caqhId: string
                LiabilityInsurance:
                - id: Guid
                  name: string
                  isSelfInsured: bool
                  originalEffectiveDate: Date
                  effectiveDate: Date
                  expirationDate: Date
                  CoverageType: enum
                  isUnlimitedCoverage: bool
                  includesTailCoverage: bool
                  occurrenceCoverageAmount: number
                  aggregateCoverageAmount: number
                  policyNumber: string
                  lastUpdatedAt: '2025-06-03T20:49:03.9129760Z'
                Education:
                - id: Guid
                  ecfmgNumber: string
                  ecfmgIssueDate: '2019-08-24T14:15:22.0000000Z'
                  graduateType: enum
                  schoolName: string
                  schoolCode: string
                  startDate: '2000-09-01T00:00:00.0000000Z'
                  endDate: '2000-09-01T00:00:00.0000000Z'
                  completed: bool
                  degree: string
                  lastUpdatedAt: '2025-06-03T20:49:03.9129760Z'
                Training:
                - id: Guid
                  trainingType: enum
                  institutionName: string
                  schoolCode: string
                  startDate: '2000-09-01T00:00:00.0000000Z'
                  endDate: '2000-09-01T00:00:00.0000000Z'
                  completed: bool
                  lastUpdatedAt: '2025-06-03T20:49:03.9129760Z'
                MedicaidEnrollment:
                - state: AL
                  nonVerifiedInfo:
                    effectiveDate: '2026-01-01'
                    providerType: string
                    providerSpeciality: string
                    address: string
                    inOutState: enum
                    issueDate: '2010-01-01'
                  id: 2939ccdc-4acf-4b3a-b2d2-40f1e078882a
                  lastUpdatedAt: '2025-06-03T20:49:03.9129760Z'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
      x-codeSamples: []
  /providers/{providerId}/info/caqh:
    put:
      tags:
      - ProvidersInfo
      summary: Create or replace caqh login info for the existing provider
      description: Creates or replaces the CAQH login info for a specific provider.
      operationId: PutProviderCaqhInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaqhLoginInfoRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaqhLoginInfoModel'
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's CAQH login info
      description: Change an existing CAQH login info associated with the specified provider.
      operationId: PatchProviderCaqhInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CaqhLoginInfoRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaqhLoginInfoModel'
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing CAQH login info for the existing provider
      description: Deletes an existing CAQH login info associated with the specified provider.
      operationId: DeleteProviderCaqhInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: Get CAQH login info for a provider
      description: Returns the CAQH login info associated with the specified provider.
      operationId: GetProviderCaqhInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaqhLoginInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/aliases/{aliasId}:
    put:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's alias
      description: Change an existing alias associated with the specified provider.
      operationId: PutProviderAliasInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: aliasId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAliasRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAliasModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/aliases/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get alias for the existing provider
      description: Returns the alias for a specific provider.
      operationId: GetProviderAliasInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAliasModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing alias for the existing provider
      description: Deletes an existing alias associated with the specified provider.
      operationId: DeleteProviderAliasInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/boardCertifications:
    post:
      tags:
      - ProvidersInfo
      summary: Create board certification info for the existing provider
      description: Add a board certification info for the specified provider.
      operationId: CreateBoardCertificationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCertificationInfoRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCertificationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List board certifications
      description: Returns all board certifications associated with the specified provider.
      operationId: ListBoardCertificationsInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BoardCertificationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/boardCertifications/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get board certification for the existing provider
      description: Returns the board certification for a specific provider.
      operationId: GetBoardCertificationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCertificationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's board certification info
      description: Change an existing board certification info associated with the specified provider.
      operationId: PatchBoardCertificationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCertificationInfoPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCertificationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing board certification info for the existing provider
      description: Deletes an existing board certification info associated with the specified provider.
      operationId: DeleteBoardCertificationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/certificates:
    post:
      tags:
      - ProvidersInfo
      summary: Create certificate info for the existing provider
      description: Add a certificate info for the specified provider.
      operationId: CreateCertificateInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateInfoRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List certificates
      description: Returns all certificates associated with the specified provider.
      operationId: ListCertificateInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/certificates/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get certificate for the existing provider
      description: Returns the certificate for a specific provider.
      operationId: GetCertificateInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's certificate info
      description: Change an existing certificate info associated with the specified provider.
      operationId: PatchCertificateInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateInfoPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing certificate info for the existing provider
      description: Deletes an existing certificate info associated with the specified provider.
      operationId: DeleteCertificateInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/liabilityInsurances:
    post:
      tags:
      - ProvidersInfo
      summary: Create liability insurance info for the existing provider
      description: Creates the liability insurance info for a specific provider.
      operationId: CreateProviderLiabilityInsurance
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiabilityInsuranceRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List liability insurances
      description: Returns all liability insurances associated with the specified provider.
      operationId: ListProviderLiabilityInsuranceInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/liabilityInsurances/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get liability insurance for the existing provider
      description: Returns the liability insurance for a specific provider.
      operationId: GetProviderLiabilityInsuranceInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's liability insurance
      description: Change an existing liability insurance associated with the specified provider.
      operationId: PatchProviderLiabilityInsuranceInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LiabilityInsurancePatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiabilityInsuranceModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing liability insurance info for the existing provider
      description: Deletes an existing insurance info associated with the specified provider.
      operationId: DeleteProviderLiabilityInsuranceInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/educations:
    post:
      tags:
      - ProvidersInfo
      summary: Create education info for the existing provider
      description: Creates the education info for a specific provider.
      operationId: CreateProviderEducationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List educations
      description: Returns all educations associated with the specified provider.
      operationId: ListProviderEducationInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EducationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/educations/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get education for the existing provider
      description: Returns the education for a specific provider.
      operationId: GetProviderEducationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's education info
      description: Change an existing education info associated with the specified provider.
      operationId: PatchProviderEducationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EducationPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EducationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing education info for the existing provider
      description: Deletes an existing education info associated with the specified provider.
      operationId: DeleteProviderEducationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/trainings:
    post:
      tags:
      - ProvidersInfo
      summary: Create training info for the existing provider
      description: Creates the training info for a specific provider.
      operationId: CreateProviderTrainingInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List trainings
      description: Returns all trainings associated with the specified provider.
      operationId: ListProviderTrainingInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrainingModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/trainings/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get training for the existing provider
      description: Returns the training for a specific provider.
      operationId: GetProviderTrainingInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's training info
      description: Change an existing training info associated with the specified provider.
      operationId: PatchProviderTrainingInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrainingPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing training info for the existing provider
      description: Deletes an existing training info associated with the specified provider.
      operationId: DeleteProviderTrainingInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/workHistory:
    post:
      tags:
      - ProvidersInfo
      summary: Create work history info for the existing provider
      description: Creates the work history info for a specific provider.
      operationId: CreateProviderWorkHistoryInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkHistoryRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkHistoryModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List work history entries
      description: Returns all work history entries associated with the specified provider.
      operationId: ListProviderWorkHistoryInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkHistoryModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/workHistory/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get work history for the existing provider
      description: Returns the work history for a specific provider.
      operationId: GetProviderWorkHistoryInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkHistoryModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's work history info
      description: Change an existing work history info associated with the specified provider.
      operationId: PatchProviderWorkHistoryInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkHistoryPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkHistoryModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing work history info for the existing provider
      description: Deletes an existing work history info associated with the specified provider.
      operationId: DeleteProviderWorkHistoryInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/specialties:
    post:
      tags:
      - ProvidersInfo
      summary: Create specialty for the existing provider
      description: Creates a specialty for a specific provider. Each provider can have one Primary specialty, one Secondary specialty, and multiple Additional specialties. The same taxonomy cannot be used across multiple specialties for the same provider.
      operationId: CreateProviderSpecialty
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderSpecialtyRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List all specialties for a provider
      description: Retrieves all specialties for a specific provider. A provider can have one Primary, one Secondary, and multiple Additional specialties.
      operationId: ListProviderSpecialties
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderSpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/specialties/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get specialty by identifier
      description: Retrieves a specific specialty for a provider by its identifier.
      operationId: GetProviderSpecialty
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Update specialty for a provider
      description: Updates a specific specialty for a provider. The same taxonomy cannot be used across multiple specialties for the same provider. Only one Primary and one Secondary specialty is allowed per provider.
      operationId: PatchProviderSpecialty
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderSpecialtyPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderSpecialtyModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '409':
          description: Conflict
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete specialty for a provider
      description: Deletes a specific specialty for a provider by its identifier.
      operationId: DeleteProviderSpecialty
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/hospitalAffiliations:
    post:
      tags:
      - ProvidersInfo
      summary: Create hospital affiliation for an existing provider
      description: Add a hospital affiliation for the specified provider.
      operationId: CreateProviderHospitalAffiliation
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalAffiliationRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalAffiliationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List hospital affiliations for an existing provider
      description: Returns all hospital affiliations for the specified provider.
      operationId: ListProviderHospitalAffiliations
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/HospitalAffiliationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/hospitalAffiliations/{id}:
    get:
      tags:
      - ProvidersInfo
      summary: Get a hospital affiliation for an existing provider
      description: Returns a specific hospital affiliation for the specified provider.
      operationId: GetProviderHospitalAffiliation
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalAffiliationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Update a hospital affiliation for an existing provider
      description: Change an existing hospital affiliation associated with the specified provider.
      operationId: PatchProviderHospitalAffiliation
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HospitalAffiliationPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HospitalAffiliationModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    delete:
      tags:
      - ProvidersInfo
      summary: Delete a hospital affiliation for an existing provider
      description: Deletes an existing hospital affiliation associated with the specified provider.
      operationId: DeleteProviderHospitalAffiliation
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/dea:
    post:
      tags:
      - ProvidersInfo
      summary: Create DEA registration info for the existing provider
      description: Add a DEA registration info for the specified provider.
      operationId: CreateDeaRegistrationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeaRegistrationInfoRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeaRegistrationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List DEA registrations
      description: Returns all DEA registrations associated with the specified provider.
      operationId: ListDeaRegistrationInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DeaRegistrationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/addresses:
    post:
      tags:
      - ProvidersInfo
      summary: Create address for an existing provider
      description: Add an address for the specified provider.
      operationId: CreateProviderAddressInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAddressRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAddressModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List addresses
      description: Returns all addresses associated with the specified provider.
      operationId: ListProviderAddressInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderAddressModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/aliases:
    get:
      tags:
      - ProvidersInfo
      summary: List aliases
      description: Returns all aliases associated with the specified provider.
      operationId: ListProviderAliasInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderAliasModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    post:
      tags:
      - ProvidersInfo
      summary: Create alias for an existing provider
      description: Add an alias for the specified provider.
      operationId: CreateProviderAliasInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAliasRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAliasModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/emails:
    post:
      tags:
      - ProvidersInfo
      summary: Create email for an existing provider
      description: Add an email for the specified provider.
      operationId: CreateProviderEmailInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderEmailRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEmailModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List emails
      description: Returns all emails associated with the specified provider.
      operationId: ListProviderEmailInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProviderEmailModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/medicaidEnrollments:
    post:
      tags:
      - ProvidersInfo
      summary: Create medicaid enrollment info for the existing provider
      description: Creates the medicaid enrollment info for a specific provider.
      operationId: CreateProviderMedicaidEnrollmentInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicaidEnrollmentRequestModel'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicaidEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: List Medicaid enrollments
      description: Returns all medicaid enrollments associated with the specified provider.
      operationId: ListProviderMedicaidEnrollmentInfos
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicaidEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/dea/{id}:
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing DEA registration info for the existing provider
      description: Deletes an existing DEA registration info associated with the specified provider.
      operationId: DeleteDeaRegistrationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: Get DEA registration for the existing provider
      description: Returns the DEA registration for a specific provider.
      operationId: GetDeaRegistrationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeaRegistrationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's DEA registration info
      description: Change an existing DEA registration info associated with the specified provider.
      operationId: PatchDeaRegistrationInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeaRegistrationInfoPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeaRegistrationInfoModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/addresses/{id}:
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing address for a provider
      description: Deletes an existing address associated with the specified provider.
      operationId: DeleteProviderAddressInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: Get address for an existing provider
      description: Returns the address for a specific provider.
      operationId: GetProviderAddressInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAddressModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    put:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's address
      description: Change an existing address associated with the specified provider.
      operationId: PutProviderAddressInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderAddressRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderAddressModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/emails/{id}:
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing email for a provider
      description: Deletes an existing email associated with the specified provider.
      operationId: DeleteProviderEmailInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: Get email for the existing provider
      description: Returns the email for a specific provider.
      operationId: GetProviderEmailInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEmailModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    put:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's email
      description: Change an existing email associated with the specified provider.
      operationId: PutProviderEmailInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderEmailRequestModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProviderEmailModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
  /providers/{providerId}/info/medicaidEnrollments/{id}:
    delete:
      tags:
      - ProvidersInfo
      summary: Delete existing Medicaid enrollment info for the existing provider
      description: Deletes an existing Medicaid enrollment info associated with the specified provider.
      operationId: DeleteProviderMedicaidEnrollmentInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    get:
      tags:
      - ProvidersInfo
      summary: Get medicaid enrollment info for the existing provider
      description: Returns the medicaid enrollment for a specific provider
      operationId: GetProviderMedicaidEnrollmentInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicaidEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
    patch:
      tags:
      - ProvidersInfo
      summary: Change an existing provider's Medicaid enrollment info
      description: Change an existing Medicaid enrollment info associated with the specified provider.
      operationId: PatchProviderMedicaidEnrollmentInfo
      parameters:
      - name: providerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicaidEnrollmentPatchModel'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicaidEnrollmentModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    HospitalAffiliationAdmittingArrangementsContactModel:
      type: object
      properties:
        phoneNumber:
          type: string
          description: The contact's phone number.
        emailAddress:
          type: string
          description: The contact's email address.
      additionalProperties: false
      description: Contact information for the provider or organization managing admitting arrangements.
    ProviderSpecialtyPatchModel:
      type: object
      properties:
        type:
          enum:
          - Primary
          - Secondary
          - Additional
          type: string
          description: Type of specialty. Can be Primary (only one allowed), Secondary (only one allowed), or Additional (multiple allowed). When changing the type, validation ensures only one Primary and one Secondary specialty exists per provider.
        taxonomyId:
          type: string
          description: Identifier of the taxonomy associated with this specialty. Must reference a valid taxonomy. The same taxonomy cannot be used across multiple specialties for the same provider.
          format: uuid
      additionalProperties: false
    MedicaidEnrollmentPatchModel:
      type: object
      properties:
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type:
          - string
          - 'null'
        nonVerifiedInfo:
          $ref: '#/components/schemas/MedicaidEnrollmentNonVerifiedInfoModel'
      additionalProperties: false
    NonAdmittingAffiliationsModel:
      type: object
      properties:
        type:
          enum:
          - AdmittingPrivileges
          - AdmittingArrangements
          - NonAdmittingAffiliations
          type: string
          description: The type of hospital affiliation. Always `NonAdmittingAffiliations`.
          readOnly: true
        lastUpdatedAt:
          type: string
          description: The date and time the entry was last updated.
          format: date-time
        id:
          type: string
          description: Unique identifier of the hospital affiliation.
          format: uuid
        status:
          enum:
          - Active
          - Inactive
          - Pending
          type: string
          description: Provider's non-admitting affiliation status.
        startDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital began.
          format: date
        endDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital ended. Null = currently active.
          format: date
        hospital:
          $ref: '#/components/schemas/HospitalAffiliationHospitalInfoModel'
        description:
          type: string
          description: Description of the non-admitting affiliation.
        discontinuanceReason:
          enum:
          - VoluntaryResignation
          - Suspension
          - TerminationWithCause
          - HospitalClosed
          type: string
          description: The reason the affiliation was discontinued.
      additionalProperties: false
      description: Response model for a non-admitting hospital affiliation.
    BoardCertificationInfoModel:
      type: object
      properties:
        lastUpdatedAt:
          type: string
          description: The date and time when the object was created or modified.
          format: date-time
        id:
          type: string
          description: Unique identifier associated with this board certification
          format: uuid
        type:
          enum:
          - AmericanBoardofMedicalSpecialties
          - NationalBoardforCertifiedCounselors
          - AmericanBoardofClinicalSocialWork
          - AmericanSpeechLanguageHearingAssociation
          - AmericanNursesCredentialingCenter
          - AmericanAcademyofNursePractitioners
          - AmericanOsteopathicAssociation
          - AmericanMedicalAssociation
          - NationalBoardofCertificationandRecertificationforNurseAnesthetists
          - AmericanAssociationofCriticalCareNurses
          - AmericanMidwiferyCertificationBoard
          - AmericanBoardofPodiatricMedicine
          - AmericanBoardofOralImplantology
          - AmericanBoardofOralMedicine
          - AmericanBoardofOrofacialPain
          - NuclearMedicineTechnologyCertificationBoard
          - AmericanDentalBoardofAnesthesiology
          - AmericanBoardofDentalPublicHealth
          - AmericanBoardofPediatricDentistry
          - AmericanBoardofPeriodontology
          - AmericanBoardofInternalMedicine
          - NationalCommissiononCertificationofPhysicianAssistants
          - AmericanBoardofAllergyandImmunology
          - AmericanBoardofAnesthesiology
          - AmericanBoardofColonandRectalSurgery
          - AmericanBoardofDermatology
          - AmericanBoardofEmergencyMedicine
          - AmericanBoardofFamilyMedicine
          - AmericanBoardofGeneticsandGenomics
          - AmericanBoardofNeurologicalSurgery
          - AmericanBoardofNuclearMedicine
          - AmericanBoardofObstetricsandGynecology
          - AmericanBoardofOphthalmology
          - AmericanBoardofOptometry
          - AmericanBoardofOrthopaedicSurgery
          - AmericanBoardofOtolaryngologyHeadandNeckSurgery
          - AmericanBoardofPathology
          - AmericanBoardofPediatrics
          - AmericanBoardofPhysicalMedicineandRehabilitation
          - AmericanBoardofPlasticSurgery
          - AmericanBoardofPreventiveMedicine
          - AmericanBoardofProfessionalPsychology
          - AmericanBoardofPsychiatryandNeurology
          - AmericanBoardofRadiology
          - AmericanBoardofSurgery
          - AmericanBoardofThoracicSurgery
          - AmericanBoardofUrology
          - AmericanOptometricAssociation
          - AssociationofSocialWorkBoards
          - AmericanBoardofFootandAnkleSurgery
          - AmericanBoardofOralandMaxillofacialPathology
          - AmericanBoardofOralandMaxillofacialSurgery
          - AmericanBoardofOrthodontics
          - AmericanBoardofEndodontics
          - AmericanBoardofProsthodontics
          - NationalBoardforCertificationinOccupationalTherapy
          - BehaviorAnalystCertificationBoard
          - InternationalBoardofLactationConsultantExaminers
          - CommissionOnDieteticRegistration
          - NationalCertificationCommissionforAcupunctureandOrientalMedicine
          - PediatricNursingCertification
          - NationalCertificationCorporation
          - OncologyNursingCertificationCorporation
          - AmericanBoardOfCardiovascularMedicine
          - AmericanAcademyOfHIVMedicine
          - NationalBoardOfPhysiciansAndSurgeons
          - BoardOfPharmacySpecialties
          - AmericanBoardofOralandMaxillofacialRadiology
          - AmericanBoardofGeneralDentistry
          - NationalAssociationofSchoolPsychologists
          - NationalPhlebotomyAssociation
          - NationalCenterForCompetencyTesting
          - AmericanRegistryofRadiologyTechnologists
          - DentalAssistingNationalBoard
          - AmericanMedicalCertificationAssociation
          - AmericanBoardofAddictionMedicine
          - AmericanRegistryForDiagnosticMedicalSonography
          - AmericanBoardofMultipleSpecialtiesinPodiatry
          - AmericanBoardOfObesityMedicine
          - NationalCommissionForCertificationOfAnesthesiologistAssistants
          - CardiovascularCredentialingInternational
          - NationalBoardOfEchocardiography
          - AmericanAlliedHealth
          - AmericanMedicalTechnologists
          - NationalAssociationForHealthProfessionals
          - NationalHealthCareerAssociation
          - NationalPhlebotomyCertificationExamination
          - NationalAssociationOfPhlebotomyTechnicians
          - NationalHealthcareCertificationOrganization
          - NationalPerformanceSpecialists
          - NationalRegistryOfAlliedHealthProfessionals
          - NationalRegistryofEmergencyMedicalTechnicians
          - BoardofCertificationforEmergencyNursing
          - CertificationBoardforMusicTherapists
          - AmericanBoardOfChiropracticInternists
          - AmericanBoardOfPhysicalTherapySpecialties
          - AmericanBoardofPhysicianSpecialties
          - AmericanAcademyofOptometry
          - PharmacyTechnicianCertificationBoard
          - NationalBoardofSurgicalTechnologyandSurgicalAssisting
          - AmericanBoardofPainMedicine
          - ArtTherapyCredentialsBoard
          - BehavioralInterventionCertificationCouncil
          - AmericanOsteopathicBoardOfAnesthesiology
          - AmericanOsteopathicBoardOfDermatology
          - AmericanOsteopathicBoardOfEmergencyMedicine
          - AmericanOsteopathicBoardOfFamilyPhysicians
          - AmericanOsteopathicBoardOfInternalMedicine
          - AmericanOsteopathicBoardOfNeurologyAndPsychiatry
          - AmericanOsteopathicBoardOfNeuromusculoskeletalMedicine
          - AmericanOsteopathicBoardOfNuclearMedicine
          - AmericanOsteopathicBoardOfObstetricsAndGynecology
          - AmericanOsteopathicBoardOfOphthalmologyAndOtolaryngology
          - AmericanOsteopathicBoardOfOrthopedicSurgery
          - AmericanOsteopathicBoardOfPathology
          - AmericanOsteopathicBoardOfPediatrics
          - AmericanOsteopathicBoardOfPhysicalMedicineAndRehabilitation
          - AmericanOsteopathicBoardOfPreventiveMedicine
          - AmericanOsteopathicBoardOfProctology
          - AmericanOsteopathicBoardOfRadiology
          - AmericanOsteopathicBoardOfSurgery
          type: string
          description: Board certification type.
        firstName:
          type: string
          description: Provider first name mentioned on the board certification. This field will be used for board certification lookup.
        lastName:
          type: string
          description: Provider last name mentioned on the board certification. This field will be used for board certification lookup.
        boardCertificationNumber:
          type: string
          description: A unique Id provided by certification board to the provider. This will be used for board certification lookup.
        specialty:
          type: string
        taxonomyIds:
          type: array
          items:
            type: string
            format: uuid
          description: Array of NUCC taxonomy IDs associated with this board certification.
        nonVerifiedInfo:
          $ref: '#/components/schemas/NonVerifiedBoardCertificationInfoModel'
        isPrimary:
          type: boolean
          description: If the flag is set, certification will be set as primary for the provider.
      additionalProperties: false
    ProviderSpecialtyRequestModel:
      required:
      - taxonomyId
      - type
      type: object
      properties:
        type:
          enum:
          - Primary
          - Secondary
          - Additional
          type: string
          description: Type of specialty. Can be Primary (only one allowed), Secondary (only one allowed), or Additional (multiple allowed).
        taxonomyId:
          type: string
          description: Identifier of the taxonomy associated with this specialty. Must reference a valid taxonomy. The same taxonomy cannot be used across multiple specialties for the same provider.
          format: uuid
      additionalProperties: false
    CertificateInfoPatchModel:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        certificateNumber:
          type:
          - string
          - 'null'
        issueDate:
          type:
          - string
          - 'null'
          format: date-time
        expirationDate:
          type:
          - string
          - 'null'
          format: date-time
        certifyingOrganization:
          type:
          - string
          - 'null'
      additionalProperties: false
    HospitalAffiliationAdmittingArrangementsPatchModel:
      type: object
      properties:
        type:
          enum:
          - AdmittingPrivileges
          - AdmittingArrangements
          - NonAdmittingAffiliations
          type: string
          description: The type of hospital affiliation. Must be `AdmittingArrangements`.
        hospital:
          $ref: '#/components/schemas/HospitalAffiliationHospitalInfoModel'
        status:
          enum:
          - Active
          - Inactive
          - Pending
          type: string
          description: Provider's admitting arrangement status.
        startDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital began.
          format: date
        endDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital ended. Null = currently active.
          format: date
        whoAdmitsForYou:
          enum:
          - AProviderInMyPractice
          - AProviderNotInMyPractice
          - AHospitalistGroup
          - Other
          type: string
          description: Indicates who admits patients on behalf of the provider.
        admittingProvider:
          $ref: '#/components/schemas/HospitalAffiliationAdmittingArrangementsProviderModel'
        admittingOrganization:
          $ref: '#/components/schemas/HospitalAffiliationAdmittingOrganizationModel'
        contact:
          $ref: '#/components/schemas/HospitalAffiliationAdmittingArrangementsContactModel'
        department:
          type: string
          description: The department associated with the admitting arrangement.
        details:
          type: string
          description: Additional details about the admitting arrangement.
      additionalProperties: false
      description: Patch model for updating an admitting arrangements hospital affiliation.
    EducationPatchModel:
      type: object
      properties:
        ecfmgNumber:
          type: string
          description: Educational Commission for Foreign Medical Graduates number
        ecfmgIssueDate:
          type: string
          description: Timestamp when the certificate was issued
          format: date-time
        graduateType:
          enum:
          - Undergraduate
          - Professional
          - FifthPathway
          type: string
          description: Degree program type
        schoolName:
          type: string
          description: Name of school
        schoolCode:
          type: string
          description: School code as defined by the [National Student Clearinghouse](https://docs.studentclearinghouse.org/vs/v/json-field-descriptions/appendix-school-codes)
        branchCode:
          type: string
          description: Branch code as defined by the [National Student Clearinghouse](https://docs.studentclearinghouse.org/vs/v/json-field-descriptions/appendix-branch-code-values)
        startDate:
          type: string
          description: Timestamp when this provider started their degree program
          format: date-time
        endDate:
          type: string
          description: Timestamp when this provider finished their degree program
          format: date-time
        completed:
          type: boolean
          description: Identifies if this provider completed their graduate education at this school
        degree:
          type: string
          description: Degree awarded
      additionalProperties: false
    MedicaidEnrollmentNonVerifiedInfoModel:
      type: object
      properties:
        effectiveDate:
          type: string
          description: The effective date of this Medicaid enrollment.
          format: date-time
        providerType:
          type: string
          description: The type of provider of this Medicaid enrollment.
        providerSpecialty:
          type: string
          description: Provider specialty associated with the Medicaid enrollment.
        address:
          type: string
          description: Provider address.
        inState:
          type: boolean
      additionalProperties: false
    HospitalAffiliationNonAdmittingAffiliationsPatchModel:
      type: object
      properties:
        type:
          enum:
          - AdmittingPrivileges
          - AdmittingArrangements
          - NonAdmittingAffiliations
          type: string
          description: The type of hospital affiliation. Must be `NonAdmittingAffiliations`.
        hospital:
          $ref: '#/components/schemas/HospitalAffiliationHospitalInfoModel'
        status:
          enum:
          - Active
          - Inactive
          - Pending
          type: string
          description: Provider's non-admitting affiliation status.
        startDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital began.
          format: date
        endDate:
          type: string
          description: Date provider's affiliation/privileges at the hospital ended. Null = currently active.
          format: date
        description:
          type: string
          description: Description of the non-admitting affiliation.
        discontinuanceReason:
          enum:
          - VoluntaryResignation
          - Suspension
          - TerminationWithCause
          - HospitalClosed
          type: string
          description: 'The reason the affiliation was discontinued. Allowed values: `VoluntaryResignation`, `Suspension`, `TerminationWithCause`, `HospitalClosed`.'
      additionalProperties: false
      description: Patch model for updating a non-admitting hospital affiliation.
    EducationModel:
      type: object
      properties:
        lastUpdatedAt:
          type: string
          description: The date and time when the object was created or modified.
          format: date-time
        id:
          type: string
          description: Unique identifier associated with this education
          format: uuid
        ecfmgNumber:
          type: string
          description: Educational Commission for Foreign Medical Graduates number
        ecfmgIssueDate:
          type: string
          description: Timestamp when the certificate was issued
          format: date-time
        graduateType:
          enum:
          - Undergraduate
          - Professional
          - FifthPathway
          type: string
          description: Degree program type
        schoolName:
          type: string
          description: Name of school
        schoolCode:
          type: string
          description: School code as defined by the [National Student Clearinghouse](https://docs.studentclearinghouse.org/vs/v/json-field-descriptions/appendix-school-codes)
        branchCode:
          type: string
          description: Branch code as defined by the [National Student Clearinghouse](https://docs.studentclearinghouse.org/vs/v/json-field-descriptions/appendix-branch-code-values)
        startDate:
          type: string
          description: Timestamp when this provider started their degree program
          format: date-time
        endDate:
          type: string
          description: Timestamp when this provider finished their degree program
          format: date-time
        completed:
          type: boolean
          description: Identifies if this provider completed their graduate education at this school
        degree:
          type: string
          description: Degree awarded
      additionalProperties: false
    HospitalAffiliationModel:
      oneOf:
      - $ref: '#/components/schemas/AdmittingPrivilegesModel'
      - $ref: '#/components/schemas/AdmittingArrangementsModel'
      - $ref: '#/components/schemas/NonAdmittingAffiliationsModel'
      discriminator:
        propertyName: type
        mapping:
          AdmittingPrivileges: '#/components/schemas/AdmittingPrivilegesModel'
          AdmittingArrangements: '#/components/schemas/AdmittingArrangementsModel'
          NonAdmittingAffiliations: '#/components/schemas/NonAdmittingAffiliationsModel'
    ProviderAliasRequestModel:
      required:
      - firstName
      - lastName
      type: object
      properties:
        firstName:
          minLength: 1
          type: string
          description: The first (given) name of this alias.
        lastName:
          minLength: 1
          type: string
          description: The last (family) name of this alias.
      additionalProperties: false
    LiabilityInsurancePatchModel:
      type: object
      properties:
        name:
          type: string
          description: Name of insurance
        isSelfInsured:
          type: boolean
          description: Indicates whether the provider is self insured
        originalEffectiveDate:
          type: string
          description: Timestamp of when the initial insurance coverage became effective
          format: date-time
        currentEffectiveDate:
          type: string
          description: Timestamp of when the current insurance coverage became effective
          format: date-time
        currentExpirationDate:
          type: string
          description: Timestamp of when the current insurance expires
          format: date-time
        coverageType:
          enum:
          - Individual
          - Shared
          - Occurrence
          - ClaimsMade
          type: string
          description: 'Insurance type of coverage. Default: `Individual`'
        isUnlimitedCoverage:
          type: boolean
          description: Does this insurance have unlimited coverage?
        includesTailCoverage:
          type: boolean
          description: Indicates tail coverage status
        occurrenceCoverageAmount:
          type: number
          description: Amount of coverage provided by this insurance per occurrence
          format: double
        aggregateCoverageAmount:
          type: number
          description: Amount of aggregated coverage provided by this insurance
          format: double
        policyNumber:
          type: string
          description: Insurance policy number
      additionalProperties: false
    ProviderSpecialtyModel:
      type: object
      properties:
        lastUpdatedAt:
          type: string
          description: The date and time when the specialty was created or last modified.
          format: date-time
        id:
          type: string
          description: Unique identifier associated with this specialty.
          format: uuid
        type:
          enum:
          - Primary
          - Secondary
          - Additional
          type: string
          description: Type of specialty. Can be Primary (only one allowed), Secondary (only one allowed), or Additional (multiple allowed).
        taxonomyId:
          type: string
          description: Identifier of the taxonomy associated with this specialty. The same taxonomy cannot be used across multiple specialties for the same provider.
          format: uuid
      additionalProperties: false
    ProviderAliasModel:
      type: object
      properties:
        firstName:
          type: string
          description: The first (given) name of this alias.
        lastName:
          type: string
          description: The last (family) name of this alias.
        id:
          type: string
          description: Unique identifier for this alias.
          format: uuid
      additionalProperties: false
    MedicaidEnrollmentModel:
      type: object
      properties:
        lastUpdatedAt:
          type: string
          description: The date and time when the object was created or modified.
          format: date-time
        id:
          type: string
          description: Unique identifier associated with this Medicaid enrollment.
          format: uuid
        state:
          enum:
          - AL
          - AK
          - AZ
          - AR
          - CA
          - CO
          - CT
          - DE
          - DC
          - FL
          - GA
          - HI
          - ID
          - IL
          - IN
          - IA
          - KS
          - KY
          - LA
          - ME
          - MD
          - MA
          - MI
          - MN
          - MS
          - MO
          - MT
          - NE
          - NV
          - NH
          - NJ
          - NM
          - NY
          - NC
          - ND
          - OH
          - OK
          - OR
          - PA
          - RI
          - SC
          - SD
          - TN
          - TX
          - UT
          - VT
          - VA
          - WA
          - WV
          - WI
          - WY
          - AS
          - GU
          - MP
          - PR
          - VI
          type: string
          description: State of the Medicaid enrollment.
        nonVerifiedInfo:
          $ref: '#/components/schemas/MedicaidEnrollmentNonVerifiedInfoModel'
      additionalProperties: false
    HospitalAffiliationDepartmentModel:
      type: object
      properties:
        name:
          type: string
          description: The name of the department.
        contact:
[...]
