openapi: 3.2.0
info:
  title: Verifiable API Documentation Reports API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: Reports
paths:
  /organization/reports/sanctionsandexclusions:
    get:
      tags:
      - Reports
      summary: List sanctions and exclusions reports for the organization
      description: Returns a list of all the sanctions and exclusions reports that have been created so far. The reports are sorted in descending order from latest created to oldest.
      operationId: ListSanctionsAndExclusionsReports
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SanctionsAndExclusionsReportInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /organization/reports/enrollments:
    get:
      tags:
      - Reports
      summary: List enrollments reports for the organization
      description: Returns a list of all the enrollment reports that have been created so far. The reports are sorted in descending order from latest created to oldest.
      operationId: ListEnrollmentsReports
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EnrollmentsReportInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /organization/reports/expirable-credentials:
    get:
      tags:
      - Reports
      summary: List expirable credentials reports for the organization
      description: Returns a list of all the expirable credentials reports that have been created so far. The reports are sorted in descending order from latest created to oldest.
      operationId: ListExpirableCredentialsReports
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExpirableCredentialsReportInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
  /organization/reports/roster:
    get:
      tags:
      - Reports
      summary: List roster reports for the organization
      description: Returns a list of all the roster reports that have been created so far. The reports are sorted in descending order from latest created to oldest.
      operationId: ListRosterReports
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RosterReportInfoModel'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    RosterReportInfoModel:
      type: object
      properties:
        date:
          type: string
          description: The time when the report was created.
          format: date-time
        path:
          type: string
          description: Path to the report.
      additionalProperties: false
    ExpirableCredentialsReportInfoModel:
      type: object
      properties:
        date:
          type: string
          description: The time when the report was created.
          format: date-time
        path:
          type: string
          description: Path to the report.
      additionalProperties: false
    EnrollmentsReportInfoModel:
      type: object
      properties:
        date:
          type: string
          description: The time when the report was created.
          format: date-time
        path:
          type: string
          description: Path to the report.
      additionalProperties: false
    SanctionsAndExclusionsReportInfoModel:
      type: object
      properties:
        date:
          type: string
          description: The time when the report was created.
          format: date-time
        path:
          type: string
          description: Path to the report.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
