openapi: 3.2.0
info:
  title: Verifiable API Documentation Board Certifications API
  description: '# Introduction


    This document contains the official documentation for the latest version of the Verifiable API.'
  version: 26.12.1.962
servers:
- url: https://discovery.verifiable.com/api
  description: Production
- url: https://discovery-staging.verifiable.com/api
  description: Staging
tags:
- name: BoardCertifications
  description: These endpoints allow you to add board certifications to a provider and perform certification lookups.
paths:
  /sources/board-certifications:
    get:
      tags:
      - BoardCertifications
      summary: List board certification sources (Deprecated)
      description: Returns a list of all board certification source that are currently supported and used for verifications.
      operationId: ListBoardCertificationSources
      parameters:
      - name: availability
        in: query
        description: If set, the items will be filtered on the availability specified by this parameter
        schema:
          enum:
          - Available
          - Disabled
          - ComingSoon
          type: string
      - name: isDegraded
        in: query
        description: If set, the items will be filtered on the degraded status specified by this parameter
        schema:
          type: boolean
      - name: count
        in: query
        description: The number of items to include in a single page.
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          format: int32
      - name: sortedBy
        in: query
        description: The property by which the returned data will be sorted.
        schema:
          enum:
          - Id
          - Name
          - SourceId
          type: string
      - name: sort
        in: query
        schema:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
      - name: offset
        in: query
        description: The offset for the page to start.
        deprecated: true
        schema:
          type: integer
          format: int32
      - name: cursor
        in: query
        description: The cursor to render the page requested. To load the first page send an empty cursor, then the system will generate the cursors to go to the next and/or previous pages automatically.
        schema:
          type: string
      - name: sortDirection
        in: query
        description: The direction the returned data will be sorted by.
        schema:
          enum:
          - Asc
          - Desc
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCertificationSourcePageModel'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
      security:
      - Bearer: []
components:
  schemas:
    BoardCertificationSourceModel:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier associated with this board certification source.
          format: uuid
        name:
          type: string
          description: Board certification source name.
        availability:
          enum:
          - Available
          - Disabled
          - ComingSoon
          type: string
          description: Availability indicator of the source. Only sources that are `Available` should be used for board certification verifications.
        isDegraded:
          type: boolean
          description: The sources we use for verifications are not hosted by Verifiable. In some cases we detect the source to be unavailable. In that case `isDegraded` will be set to `true`.
        url:
          type: string
          description: The URL used to fetch the certification data for this source.
          format: uri
      additionalProperties: false
    BoardCertificationSourcePageModel:
      type: object
      properties:
        previousCursor:
          type: string
          description: The value to use for `cursor` to get to the previous paginated page. `null` will be returned if it's the first page.
        nextCursor:
          type: string
          description: The value to use for `cursor` to get to the next paginated page. `null` will be returned if it's the last page.
        nextOffset:
          type: integer
          description: The value to use for `offset` to get the next page following the current page or `null` if this page is the last.
          format: int32
          deprecated: true
        pageSize:
          type: integer
          description: The maximum number of items included in this page.
          format: int32
        count:
          type: integer
          description: The number of items in this page.
          format: int32
        totalCount:
          type: integer
          description: The total number of items in all pages combined.
          format: int32
        items:
          type: array
          items:
            $ref: '#/components/schemas/BoardCertificationSourceModel'
          description: The providers in the current page.
        sortedBy:
          enum:
          - Id
          - Name
          - SourceId
          type: string
          description: The property by which the data is sorted.
        sortDirection:
          enum:
          - Asc
          - Desc
          type: string
          description: The direction in which the data is sorted.
        sort:
          type: object
          additionalProperties:
            enum:
            - Asc
            - Desc
            type: string
          description: The properties and directions the data is sorted by.
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: http
      description: 'Enter your bearer token in the format: Bearer {your token}'
      scheme: bearer
      bearerFormat: custom
x-tagGroups:
- name: Authentication
  tags:
  - Authentication
- name: Definitions
  tags:
  - Definitions
- name: Providers
  tags:
  - Providers
  - ProvidersInfo
  - ProviderProfiles
  - Notes
  - Files
- name: Facilities
  tags:
  - Facilities
  - FacilitiesInfo
  - FacilitiesSpecialties
- name: Verifications
  tags:
  - Licenses
  - Datasets
  - DEA
  - BoardCertifications
- name: Monitoring
  tags:
  - Monitoring
  - Alerts
- name: Credentialing
  tags:
  - CredentialingRequests
- name: Integrations
  tags:
  - Integrations
  - Webhooks
- name: Audits
  tags:
  - Audit
- name: Account
  tags:
  - Users
- name: Organizations
  tags:
  - Reports
- name: Models
  tags:
  - Dataset Records
  - Webhook Callbacks
